{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
<div class="page-header">
	{% if section == "add"%}
		<h1>Rabattcode hinzufügen</h1>
	{% else %}
		<h1>Rabattcodes</h1>
	{% endif %}

	 {% if success %}
		{% if section == add%}
		<div class="alert alert-success" role="alert">Rabattcode erfolgreich hinzugefügt</div>
		{% else %}
			<div class="alert alert-success" role="alert">Rabattcode erfolgreich hinzugefügt</div>
		{% endif %}

		{% endif %}
	{% if section == "add" %}
		<form action="{% url 'addvoucherscp' %}" method="post">
			{% csrf_token %}
			{{ form  }}
			<div>
				<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "edit" %}
		<form action="{% url 'editvoucherscp' voucher.id %}" method="post">
			{% csrf_token %}
			{{ form  }}
			<div>
				<input type="submit" value="bearbeiten" />
			</div>
		</form>
	{% else %}
	<div class="pull-right">
		<a href="{% url 'addvoucherscp'%}"><button>Rabattcode hinzuf&uuml;gen</button></a>
	</div>
	<div>
		<table class="table" id="allvouchers">
			<thead>
				<th>ID</th>
				<th>Code</th>
				<th>Wert (%)</th>
				<th>Zugewiesener User</th>
				<th>Aktivierungen</th>
				<th>Maximale Aktivierungen</th>
				<th>Gültig ab</th>
				<th>Gültig bis</th>
				<th>bearbeiten</th>
				<th>erstellt am</th>
				<th></th>
			</thead>
			<tbody>
				{% for voucher in vouchers %}
				<tr>
					<td>{{ voucher.id }}</td>
					<td>{{ voucher.voucher|escape  }}</td>
					<td>{{ voucher.value }}</td>
					<td>{{ voucher.owner }}</td>
					<td>{{ voucher.activations }}</td>
					<td>{{ voucher.activation_limit }}</td>
					<td>{{ voucher.start_date|date:"d.m.Y" }}</td>
					<td>{{ voucher.expired_date|date:"d.m.Y" }}</td>
					<td>{{ voucher.created_at|date:"d.m.Y" }}</td>
					<td><a href="{% url 'editvoucherscp' voucher.id %}">bearbeiten</a></td>
					<td><a href="{% url 'appsvoucherscp' voucher.id %}">applications</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		{% endif %}
		<script>
			$(document).ready(function() {
				$('#allvouchers').DataTable({});
				$('#id_start_date').daterangepicker({
					"singleDatePicker": true,
					autoUpdateInput: false,
					  locale: {
						  cancelLabel: 'Clear'
					  }
				});

			$('#id_start_date').on(
					'apply.daterangepicker',
					function(ev, picker) {
						$(this).val(
								picker.startDate.format('MM/DD/YYYY'));
					});
			$('#id_expired_date').daterangepicker({
				"singleDatePicker": true,
				autoUpdateInput: false,
				  locale: {
					  cancelLabel: 'Clear'
				  }
			});

			$('#id_expired_date').on(
				'apply.daterangepicker',
				function(ev, picker) {
					$(this).val(
							picker.startDate.format('MM/DD/YYYY'));
				});
			});
		</script>
	</div>
{% endblock %}