{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Inserate -gearo {% endblock %} 
{% block content %}
<div class="page-header">
<h2>Inserate</h2>

<div class="pull-right">
		<a href="{% url 'advertisementsexport' %}" target="_blank"><button
				class="btn btn-default">exportieren</button></a>
	</div>
</div>
<table class="data">
<thead>
	<tr>
		<th>ID</th>
		<th>Namen</th>
		<th>Kategorie</th>
		<th>Preis Tag</th>
		<th>Preis 3 Tage</th>
		<th>Preis 7 Tage</th>
		<th>Wert</th>
		<th>Anmietungen</th>
		<th>Punkte</th>
		<th>Ranking</th>
		<th>Link</th>
	</tr>
	</thead>
	<tbody>
	{% for ad in ads %}
		<tr>
			<td>{{ ad.id }}</td>
			<td>{{ ad.title}}</td>
			<td>{{ad.category}}</td>
			<td>{{ ad.priceday}}</td>
			<td>{{ ad.pricethree}}</td>
			<td>{{ ad.priceweek}}</td>
			<td>{{ ad.articleofvalue}}</td>
			<td>todo</td>
			<td>{{ ad.ad_points}}</td>
			<td>{{ad.ranking}}</td>
			<td><a href="{% url "addetail" ad.id %}" target="_blank">link</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}