{% load staticfiles %}
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html lang="de"class="ie iem7"><![endif]-->
<!--[if lt IE 7 ]><html lang="de" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" lang="en-US" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en-US" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en-US" class="ie ie9"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->

<html lang="de">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">

<title>{% block title%} {% endblock %}</title>


<link href="{% static 'gearo/images/favicon.ico' %}" rel="Shortcut Icon" />
<link href="{% static 'gearo/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gearo/css/controll.css' %}" rel="stylesheet">
<link href="{% static 'gearo/css/font-awesome.min.css' %}" rel="stylesheet">

<link href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{% static 'gearo/css/sweetalert2.css' %}" rel="stylesheet">
{% block styles %}{% endblock %}

<script src="{% static 'gearo/js/jquery.min.js' %}"></script>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="{% static 'gearo/js/tinymce/tinymce.min.js' %} "></script>
<script src="{% static 'gearo/js/tinymce/jquery.tinymce.min.js' %} "></script>
<!-- TODO: use own cdn  -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<script>tinyMCE.init({ selector:'textarea.tinymce', plugins: [
                                               'advlist autolink lists link image charmap print preview anchor',
                                                 'searchreplace visualblocks code fullscreen',
                                                 'insertdatetime media table contextmenu paste code'
                                               ],

default_link_target: "_blank"});</script>

<script>
$(function(){
	$("table.data").DataTable()
});
</script>

{% block scripts %}{% endblock %}

</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'staffdash' %}">Dashboard</a></li>
					<li><a href="{% url 'adcategorie' %}">Kategorieren</a></li>
					<li><a href="{% url 'settings' %}">Einstellungen</a></li>
					<li><a href="{% url 'supportfaq' %}">Support</a></li>
					<li><a href="{% url 'emailtemplates' %}">E-Mails</a></li>
					<li><a href="{% url 'voucherscp' %}">Rabattcodes</a></li>
					<li><a href="{% url 'pages' %}">Seiten</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	{% block submenu %}{% endblock %}
	<div id="content">
		{% block messages %}
			<div class="centered-div">
				{% if messages %}
					{% for message in messages %}
						<div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
					{% endfor %}
				{% endif %}
			</div>
		{% endblock %}
		{% block content %} {% endblock %}
	</div>
		
</body>