{% extends "gearo/controllarea/base.html" %} {% load staticfiles %}
{% block title %} Kategorien {% endblock %} 
{% block content %}
	<div class="page-header">
	{% if section == "add" %}
		 <h1>Kategorie hinzufügen</h1>
	{% elif section == "edit" %}
		<h1>Kategorie "{{cat.name}}" bearbeiten</h1>
	{% elif section == "delete" %}
		<h1> </h1>
	{% else %}
	  <h1>Kategorie Übersicht</h1>
	{% endif %}
	</div>
	{% if section == "add" %}
		 {% if success %}
			<div class="alert alert-success" role="alert">Kategorie erfolgreich hinzugefügt</div>
		{% endif %}
		<form action="{% url 'addadcategorie' %}" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "edit" %}
		{% if success %}
			<div class="alert alert-success" role="alert">Kategorie erfolgreich bearbeitet</div>
		{% endif %}
		<form action="{% url 'editadcategorie' cat.id %}" method="post">
	    	{% csrf_token %}
	    	{{ form}}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "delete" %}
		<h1> </h1>
	{% else %}
	<div class="pull-right">
  	<a href="{% url 'addadcategorie'%}"><button> Kategorie hinzuf&uuml;gen</button></a>
	</div>
	<table class="table" id="allcat">
		<thead>
			<th>ID</th>
			<th>Name</th>
			<th>Parent</th>
			<th>bearbeiten</th>
		</thead>
		<tbody>
			{% for cat in cats %}
			<tr>
				<td>{{ cat.id }}</td>
				<td>{{ cat.name }}</td>
				<td>{{ cat.parent|default:"Main" }}
				</td>
				<td><a href="{% url 'editadcategorie' cat.id %}">bearbeiten</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$(document).ready(function() {
			$('#allcat').DataTable({});
		});
	</script>
	{% endif %}
{% endblock %}
