{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
	<div class="page-header">
		<h1>Einstellungen anpassen</h1>
		<form action="{% url 'settings' %}" method="post">
			{% csrf_token %}
			{{ form  }}
			<div>
				<input type="submit" value="Submit" />
			</div>
		</form>
	</div>
{% endblock %}
