{% extends "gearo/controllarea/dashboard-base.html" %}

{% block content %}
    <h1>Top Ads</h1>
    <form class="new-user-form" method="GET" action="">
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>#</th>
                <th>Category</th>
                <th>Title</th>
                <th>Owner</th>
                <th>Creation Date</th>
            </tr>
        </thead>
        <tbody>

            {% for ad in ads %}
            <tr>
                <th>{{ ad.id }}</th>
                <th>{{ ad.count }}</th>
                <th>{{ ad.category }}</th>
                <th>{{ ad.title }}</th>
                <th>{{ ad.owner }}</th>
                <th>{{ ad.creation_date|date }}</th>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}