{% extends "gearo/controllarea/dashboard-base.html" %}
{% load static from staticfiles %}

{% block scripts %}
    <script src="//cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js"></script>
    <script src="{% static 'gearo/js/jquery.flot.axislabels.js' %}"></script>
    <script src="{% static 'gearo/js/dashboard-chart.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>{{ obj_name }}</h1>

    <p>Choose month and year</p>
    <form class="dash-form" method="POST">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        {{ form.month.errors }}
        <p><label for="{{ form.month.id_for_label }}">Month:</label>
        {{ form.month }}</p>
        {{ form.year.errors }}
        <p><label for="{{ form.year.id_for_label }}">Year:</label>
        {{ form.year }}</p>
        {{ form.fees.errors }}
        <label>Fees:</label>
        {{ form.fees }}
        <div id="cont"></div>
        <input type="submit" value="Submit">
    </form>

    <h3>Now:</h3>
    <table class="dash-extra-table">
        <thead>
            <tr>
                <th>Fee Type</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for value in num_obj %}
            <tr>
                {% for el in value %}
                    <th>{{ el|title }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>New in {{ time_period_string }}:</h3>
    {{ chart.as_html }}

    <h3>Total in {{ time_period_string }}:</h3>
    {{ chart_total.as_html }}

{% endblock %}