
{% extends "gearo/controllarea/dashboard-base.html" %}
{% load static from staticfiles %}

{% block scripts %}
    <script src="//cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js"></script>
    <script src="{% static 'gearo/js/jquery.flot.axislabels.js' %}"></script>
    <script src="{% static 'gearo/js/dashboard-chart.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>{{ obj_name }}</h1>

    <p>Choose month and year</p>
    <form class="dash-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    <h3>Now: {{ num_obj }}</h3>

    <h3>New in {{ time_period_string }}:</h3>
    {{ chart.as_html }}

    <h3>Total in {{ time_period_string }}:</h3>
    {{ chart_total.as_html }}

{% endblock %}