{% extends "gearo/controllarea/base.html" %}
{% load static from staticfiles %}

{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'gearo/css/dashboard.css' %}">
{% endblock %}

{% block submenu %}
	<div id="sidebar">
		<ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="{% if active_tab == 'users_tab' %} active{% endif %}"><a href="{% url 'staffdash' %}">Number of Users</a></li>
                <li role="presentation" class="{% if active_tab == 'ads_tab' %} active{% endif %}"><a href="{% url 'staffdash-new-ads' %}">Number of Ads</a></li>
                <li role="presentation" class="{% if active_tab == 'top_ads_tab' %} active{% endif %}"><a href="{% url 'staffdash-top-ads' %}">Top Ads</a></li>
                <li role="presentation" class="{% if active_tab == 'fin_trans_tab' %} active{% endif %}"><a href="{% url 'staffdash-finished-transactions' %}">Finished Transactions</a></li>
                <li role="presentation" class="{% if active_tab == 'income_tab' %} active{% endif %}"><a href="{% url 'staffdash-income' %}">Income</a></li>
                <li role="presentation" class="{% if active_tab == 'gear_tab' %} active{% endif %}"><a href="{% url 'staffdash-gear-value' %}">Gear Value</a></li>
                <li role="presentation" class="{% if active_tab == 'stat_tab' %} active{% endif %}"><a href="{% url 'staffdash-transaction-statuses' %}">Transaction Statuses</a></li>
		</ul>
	</div>
{% endblock %}