{% extends "gearo/controllarea/dashboard-base.html" %}
{% load static from staticfiles %}

{% block scripts %}
    <script src="//cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js"></script>
    <script src="{% static 'gearo/js/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static 'gearo/js/dashboard-chart.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Transaction Statuses</h1>

    {{ chart.as_html }}
    <div id="flot-memo"></div>

    <table class="dash-extra-table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Number</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for value in row %}
                        <th>{{ value|title }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}