{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
<div class="page-header">
	{% if section == "add" %}
		 <h1>E-Mail Template hinzufügen</h1>
	{% elif section == "edit" %}
		<h1>E-Mail Template  "{{template.name}}" bearbeiten</h1>
	{% elif section == "delete" %}
		<h1> </h1>
	{% else %}
	  <h1>E-Mail Template Übersicht</h1>
	{% endif %}
	</div>
	{% if section == "add" %}
		 {% if success %}
			<div class="alert alert-success" role="alert">Template erfolgreich hinzugefügt</div>
		{% endif %}
		<form action="{% url 'addemailtemplates' %}" method="post">
	    	{% csrf_token %}
	    	{{ form  }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "edit" %}
		{% if success %}
			<div class="alert alert-success" role="alert">Template erfolgreich bearbeitet</div>
		{% endif %}
		<form action="{% url 'editemailtemplates' template.id %}" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "delete" %}
		<h1> </h1>
	{% else %}
	<div class="pull-right">
  	<a href="{% url 'addemailtemplates'%}"><button>Template hinzuf&uuml;gen</button></a>
	</div>
	<div>
		<h3> E-Mail-Template</h3>
		<table class="table" id="allmailtemplates">
		<thead>
			<th>Name</th>
			<th>Beschreibung</th>
			<th>bearbeiten</th>
		</thead>
		<tbody>
			{% for template in templates %}
			<tr>
				<td>{{template.name }}</td>		
				<td>{{ template.description}}</td>
				<td><a href="{% url 'editemailtemplates' template.id %}">bearbeiten</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$(document).ready(function() {
			$('#allmailtemplates').DataTable({});
		});
	</script>
	</div>
	
	</div>
	{% endif %}
{% endblock %}
