{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
<div class="page-header">
	{% if section == "add" %}
		 <h1>Frage hinzufügen</h1>
	{% elif section == "edit" %}
		<h1>Frage "{{question.question}}" bearbeiten</h1>
	{% elif section == "delete" %}
		<h1> </h1>
	{% else %}
	  <h1>Fragen Übersicht</h1>
	{% endif %}
	</div>
	{% if section == "add" %}
		 {% if success %}
			<div class="alert alert-success" role="alert">Frage erfolgreich hinzugefügt</div>
		{% endif %}
		<form action="{% url 'supportaddquestion' %}" method="post">
	    	{% csrf_token %}
	    	{{ form|escape  }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "edit" %}
		{% if success %}
			<div class="alert alert-success" role="alert">Frage erfolgreich bearbeitet</div>
		{% endif %}
		<form action="{% url 'supporteditquestion' question.id %}" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "delete" %}
		<h1> </h1>
	{% else %}
	<div class="pull-right">
  	<a href="{% url 'supportaddquestion'%}"><button>Frage hinzuf&uuml;gen</button></a>
	</div>
	<div>
		<h3> Mieter</h3>
		<table class="table" id="alltenatcat">
		<thead>
			<th>ID</th>
			<th>Titel</th>
			<th>betrifft</th>
			<th>Kategorie</th>
			<th>bearbeiten</th>
			<th> Status </th>
		</thead>
		<tbody>
			{% for question in questions_m %}
			<tr>
				<td>{{ question.id }}</td>
				<td>{{ question.question|escape  }}</td>
				<td>{% if question.category.parent == 1 %}
						Mieter
					{% else %}
						Vermieter
					{% endif %}
				</td>				
				<td>{{ question.category }}</td>
				<td><a href="{% url 'supporteditquestion' question.id %}">bearbeiten</a></td>
				<td><a href="{% url 'supporttogglequestion' question.id %}">{% if question.active == 1 %} deaktivieren {% else %} aktivieren {% endif %} </a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$(document).ready(function() {
			$('#alltenatcat').DataTable({});
		});
	</script>
	</div>
	<div>
		<h3> Vermieter</h3>
		<table class="table" id="alllessorcat">
		<thead>
			<th>ID</th>
			<th>Titel</th>
			<th>betrifft</th>
			<th>Kategorie</th>
			<th>bearbeiten</th>
			<th> Status </th>
		</thead>
		<tbody>
			{% for question in questions_v %}
			<tr>
				<td>{{ question.id }}</td>
				<td>{{ question.question|escape  }}</td>
				<td>{% if question.category.parent == 1 %}
						Mieter
					{% else %}
						Vermieter
					{% endif %}
				</td>				
				<td>{{ question.category }}</td>
				<td><a href="{% url 'supporteditquestion' question.id %}">bearbeiten</a></td>
				<td><a href="{% url 'supporttogglequestion' question.id %}">{% if question.active == 1 %} deaktivieren {% else %} aktivieren {% endif %} </a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$(document).ready(function() {
			$('#alllessorcat').DataTable({});
		});
	</script>
	</div>
	{% endif %}
{% endblock %}

{% block submenu %}
	<div id="sidebar">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" ><a href="{% url 'supportcp' %}">Support</a></li>
			<li role="presentation" {% if section|length == 0 %}class="active"{% endif%}><a href="{% url 'supportfaq' %}">FAQ</a></li>
			<li role="presentation" {% if section == "catover" %}class="active"{% endif%}><a href="{% url 'supportfaqcat' %}">FAQ Kategorien</a></li>
		</ul>
	</div>
{% endblock %}