{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
<div class="page-header">
	{% if section == "add" %}
		 <h1>FAQ Kategorie hinzufügen</h1>
	{% elif section == "edit" %}
		<h1>FAQ Kategorie "{{cat.category}}" bearbeiten</h1>
	{% elif section == "delete" %}
		<h1> </h1>
	{% else %}
	  <h1>FAQ Kategorien Übersicht</h1>
	{% endif %}
	</div>
	{% if section == "add" %}
		{% if success %}
			<div class="alert alert-success" role="alert">FAQ Kategorie erfolgreich hinzugefügt</div>
		{% endif %}
		<form action="{% url 'supportaddfaqcat'%}" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "edit" %}
		{% if success %}
			<div class="alert alert-success" role="alert">FAQ Kategorie erfolgreich bearbeitet</div>
		{% endif %}
		<form action="{% url 'supporteditfaqcat' cat.id %}" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% else %}
	<div class="pull-right">
  	<a href="{% url 'supportaddfaqcat'%}"><button>FAQ Kategorie hinzuf&uuml;gen</button></a>
	</div>
	<table class="table" id="allfaqcat">
		<thead>
			<th>ID</th>
			<th>Titel</th>
			<th> betrifft </th>
			<th>bearbeiten</th>
		</thead>
		<tbody>
			{% for cat in cats %}
			<tr>
				<td>{{ cat.id }}</td>
				<td>{{ cat.category }}</td>
				<td>{% if cat.parent == 1 %}
						Mieter
					{% else %}
						Vermieter
					{% endif %}
				</td>
				<td><a href="{% url 'supporteditfaqcat' cat.id %}">bearbeiten</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$(document).ready(function() {
			$('#allfaqcat').DataTable({});
		});
	</script>
	{% endif %}
{% endblock %}

{% block submenu %}
<div id="sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" ><a href="{% url 'supportcp' %}">Support</a></li>
		<li role="presentation" {% if section|length == 0 %}class="active"{% endif%}><a href="{% url 'supportfaq' %}">FAQ</a></li>
		<li role="presentation" {% if section == "catover" %}class="active"{% endif%}><a href="{% url 'supportfaqcat' %}">FAQ Kategorien</a></li>
	</ul>
</div>
{% endblock %}