{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
	<div class="page-header">
	{% if section == "add" %}
		 <h1>Seiten hinzufügen</h1>
	{% elif section == "edit" %}
		<h1>Seite "{{site.title}}" bearbeiten</h1>
	{% elif section == "delete" %}
		<h1> </h1>
	{% else %}
	  <h1>Seiten Übersicht</h1>
	{% endif %}
	</div>
	{% if section == "add" %}
		{% if success %}
			<div class="alert alert-success" role="alert">Seite erfolgreich hinzugefügt</div>
		{% endif %}
		<form action="{% url 'pageadd'%}" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% elif section == "edit" %}
		{% if success %}
			<div class="alert alert-success" role="alert">Seite erfolgreich bearbeitet</div>
		{% endif %}
		<form action="{% url 'pageedit' site.id %}" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<div>
	    		<input type="submit" value="Submit" />
			</div>
		</form>
	{% else %}
	<div class="pull-right">
  	<a href="{% url 'pageadd'%}"><button>Seite hinzuf&uuml;gen</button></a>
	</div>
	<table class="table" id="allsite">
		<thead>
			<th>ID</th>
			<th>Titel</th>
			<th>bearbeiten</th>
		</thead>
		<tbody>
			{% for site in sites %}
			<tr>
				<td>{{ site.id }}</td>
				<td>{{ site.title }}</td>
				<td><a href="{% url 'pageedit' site.id %}">bearbeiten</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$(document).ready(function() {
			$('#allsite').DataTable({});
		});
	</script>
	{% endif %}
{% endblock %} 

