{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
Hallo {{ user.username}},
<p>hier gibt es nichts zu sehen.</p>
{% endblock %}

{% block submenu %}
<div id="sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" class="active" ><a href="{% url 'supportcp' %}">Support</a></li>
		<li role="presentation"><a href="{% url 'supportfaq' %}">FAQ</a></li>
		<li role="presentation"><a href="{% url 'supportfaqcat' %}">FAQ Kategorien</a></li>
	</ul>
</div>
{% endblock %}