{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
Task to be scheduled:
<ul>
	<li>calculate ranking points</li>
	<li>response time</li>
	<li>mark advertisements as hired or not available</li>
	<li>calculate user review<li>
	<li>delete not used temporary images<li>
</ul>
{% endblock %}

