{% extends "gearo/controllarea/base.html" %} {% load staticfiles %}

{% block title %}Vermittlungen -gearo {% endblock %}

{% block content %} Vollständige liste exportieren
    <div class="page-header">
        <h2>Vermittlungen</h2>
        <div class="pull-right">
            <a href="{% url 'export_finished_transactions' %}" target="_blank">
                <button class="btn btn-default">Exportieren</button>
            </a>
            <a href="{% url 'export_all_transactions' %}" target="_blank">
                <button class="btn btn-default">Vollständige liste exportieren</button>
            </a>
            <a href="{% url 'todaypayout' %}" target="_blank">
                <button class="btn btn-default">Auszahlungen heute</button>
            </a>
        </div>
    </div>
    <table class="data">
        <thead>
            <tr>
                <th>ID Vermietung</th>
                <th>Vorname (Vermieter)</th>
                <th>Nachname (Vermieter)</th>
                <th>Firmierung (Vermieter)</th>
                <th>Vorname (Mieter)</th>
                <th>Nachname (Mieter)</th>
                <th>Firmierung (Mieter)</th>
                <th>Datum (Abholung)</th>
                <th>Datum (Rückgabe)</th>
                <th>Inserat Titel</th>
                <th>Kategorie</th>
                <th>Wiederbeschaffungswert</th>
                <th>Gewerblich</th>
                <th>Gewerblich mit MwSt</th>
                <th>Erste Vermietung innerhalb 15 Tage</th>
                <th>Mietobjekt (Brutto)</th>
                <th>Versicherung (Brutto)</th>
                <th>gesamt</th>
                <th>Mietobjekt 1 (netto)</th>
                <th>Versicherung + Versicherungsprovision (Netto)</th>
                <th>netto Rechnungsbetrag</th>
                <th>19% gesetzliche Mwst.</th>
                <th>Brutto Rechnungsbetrag</th>
                <th>Mietobjekt 1 (netto)</th>
                <th>Versicherungs Provision</th>
                <th>netto Rechnungsbetrag</th>
                <th>19% gesetzliche Mwst.</th>
                <th>Zwischensumme</th>
                <th>Versicherung (inkl. 19% Versicherungssteuer)</th>
                <th>Brutto Rechnungsbetrag</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
                <tr>
                    <td>{{ trans.id }}</td>
                    <td>{{ trans.ad.owner.first_name }}</td>
                    <td>{{ trans.ad.owner.last_name }}</td>
                    <td>{{ trans.ad.owner.profile.business_name }}</td>
                    <td>{{ trans.applicant.first_name }}</td>
                    <td>{{ trans.applicant.last_name }}</td>
                    <td>{{ trans.applicant.profile.business_name }}</td>
                    <td>{{ trans.rent_start }}</td>
                    <td>{{ trans.rent_end }}</td>
                    <td>{{ trans.ad.title }}</td>
                    <td>{{ trans.ad.category }}</td>
                    <td>{{ trans.ad.articleofvalue }}</td>
                    <td>{% if trans.ad.owner.gearouser.is_business %} ja {% else %} nein {% endif %}</td>
                    <td>{% if trans.ad.owner.gearouser.is_business_with_vat %} ja {% else %} nein {% endif %}</td>
                    <td>{% if trans.is_first %} ja {% else %}nein{% endif %}</td>
                    <td>{{ trans.articlecost_sum }}</td>
                    <td>{{ trans.insurance_debt_sum }}</td>
                    <td>{{ trans.total }}</td>
                    <td>{{ trans.articlecost }}</td>
                    <td>{{ trans.insurance_profit }}</td>
                    <td>{{ trans.netto_total }}</td>
                    <td>{{ trans.vat }}</td>
                    <td>{{ trans.total }}</td>
                    <td>{{ trans.articlecost }}</td>
                    <td>{{ trans.insurance_commission }}</td>
                    <td>{{ trans.netto_total_special }}</td>
                    <td>{{ trans.vat_special }}</td>
                    <td>{{ trans.subgoal }}</td>
                    <td>{{ trans.insurance_sum }}</td>
                    <td>{{ trans.total_special }}</td>
                    <td>{{ trans.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
