{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Benutzer -gearo {% endblock %} 
{% block content %}
<div class="page-header">
<h2>Userübersicht</h2>
</div>
<table class="data">
<thead>
	<tr>
		<th>ID</th>
		<th>Benutzername</th>
		<th>Vorname </th>
		<th>Nachname </th>
		<th>E-Mail</th>
		<th>Telefon</th>
		<th>Straße</th>
		<th>PLZ</th>
		<th>Ort</th>
		<th>Bewertung</th>
		<th>Ranking Punkte</th>
		<th>Last login</th>
		<th>dabei seit</th>
	</tr>
	</thead>
	<tbody>
	{% for user in users %}
		<tr>
			<td>{{user.id}}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.first_name }} </td>
			<td>{{ user.last_name }} </td>
			<td>{{ user.email }}</td>
			<td>{{ user.gearouser.phone_mobile }} </td>
			<td>{{ user.gearouser.street }}</td>
			<td>{{ user.gearouser.zip }}</td>
			<td>{{ user.gearouser.place }}</td>
			<td>{{ user.gearouser.country.name }}</td>
			<td>{{ user.gearouser.user_review }}</td>
			<td>{{ user.gearouser.user_ranking }}</td>
			<td>{{ user.last_login }}</td>
			<td>{{ user.date_joined }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %} 
