{% extends "gearo/controllarea/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
<div class="page-header">
		<h1>Voucher applications</h1>
			<div>
				<table class="table" id="allvouchers">
				<thead>
					<th>User</th>
					<th>Ad</th>
					<th>Transaction</th>
					<th>Applied at</th>
					<th>Status</th>
				</thead>
				<tbody>
					{% for application in voucher.applications.all %}
					<tr>
						<td>{{ application.user }}</td>
						<td><a href="{% url 'addetail' application.advertisement.id %}" target="_blank">{{ application.advertisement.id }}</a></td>
						<td>{{ application.transaction.id }}</td>
						<td>{{ application.created_at|date:"d.m.Y" }}</td>
						<td>{{ application.status }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

	</div>
{% endblock %}
