{% extends "gearo/base.html" %}
{% load compress staticfiles %}

{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block og_tags %}
    {% if category %}
        <meta property="og:title" content="{{ category }} mieten & günstig leihen beim Sharingportal gearo"/>
        <meta property="og:description" content="{{ category.meta_description }}"/>
        <meta property="og:url" content="https://{{ request.get_host }}"/>
        <meta property="og:image" content="https://{{ request.get_host }}/static/gearo/images/startpage/title.jpg"/>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block meta_tags %}
    {% if category %}
        <meta name="description" content="{{ category.meta_description }}">
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var ads = {{ all_ads|safe }};
        var image = '{% static "gearo/images/marker.png" %}';
        var imagePath = '{% static 'gearo/images/markers' %}/m';
    </script>
    {{ block.super }}
    <script src="{% static 'gearo/js/markerclusterer.js' %}"></script>
    <script src="{% static 'gearo/js/oms.min.js' %}"></script>
    <script src="{% static 'gearo/js/mustache.min.js' %}"></script>
    <script src="{% static 'gearo/js/reverse.js' %}"></script>
    <script src="{% static 'gearo/js/ScrollMagic.min.js' %}"></script>
    {% compress js %}
        <script src="{% static 'gearo/js/map.js' %}"></script>
        <script src="{% static 'gearo/js/search.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        <div id="result_search">
            {% include 'gearo/search/searchbar.html' %}
        </div>
        <div id="result-categories">
            <ul id="startpage-categories">
                <li>
                    <a href="{% url 'search_results' cat_slug='fotokamera' %}" id="photocamera" data-category="fotokamera">
                        <span class="hidden-xs">Fotokameras</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search_results' cat_slug='filmkamera' %}" id="moviecamera" data-category="filmkamera">
                        <span class="hidden-xs">Filmkameras</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search_results' cat_slug='objektive' %}" id="objective" data-category="objektive">
                        <span class="hidden-xs">Objektive</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search_results' cat_slug='licht' %}" id="light" data-category="licht">
                        <span class="hidden-xs">Licht</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search_results' cat_slug='stativezubehoer' %}" id="accessories" data-category="stativezubehoer">
                        <span class="hidden-xs">Stative & Zubehör</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search_results' cat_slug='audio' %}" id="audio" data-category="audio">
                    <span class="hidden-xs">Audio</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search_results' cat_slug='drohnepilot' %}" id="drohne" data-category="drohnepilot">
                        <span class="hidden-xs">Drohne & Pilot</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search_results' cat_slug='studiosraueme' %}" id="studio" data-category="studiosraueme">
                    <span class="hidden-xs"> Studios & Räume</span>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>

        <div id="results" class="nano">
            <div class="search-ordering">
                <span id="sorting_label">Sortieren nach</span>
                <div class="btn-group" role="group">
                    <button type="button" class="dropdown-toggle sorting-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="sorting_placeholder">
                            {% if sorting == '-priceday' %}
                                Preis abfallend
                            {% elif sorting == 'priceday' %}
                                Preis aufsteigend
                            {% else %}
                                Beliebteste zuerst
                            {% endif %}
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu sorting-options">
                        <li><a href="#" data-sorting="-priceday">Preis abfallend</a></li>
                        <li><a href="#" data-sorting="priceday">Preis aufsteigend</a></li>
                        <li><a href="#" data-sorting="-ranking">Beliebteste zuerst</a></li>
                    </ul>
                </div>
            </div>
            <div class="container nano-content">
                <div class="row">
                    {% if results %}
                        <div class="search-results">
                            {% for result in results %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <a href="{{ result.profile_url }}">
                                        <img src="{{ result.profile_avatar_url }}" class="uavatar-small">
                                    </a>
                                    <a href="{{ result.absolute_url }}" class="noUnderline" title="{{ result.title }}">
                                        <div class="panel panel-gearo">
                                            <div class="panel-heading"><span>{{ result.title }}</span></div>
                                            <div class="panel-body">
                                                <img src="{{ result.thumbnail_url }}" alt="alt text" style="text-decoration: none;" class="img-responsive">
                                                <span class="price">
                                                    {{ result.priceday }} &euro;
                                                    <small>{% if result.include_mwst %}inkl. MwSt{% else %}Mwst. frei.{% endif %}</small>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="loader">
                            <img src="{% static 'gearo/images/loading_indicator.svg' %}">
                        </div>
                    {% else %}
                        <div id="emptyresult">
                            <img src="{% static 'gearo/images/result_logo.png' %}">
                            <p>Zu deiner Suche sind noch keine Angebote vorhanden</p>
                            <a id="resultinsert" href="{% url 'advertise' %}">Stelle jetzt ein Angebot ein.</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="resultmap" class="col-xs-12 col-sm-12"></div>
        <div class="clear"></div>
    </div>
{% endblock %}