<div id="page-search">
	<form method="post" id="searchbar"  action="{% url 'search_redirect' %}">
		{% csrf_token %}
		<div class="input-group ">
			<input id="serachterm" type="text" class="form-control"
				placeholder="z.B Canon 5D MK II" name="term" value="{{ term }}" aria-describedby="basic-addon1" >
			<input type="text" name="place"  id="searchplace" value="{{ place }}" class="form-control searchshort"
				placeholder="z.B Köln" aria-describedby="basic-addon1">
			<input id="searchpickup" type="text" name="pickup" class="form-control searchshort dateicon" value="{{ start }}" placeholder='Abholung' aria-describedby="basic-addon1">
			<input id="searchreturn" type="text" name="return" class="form-control searchshort dateicon" value="{{ end }}" placeholder="Rückgabe" aria-describedby="basic-addon1">

            <div class="btn-group" role="group">
                <button type="button" class="{% if not place %}disabled {% endif %}dropdown-toggle distance-dropdown{% if distance %} distance-selected{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="distance_placeholder">{% if not distance %}Umkreis{% else %}{{ distance }}km{% endif %}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu distance-options">
                    <li><a href="#" data-distance="5">5km</a></li>
                    <li><a href="#" data-distance="10">10km</a></li>
                    <li><a href="#" data-distance="15">15km</a></li>
                    <li><a href="#" data-distance="20">20km</a></li>
                    <li><a href="#" data-distance="30">30km</a></li>
                    <li><a href="#" data-distance="50">50km</a></li>
                    <li><a href="#" data-distance="100">100km</a></li>
                </ul>
            </div>

            <input name="lat" id="lat" type="hidden" value="{{ lat }}">
            <input name="lng" id="lng" type="hidden" value="{{ lng }}">
            <input id="distance" type="hidden" name="distance" value="{{ distance }}">
            <input id="sorting" type="hidden" name="sorting" value="{{ sorting }}">
            <input name="cat_slug" id="category" value="{{ cat }}" type="hidden">
            <button type="submit" class="btn btn-default">
                <span class="fa fa-search"></span> Suchen
            </button>
		</div>
	</form>
</div>
					