<div class="transaction_address">
    {% if contact.profile.business_name  %}
        {{ contact.profile.business_name }}<br/>
    {% endif %}
    {{ contact.first_name }} {{ contact.last_name }}<br/>
    {{ contact.gearouser.street }} <br/>
    {{ contact.gearouser.zip}} {{ contact.gearouser.place }} <br/>
    {{ contact.gearouser.country.name }}
</div>
<div class="transaction_contacts">
    {% if contact.gearouser.phone %}
        {{ contact.gearouser.phone }}<br>
    {% endif %}
    {% if contact.gearouser.phone_mobile %}
        {{ contact.gearouser.phone_mobile }}
    {% endif %}
</div>