<div class="margin-top-15px">
    {% if is_registration_proof_validation_asked %}
        <div class="field-wrapper margin-top-10px">
            <a class="btn btn-black btn-image-id full-width">
                Handelsregisterauszug <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </a>
            <span class="buttons-span"><i class="fa fa-check field-icon-check"></i></span>
        </div>
    {% elif registration_proof_document.is_validated %}
        <div class="field-wrapper margin-top-10px">
            <a class="btn btn-default full-width">
                verifiziert <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </a>
            <span class="buttons-span"><i class="fa fa-check field-icon-check"></i></span>
        </div>
    {% else %}
        <div>
            {{ form.registration_proof.errors }}
        </div>
        <div class="field-wrapper margin-top-10px">
            <div class="btn btn-black btn-image-id full-width">
                <span>Handelsregisterauszug <i class="fa fa-upload" aria-hidden="true"></i></span>
                {{ form.registration_proof }}
            </div>
            <span class="buttons-span"><i class="fa fa-exclamation field-icon-exclamation"></i></span>
        </div>
        {% if registration_proof_document.is_refused %}
            <div class="red-color">
                Leider wurden deine Dokumente nicht akzeptiert. <br/>
                Bitte lade sie erneut hoch und achte auf die Richtigkeit und eine gute Lesbarkeit.
            </div>
        {% endif %}
    {% endif %}
</div>
