<div class="margin-top-15px">
    <h5>Personalausweis verifizieren</h5>

    {% if is_id_document_validation_asked %}
        <div class="field-wrapper margin-top-10px">
            <a class="btn btn-black btn-image-id">
                Vorderseite <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </a>
            <a class="btn btn-black btn-image-id" id="document_downside">
                Rückseite <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </a>
            <span class="buttons-span"><i class="fa fa-check field-icon-check"></i></span>
        </div>
        <div class="image-id-headline italic">
            Dein Personalausweis wird gerade verifiziert.
        </div>
    {% elif identity_proof_document.is_validated %}
        <div class="field-wrapper margin-top-10px">
            <a class="btn btn-default full-width">
                verifiziert <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </a>
            <span class="buttons-span"><i class="fa fa-check field-icon-check"></i></span>
        </div>
    {% else %}
        <div>
            {{ form.document_upside.errors }}
            {{ form.document_downside.errors }}
        </div>
        <div class="field-wrapper margin-top-10px">
            <div class="btn btn-black btn-image-id">
                <span>Vorderseite <i class="fa fa-upload" aria-hidden="true"></i></span>
                    {{ form.document_upside }}
            </div>
            <div class="btn btn-black btn-image-id" id="document_downside">
                <span>Rückseite <i class="fa fa-upload" aria-hidden="true"></i></span>
                    {{ form.document_downside }}
            </div>
            <span class="buttons-span"><i class="fa fa-exclamation field-icon-exclamation"></i></span>
        </div>
        {% if identity_proof_document.is_refused %}
            <div class="red-color">
                <!-- Your ID document was REFUSED. -->
                Dein Personalausweis wurde nicht akzeptiert. <br/>
                Bitte achte darauf, dass man das Gesicht gut erkennt und die Daten lesbar sind.
            </div>
        {% endif %}
        <div class="image_id_headline italic">
            Lade ein Foto deines Personalausweises hoch und verifiziere deine Identität.
            Lade die Fotos als JPG oder PNG mit maximal 3,0 MB Dateigröße hoch.
        </div>
    {% endif %}
</div>
