<div class="margin-top-15px">
    {% if is_shareholder_declaration_validation_asked %}
            <a class="btn btn-black btn-image-id full-width">
                -zusätzliche Gesellschaftervereinbarungen <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </a>
    {% elif shareholder_declaration_document.is_validated %}
        <a class="btn btn-default full-width">
            verifiziert <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </a>
    {% else %}
        <div>
            {{ form.shareholder_declaration.errors }}
        </div>
        <div class="btn btn-black btn-image-id full-width">
            <span>-zusätzliche Gesellschaftervereinbarungen <i class="fa fa-upload" aria-hidden="true"></i></span>
            {{ form.shareholder_declaration }}
        </div>
        {% if shareholder_declaration.is_refused %}
            <div class="red-color">
                Leider wurden deine Dokumente nicht akzeptiert. <br/>
                Bitte lade sie erneut hoch und achte auf die Richtigkeit und eine gute Lesbarkeit.
            </div>
        {% endif %}
    {% endif %}
</div>
