<div class="field-wrapper">
    {{ field }}
    <span class="field-span">
        {% if field.value and not field.errors %}
            <i class="fa fa-check field-icon-check"></i>
        {% else %}
            <i class="fa fa-exclamation field-icon-exclamation"></i>
        {% endif %}
    </span>
</div>
