<a href="{% url 'publicprofil' user.username %}">
    <div class="mail-user">
        <img src="{{ user.profile.avatar_thumbnail_url }}" class="uavatar-large">

        <div class="hidden-xs user-info">
            <div class="meta">
                <h4>{{ user.first_name }} {{ user.last_name|first }}.
                </h4><p><a href="{% url 'userdetailreviews' user.username %}">{{ user.gearouser.get_review }}</a></p>
                <p>{{ inquire.get_status_display }}</p>
            </div>
            {% if is_incoming %}
                <p>Anfrage vom {{ inquire.created_at|date:"d.m.Y" }}</p>
            {% else %}
                <p>Vermietung vom {{ inquire.created_at|date:"d.m.Y" }}</p>
            {% endif %}
        </div>
        <div class="visible-xs">
            <h4>{{ user.first_name }} {{ user.last_name|first }}.</h4>
        </div>
    </div>
</a>