{% load thumbnail %}
{% if is_incoming %}
    {% include 'gearo/user/partials/postbox_transaction_userprofile.html' with user=inquire.applicant %}
{% else %}
    {% include 'gearo/user/partials/postbox_transaction_userprofile.html' with user=inquire.lessor %}
{% endif %}
<div class="mail-body" data-href="
    {% if inquire.status == "incomplete" %}
        {% url 'completeinq' inquire.id %}
    {% elif inquire.chat.active %}
        {% url 'chat' inquire.chat.slug inquire.id %}
    {% else %}
        {% if is_incoming and inquire.status == "waiting" %}
            {% url 'maninq' inquire.id %}
        {% else %}
            {% url 'showinq' inquire.id %}
        {% endif %}
    {% endif %}">
    <div class="mail-content">
        {{ inquire.ad.title }}
        <div class="visible-xs inquire-date-created">
            {% if is_incoming %}
                <p>Anfrage vom {{ inquire.created_at|date:"d.m.Y" }}</p>
            {% else %}
                <p>Vermietung vom {{ inquire.created_at|date:"d.m.Y" }}</p>
            {% endif %}
        </div>
    </div>
    <div class="mail-ad-preview hidden-xs ">
        {% if inquire.ad.attachments.count > 0 %}
            {% with attachment=inquire.ad.attachments.all.0 %}
                <img src="{{ attachment.image|thumbnail_url:"ad_xs" }}" height="" alt="alt text" style="text-decoration: none;">
            {% endwith %}
        {% else %}
            <img src="{{ ATTACHMENT_PLACEHOLDER }}" height="" alt="alt text" style="text-decoration: none;">
        {% endif %}
    </div>
</div>