{% with id_proof_status=userprofil.billing_info.identity_proof_status %}
    {% if userprofil.gearouser.email_verified or userprofil.gearouser.phone_verified or userprofil.gearouser.facebook_verified or id_proof_status == 'VALIDATED' %}
        <div class="panel panel-gearo panel-border">
            <div class="panel-heading"><span>Verifizierungen</span></div>
            <div class="panel-body">
                <table class="verifications">
                    {% if userprofil.gearouser.email_verified %}
                        <tr>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td>E-Mail <span class="greyinfo">Bestätigt</span></td>
                        </tr>
                    {% endif %}
                    {% if userprofil.gearouser.phone_mobile and userprofil.gearouser.phone_verified %}
                        <tr>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td>Telefon <span class="greyinfo">Bestätigt</span></td>
                        </tr>
                    {% endif %}
                    {% if userprofil.gearouser.facebook_verified %}
                        <tr>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td>Facebook <span class="greyinfo">Bestätigt</span></td>
                        </tr>
                    {% endif %}
                    {% if id_proof_status == 'VALIDATED' %}
                        <tr>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td>Personalausweis <span class="greyinfo">Bestätigt</span></td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    {% endif %}
{% endwith %}