<div id="profilenav" class="hidden-xs">
    <ul class="nav nav-pills nav-stacked">
        <li class="{% if profile_site == 'profile_edit' %}gearoactive{% endif %}">
            <span>
                <i class="fa fa-circle {% if request.user.profile.is_profile_completed %}green-icon{% else %}red-icon{% endif %}"></i>
                <a href="{% url 'profile_edit'%}">
                    Profil bearbeiten
                </a>
            </span>
        </li>
        <li class="{% if profile_site == 'personal_info_edit' %}gearoactive{% endif %}">
            <span>
                <i class="fa fa-circle {% if request.user.gearouser.is_personal_info_completed %}green-icon{% else %}red-icon{% endif %}"></i>
                <a href="{% url 'personal_info_edit'%}">
                    Persönliche Informationen
                </a>
            </span>
        </li>
        <li class="{% if profile_site == 'contact_info_edit' %}gearoactive{% endif %}">
            <span>
                <i class="fa fa-circle {% if request.user.gearouser.is_contact_info_completed %}green-icon{% else %}red-icon{% endif %}"></i>
                <a href="{% url 'contact_info_edit'%}">
                    Kontaktdaten
                </a>
            </span>
        </li>
        <li class="{% if profile_site == 'identification_info_edit' %}gearoactive{% endif %}">
            <span>
                <i class="fa fa-circle {% if request.user.billing_info.is_identification_info_completed %}green-icon{% else %}red-icon{% endif %}"></i>
                <a href="{% url 'identification_info_edit'%}">
                    Identität
                </a>
            </span>
        </li>
        <li class="{% if profile_site == 'address_info_edit' %}gearoactive{% endif %}">
            <span>
                <i class="fa fa-circle {% if request.user.gearouser.is_address_completed %}green-icon{% else %}red-icon{% endif %}"></i>
                <a href="{% url 'address_info_edit'%}">
                    Adress- & Rechnungs-informationen
                </a>
            </span>
        </li>
        <li class="{% if profile_site == 'bank_info_edit' %}gearoactive{% endif %}">
            <span>
                <i class="fa fa-circle {% if request.user.billing_info.is_bank_info_completed %}green-icon{% else %}red-icon{% endif %}"></i>
                <a href="{% url 'bank_info_edit'%}">
                    Bankinformationen
                </a>
            </span>
        </li>
        <li class="{% if profile_site == 'change_email' %}gearoactive{% endif %}">
            <span>
                <i class="fa fa-circle {% if request.user.email %}green-icon{% else %}red-icon{% endif %}"></i>
                <a href="{% url 'change_email'%}">
                    Email ändern
                </a>
            </span>
        </li>
        <li class="{% if profile_site == 'change_password' %}gearoactive{% endif %}">
            <a href="{% url 'change_password'%}">
                Passwort ändern
            </a>
        </li>
        {% if is_invoice_tab %}
            <li class="gearoactive">
                <a href="{% url 'mybills' %}">Rechnungen</a>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if profile_site == 'mybillsapp' %}gearoactive{% endif %}">
                        <a href="{% url 'mybillsapp'%}" >Anmietungen</a>
                    </li>
                    <li class="{% if profile_site == 'mybillsles' %}gearoactive{% endif %}">
                        <a href="{% url 'mybillsles'%}" >Vermietungen </a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{% url 'mybills' %}">Rechnungen</a>
            </li>
        {% endif %}
    </ul>
</div>
