<div class="panel panel-gearo panel-border">
    <div class="panel-heading">
        <span>Bewertungen </span>
    </div>
    <div class="panel-body">
        {% include 'gearo/review/reviewpreview.html' with review=user.userreviews.last lastreview=lastreview %}
    </div>
</div>