<div class="panel panel-gearo panel-border">
    <div class="panel-heading">
        <a {% if show_profile_link %}href="{% url 'publicprofil' user.username %}" target="_blank"{% else %}class="no-underline"{% endif %}>
            {% if user.gearouser.is_corporate_account %}
                <span>{{ user.profile.business_name }}</span>
            {% else %}
                <span>{{ user.first_name }} {{ user.last_name|first }}.</span>
            {% endif %}
        </a>
    </div>
    <div class="panel-body">
        {% if show_profile_link %}
            <a href="{% url 'publicprofil' user.username %}" target="_blank">
				<img id="profileimg"  src="{{ user.profile.avatar_thumbnail_url }}">
            </a>
        {% else %}
            <img id="profileimg" src="{{ user.profile.avatar_thumbnail_url }}">
        {% endif %}
        <div id="ownerinfo">
            <ul>
                {% if user.profile.homepage|length > 0 %}
                    <li><a href="{{ user.profile.homepage }}" target="_blank"><i class="fa fa-desktop"></i></a></li>
                {% endif %}
                {% if user.profile.vimeo|length > 0 %}
                    <li><a href="{{ user.profile.vimeo }}" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
                {% endif %}
                {% if user.profile.youtube|length > 0 %}
                    <li><a href="{{ user.profile.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                {% endif %}
                {% if user.profile.instagram|length > 0 %}
                    <li><a href="{{ user.profile.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                {% endif %}
                {% if user.profile.facebook|length > 0 %}
                    <li><a href="{{ user.profile.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                {% endif %}
                {% if user.profile.twitter|length > 0 %}
                    <li><a href="{{ user.profile.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                {% endif %}
                {% if user.profile.linkedin|length > 0 %}
                    <li><a href="{{ user.profile.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                {% endif %}
                {% if user.profile.flickr|length > 0 %}
                    <li><a href="{{ user.profile.flickr }}" target="_blank"><i class="fa fa-flickr"></i></a></li>
                {% endif %}
                </ul>
            <div class="clear"></div>
            <p>
            {% if user.profile.self_description|length > 0 %}
                {{ user.profile.self_description|safe|escape }}
            {% else %}
                Hi, ich bin {{ user.first_name}}!
            {% endif %}
            </p>
            <p class="greyinfo">
                {{ user.gearouser.get_responsetime }}
            </p>
        </div>

    </div>
</div>

