{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'export_finished_transactions' %}" target="_blank">Exportieren</a>
    </li>
    <li>
        <a href="{% url 'export_all_transactions' %}" target="_blank">Vollständige liste exportieren</a>
    </li>
    <li>
        <a href="{% url 'todaypayout' %}" target="_blank">Auszahlungen heute</a>
    </li>
    {{ block.super }}
{% endblock %}

{% block search %}
    {{ block.super }}
    <div style="float: right;">
        <strong style="padding: 5px 15px; background: yellow; border-radius: 4px;">{{ fee_wallet_balance }}</strong>
        Collected FEES
    </div>
{% endblock %}