{% extends "gearo/root.html" %}
{% load staticfiles %}
{% load compress %}

{% block structure %}
<!DOCTYPE HTML>
<!--[if IEMobile 7 ]><html lang="de" class="ie iem7"><![endif]-->
<!--[if lt IE 7 ]><html lang="de" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" lang="en-US" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en-US" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en-US" class="ie ie9"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html prefix="og: https://gearo.de#" lang="de">
<head>
    {% block og_tags %}
        <meta property="og:title" content="Film und Fotoequipment Sharing – gearo.de"/>
        <meta property="og:description" content="Miete Film- und Fotoequipment von Personen in deiner Umgebung, oder vermiete dein eigenes Gear voll versichert an andere Kreative."/>
        <meta property="og:url" content="https://{{ request.get_host }}"/>
        <meta property="og:image" content="https://{{ request.get_host }}/static/gearo/images/startpage/title.jpg"/>
    {% endblock %}

    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="l0ho-ScbXt7VWDxTpwAUHaUdFXBZtmebXAVXREz76-c"/>

    {% block meta_tags %}
        <meta name="description" content="Miete und vermiete professionelles Film- und Fotoequipment! Leih dir günstig Kameras, Objektive, Audio und weiteres Equipment. Einfach und voll versichert!">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% block styles %}
        <link href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/sweetalert2/4.2.6/sweetalert2.min.css" rel="stylesheet">
        <link href="{% static 'gearo/images/favicon.ico' %}" rel="Shortcut Icon"/>

        {% compress css %}
            <link href="{% static 'gearo/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/intlTelInput.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/style.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/jquery-ui.min.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/jquery.bxslider.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/timepicki.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/font-awesome.min.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/bootstrap-datepicker.standalone.min.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/cropper.min.css' %}" rel="stylesheet">
        {% endcompress %}
    {% endblock %}

    {% block scripts %}
        <script type="text/javascript">
            var isUserAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
            var isProfileCompleted = {% if request.user.gearouser.is_completed and request.user.billing_info.is_completed %}true{% else %}false{% endif %};
            var isTermsAccepted = {% if request.user.gearouser.is_terms_accepted %}true{% else %}false{% endif %};
            var acceptTermsUrl = '{% url 'accept_terms' %}';
            var accountEditUrl = "{% url 'profile_edit' %}";
            var paymentEditUrl = "{% url 'bank_info_edit' %}";
            var loginUrl = "{% url 'login' %}";
            var passwordResetUrl = "{% url 'resetpassword' %}";
            var mailcheckUrl = "{% url 'mailcheck' %}";
            var registerUrl = "{% url 'register' %}";
            var notificationRoom = "{{ request.user.gearouser.notification_token }}";
            var utilsScript = "{% static 'gearo/js/TelInputWidget/intlTelInput_utils.js' %}";
            var allowedCountries = {{ allowed_countries }};
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIMfxTcsiB_IrD4QYB3g5nnO1ndYjYsc8&libraries=places&language=de"></script>
        <script src="//use.typekit.net/kxp0wlf.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/sweetalert2/4.2.6/sweetalert2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js" type="text/javascript"></script>
        <script src="{% static 'gearo/js/jquery.min.js' %}"></script>
        <script src="{% static 'gearo/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'gearo/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'gearo/js/parsley.min.js' %}"></script>
        <script src="{% static 'gearo/js/js.cookie.js' %}"></script>
        <script src="{% static 'gearo/js/tag-it.min.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.bxslider.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.fileupload.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.ui.widget.js' %}"></script>
        <script src="{% static 'gearo/js/load-image.all.min.js' %}"></script>
        <script src="{% static 'gearo/js/canvas-to-blob.min.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.iframe-transport.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.fileupload-process.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.fileupload-image.js' %}"></script>
        <script src="{% static 'gearo/js/timepicki.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.matchHeight-min.js' %}"></script>
        <script src="{% static 'gearo/js/signature_pad.min.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.anyslider.min.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.twbsPagination.min.js' %}"></script>
        <script src="{% static 'gearo/js/tinymce/tinymce.min.js' %}"></script>
        <script src="{% static 'gearo/js/tinymce/jquery.tinymce.min.js' %}"></script>
        <script src="{% static 'gearo/js/moment.min.js' %}"></script>
        <script src="{% static 'gearo/js/moment-range.min.js' %}"></script>
        <script src="{% static 'gearo/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'gearo/js/bootstrap-datepicker.de.min.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.mCustomScrollbar.min.js' %}"></script>
        <script src="{% static 'gearo/js/cropper.min.js' %}"></script>

        {% compress js %}
            <script src="{% static 'gearo/js/datepick.js' %}"></script>
            <script src="{% static 'gearo/js/daterangepicker.js' %}"></script>
            <script src="{% static 'gearo/js/robust-websocket.js' %}"></script>
            <script src="{% static 'gearo/js/main.js' %}"></script>
        {% endcompress %}

	{% endblock %}
	<script data-mce-type="text/javascript">
	var gaProperty = 'UA-81638537-1';
	var disableStr = 'ga-disable-' + gaProperty;
	if (document.cookie.indexOf(disableStr + '=true') > -1) {
	 window[disableStr] = true;
	}
	function gaOptout() {
	 document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
	 window[disableStr] = true;
	}
	</script>
	<script>
		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		 ga('create', 'UA-81638537-1', 'auto', {
		     anonymizeIp: true
		 });
		 ga('send', 'pageview');
    </script>

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
	0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
	for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
	mixpanel.init("7882bb6d20ce5f3f315e0ae6f7fe6086");
    </script><!-- end Mixpanel -->

    {% block fb_pixel %}
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');

            fbq('init', '543378225840806');
            fbq('track', "PageView");
        </script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=543378225840806&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->
    {% endblock %}
    
</head>
{% block body %}
    <body>
    <div class="lightbox">
        <img src="{% static 'gearo/images/loading_indicator.svg' %}">
    </div>
    <div id="wrapper">
        {% block headerdiv %}
            {{ block.super }}
        {% endblock %}
        <div id="contentwrapper">
            {% block messages %}
                <div class="centered-div">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissable" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">
                                    &times;
                                </a>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
        {% block footerdiv %}
            {{ block.super }}
        {% endblock %}
    </div>
    {% block livechat_widget %}
        <!-- Start of LiveChat (www.livechatinc.com) code -->
        <script type="text/javascript">
            window.__lc = window.__lc || {};
            window.__lc.license = 8322051;
            (function() {
              var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
              lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
            })();
        </script>
        <!-- End of LiveChat code -->
    {% endblock %}

    {% block bottom_scripts %}{% endblock bottom_scripts %}
    </body>
    </html>
{% endblock %}
{% endblock %}
