{% extends "gearo/root.html" %}
{% load staticfiles %}
{% block structure %}
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html lang="de"class="ie iem7"><![endif]-->
<!--[if lt IE 7 ]><html lang="de" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" lang="en-US" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en-US" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en-US" class="ie ie9"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->

<html lang="de">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">

<title>Miete und vermiete Film- und Fotoequipment - gearo</title>
<link href="{% static 'gearo/images/favicon.ico' %}" rel="Shortcut Icon" />
<link href="{% static 'gearo/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gearo/css/style.css' %}" rel="stylesheet">
<link href="{% static 'gearo/css/font-awesome.min.css' %}"	rel="stylesheet">

<script type="text/javascript" src="//use.typekit.net/kxp0wlf.js"></script>
<script type="text/javascript">
	try {
		Typekit.load();
	} catch (e) {
	}

</script>

<script src="{% static 'gearo/js/jquery.min.js' %}"></script>
<script src="{% static 'gearo/js/bootstrap.min.js' %} "></script>
<script src="{% static 'gearo/js/jquery.autocomplete.min.js'%}"></script>
<script src="{% static 'gearo/js/sweetalert2.min.js'%}"></script>
<link href="{% static 'gearo/css/sweetalert2.css' %}" rel="stylesheet">
<script src="{% static 'gearo/js/parsley.min.js'%}"></script>
<script>
Parsley.addMessages(
		'de',
		{
			defaultMessage : "Die Eingabe scheint nicht korrekt zu sein.",
			type : {
				email : "Die Eingabe muss eine gültige E-Mail-Adresse sein.",
				url : "Die Eingabe muss eine gültige URL sein.",
				number : "Die Eingabe muss eine Zahl sein.",
				integer : "Die Eingabe muss eine Zahl sein.",
				digits : "Die Eingabe darf nur Ziffern enthalten.",
				alphanum : "Die Eingabe muss alphanumerisch sein."
			},
			notblank : "Die Eingabe darf nicht leer sein.",
			required : "Dies ist ein Pflichtfeld.",
			pattern : "Die Eingabe scheint ungültig zu sein.",
			min : "Die Eingabe muss größer oder gleich %s sein.",
			max : "Die Eingabe muss kleiner oder gleich %s sein.",
			range : "Die Eingabe muss zwischen %s und %s liegen.",
			minlength : "Die Eingabe ist zu kurz. Es müssen mindestens %s Zeichen eingegeben werden.",
			maxlength : "Die Eingabe ist zu lang. Es dürfen höchstens %s Zeichen eingegeben werden.",
			length : "Die Länge der Eingabe ist ungültig. Es müssen zwischen %s und %s Zeichen eingegeben werden.",
			mincheck : "Wählen Sie mindestens %s Angaben aus.",
			maxcheck : "Wählen Sie maximal %s Angaben aus.",
			check : "Wählen Sie zwischen %s und %s Angaben.",
			equalto : "Dieses Feld muss dem anderen entsprechen."
		});

Parsley.setLocale('de');
</script>
{% if login %}
<script type="text/javascript">
$(function(){
	$("#loginModal").modal();
});
</script> 
{% endif %}
{% if showReset %}
<script type="text/javascript">
$(function(){
	$("#PasswordModal").modal();
});
</script> 
{% endif %}
{% if Resetpass %}
<script type="text/javascript">
$(function(){
	swal('Fast geschafft!',
		'Wir haben dir eine E-Mail zum zurücksetzen des Passwortes geschickt.',
		'success')
});
</script>
{% endif %}
{% if registersucces %}
<script type="text/javascript">
$(function(){
	swal('Fast geschafft!',
		'Schaue in deine E-Mails und bestätige deine E-Mail-Adresse',
		'success')
});
</script>
{% endif %}

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-81638537-1', 'auto');
 ga('send', 'pageview');

</script>

</head>
<body>
	<div id="wrapper">
		<div id="contentwrapper" class="notoppadding">
			<div id="errorteaser">
				{% block headerdiv %}
					{{ block.super }}
				{% endblock %}
			<div class="centered-div">
				{% block content %} {% endblock %}
			</div>
			</div>
		</div>
		{% block footerdiv %}
			{{ block.super }}
		{% endblock %}
	</div>
</body>
</html>
{% endblock %}