{% extends "gearo/base.html" %} {% load compress staticfiles %}
{% block title %} FAQ -gearo {% endblock %}

{% block scripts %}
	{{ block.super }}
	{% compress js %}
		<script src="{% static 'gearo/js/faq.js' %}"></script>
	{% endcompress %}
{% endblock %}

{% block content %}
<div class="centered-div" >
	<div class="page-header">
	  <h1>Häufig gestellte Fragen</h1>
	</div>
	<div class="page-content">
		<div>
			<div id="faqtenant">
				<h4>Für Mieter</h4>
				<div>
					{% for category in tenant_categories %}
						<h5>{{ category.category }}</h5>
						<div>
							{% for faq in category.faqs.all %}
								<h6>{{ faq.question|safe }}</h6>
								<div>{{ faq.answer|safe }}</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>		
		<div>
			<div id="faqlessor">
				<h4>Für Vermieter</h4>
				<div>
					{% for category in lessor_categories %}
						<h5>{{ category.category }}</h5>
						<div>
							{% for faq in category.faqs.all %}
								<h6>{{ faq.question|safe }}</h6>
								<div>{{ faq.answer|safe }}</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div>
			<h5 class="faq">Noch etwas unklar?</h5>
			<p class="faq">
				Konnten alle deine Fragen beantwortet werden? Falls nicht, dann kannst du uns einfach über <a href="https://www.facebook.com/gearoshare/"><span  class="fa fa-facebook-square" aria-hidden="true"></span> Facebook</a> oder per E-Mail an hi@gearo.de erreichen. Wir freuen uns dir helfen zu können!
			</p>
		</div>
	</div>
</div>
{% endblock %}