{% load staticfiles %}
{% load socialaccount %}

{% block structure %}
    {% block headerdiv %}
        <header>
            <nav class="navbar {% if white %} navbar-home {% else %} navbar-default {% endif%}">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gearo-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% if user.is_authenticated %}
                            <a href="{% url 'postbox'%}" class="pull-right postboxicon visible-xs-block">
                                <i class="fa fa-envelope" id="notification"></i>
                                {% if notifications_count > 0 %}
                                    <span class="badge">{{ notifications_count }}</span>
                                {% endif %}
                            </a>
                        {% endif %}
                        <a class="navbar-brand" href="{% url 'search_results' %}" title="gearo">
                            <img src="{% if white %} {% static 'gearo/images/logo-white.png' %} {% else %} {% static 'gearo/images/logo.png' %} {% endif%}"
                                 alt="Filmequipment Fotoequipment mieten vermieten gearo logo" {% if white %} height="40" width="178" {% else %}height="44" {% endif%}>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="gearo-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li class="first highlight btn-create ">
                                    <a href="{% url 'advertise' %}" id="insert"> Jetzt vermieten </a>
                                </li>
                                <li class="hidden-xs">
                                    <a href="{% url 'postbox'%}">
                                        <i class="fa fa-envelope" id="notification"></i>
                                        {% if notifications_count > 0 %}
                                            <span class="badge">{{ notifications_count }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="dropdown" id="profile">
                                    <a data-target="#" href="{% url 'publicprofil' user.username %}" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img src="{{ request.user.profile.avatar_thumbnail_url }}" class="uavatar-large">
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'publicprofil' user.username %}">Meine Inserate</a></li>
                                        <li><a href="{% url 'profile_edit' %}">Profil bearbeiten</a></li>
                                        <li><a href="{% url 'personal_info_edit' %}">Persönliche Informationen</a></li>
                                        <li><a href="{% url 'contact_info_edit' %}">Kontaktdaten</a></li>
                                        <li><a href="{% url 'identification_info_edit' %}">Identität</a></li>
                                        <li><a href="{% url 'address_info_edit' %}">Adress- & Rechnungs-informationen</a></li>
                                        <li><a href="{% url 'bank_info_edit' %}">Bankinformationen</a></li>
                                        <li><a href="{% url 'mybillsapp' %}">Rechnungen</a></li>
                                        <li><a href="{% url 'change_email' %}">Email ändern</a></li>
                                        <li><a href="{% url 'change_password' %}">Passwort ändern</a></li>
                                        {% if user.is_staff %}
                                            <li><a href="{% url 'staffdash' %}">Controll area</a></li>
                                        {% endif %}
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="first highlight btn-create ">
                                    <a data-toggle="modal" href="#loginModal" title="Jetzt vermieten" id="insert">Jetzt vermieten
                                    </a>
                                </li>
                                <li id="header-register" class="btn-register">
                                    <a data-toggle="modal" href="#registerModal" title="Registrieren">Registrieren
                                    </a>
                                </li>
                                <li class="btn-login last">
                                    <a data-toggle="modal" href="#loginModal" title="Login">
                                        <i class="fa fa-sign-in login-icon"></i>Login
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="login">
                            <a href="{% provider_login_url 'facebook' method='oauth2' %}" id="facebook_auth_button">
                                <i class="fa fa-facebook" aria-hidden="true"></i> Log-In mit facebook
                            </a>
                            <span>oder</span>
                            <hr>
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="error-container" id="error_firstname"><ul class="errorlist"></ul></div>
                                <input name="email" type="text" class="form-control" placeholder="E-Mail-Adresse">
                                <input name="password" type="password" class="form-control" placeholder="Passwort">
                                <div class="pull-right">
                                    <a href="{% url 'resetpassword'%}" id="forgetpassword" title="Neues Passwort anfordern">
                                        Passwort vergessen?
                                    </a>
                                </div>
                                <div class="clear"></div>
                                <button type="submit" class="btn btn-default">Log-in</button>
                                <hr>
                                Hast du noch keinen Account?
                                <a href="{% url 'register'%}" id="registerlink" title="Registrieren">Registrieren</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Password Modal -->
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="forgetpassword">
                            <form action="{% url 'resetpassword' %}" method="post">
                                {% csrf_token %}
                                <p>Fordere jetzt dein neues Passwort an.</p>
                                <input name="email" type="text" required class="form-control" placeholder="E-Mail">
                                <div class="clear"></div>
                                <button type="submit" class="btn btn-default">Neues Passwort anfordern</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="register">
                            <a href="{% provider_login_url 'facebook' method='oauth2' %}">
                                <img src="{% static 'gearo/images/button_fb_login.png' %}">
                            </a>
                            <span>oder</span>
                            <form action="{%  url 'register' %}" method="post">
                                {% csrf_token %}
                                <div class="error-container" id="error_firstname">{{ form.firstname.errors }}</div>
                                <input type="text" name="firstname" class=" firstname form-control" placeholder="Vorname" data-parsley-required data-parsley-errors-container="#error_firstname">
                                <div class="error-container" id="error_lastname">{{ form.lastname.errors }}</div>
                                <input type="text" name="lastname" class=" lastname form-control" placeholder="Nachname" data-parsley-required data-parsley-errors-container="#error_lastname">
                                <p>Dein Nachname wird nicht öffentlich angezeigt!</p>
                                <div class="error-container" id="error_email">{{ form.email.errors }}</div>
                                <input type="text" name="email" class="email form-control" placeholder="E-Mail-Adresse" data-parsley-type="email" data-parsley-required data-parsley-errors-container="#error_email">
                                <div class="error-container" id="error_password">{{ form.password.errors }}</div>
                                <input type="password" name="password" class="password form-control" placeholder="Passwort" data-parsley-required data-parsley-errors-container="#error_password">
                                <div class="error-container" id="error_terms">{{ form.terms.errors }}</div>
                                <div>
                                    <input id="id_terms" name="terms" type="checkbox" class="pull-left" data-parsley-checkmin="1" required data-parsley-errors-container="#error_terms">
                                    <span>
                                        Indem ich bei gearo registriere, erkläre ich mich mit den
                                        <a href="/agb/" target="_blank">Nutzungs- bedingungen und Datenschutzregeln</a> einverstanden.
                                    </span>
                                </div>
                                <button type="submit" class="btn btn-default">Registrieren</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footerdiv %}
        <div id="footerdiv">
            <div class="container">
                <div class="row"><div class="col-md-10  col-md-offset-1 divier"></div></div>
                <div class="row"><div class="col-md-2 hidden-xs"></div>
                    <div class="col-xs-6 col-md-2">
                        <div class="center-block">
                            <h5>Hilfe</h5>
                            <ul>
                                <li><a href="/faq/">FAQ</a></li>
                                <li><a href="mailto:hi@gearo.de">Kontakt</a></li>
                                <li><a href="/preisinformationen">Preisinformationen</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-xs-6 col-md-2">
                        <div class="center-block">
                            <h5>be a gearo</h5>
                            <ul>
                                <li><a href="/die-gearo-versicherung/">Versicherung</a></li>
                                <li><a href="/vermiete/">vermiete</a></li>
                                <li><a href="/miete/">miete</a></li>
                                <li><a href="/das-gearo-uber-und-ruckgabeprotokoll">Mietvertrag</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="center-block">
                            <h5>gearo</h5>
                            <ul>
                                <li><a href="/uber-uns/">über gearo</a></li>
                                <li><a href="/jobs/">Jobs</a></li>
                                <li><a href="/presse/">Presse</a></li>
                                <li><a href="http://blog.gearo.de">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="center-block">
                            <h5>Rechtliches</h5>
                            <ul>
                                <li><a href="/agb/">AGB</a></li>
                                <li><a href="/datenschutz/">Datenschutz</a></li>
                                <li><a href="{% url 'index' %}impressum/">Impressum</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="followus" class="pull-left">
                <img src="{% static 'gearo/images/follow.png' %}" alt="gearo equipment sharing">
            </div>
            <div class="clearfix"></div>
            <footer>
                <div>
                    <div class="social-media pull-left">
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/gearo_official" title="Instagram" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </li>
                            <li class="last">
                                <a href="https://www.facebook.com/gearoshare/" title="Facebook" target="_blank">
                                    <span class="fa fa-facebook-official"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div id="copy" class="pull-left">
                        <img height=20 width=20 src="{% static 'gearo/images/logo_wot.png' %}" alt="gearo Foto Video Ausrüstung mieten vermieten" > <br/>
                        &copy; 2017 gearo
                    </div>

                    <div class="handmade pull-right">
                        handmade in Cologne
                    </div>

                    <div class="clear"></div>
                </div>
            </footer>
        </div>
    {% endblock %}
{% endblock %}
