{% extends "gearo/base.html" %}
{% load staticfiles %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}
{% block content %}
{% block alert %}{% endblock%}
	<div class="page-header">
		<h1>{% block pageheader%}{% endblock%}</h1>
	</div>
	<div class="centered-div">
		<div id="gearorightcolumn" class="pull-right">
			{% block rightcolumn %}
			{% endblock%}
		</div>

		<div id="gearoleftcolumn" class="pull-right">
			{% block leftcolumn %}
			{% endblock %}
		</div>
		<div class="clear"></div>
	</div>
{% endblock %}
