{% if ad.has_schedule %}
    <table id='times'>
        {% if ad.time_mo_start and ad.time_mo_end %}
            <tr>
                <td>Mo :</td>
                <td>{{ ad.time_mo_start }}-{{ ad.time_mo_end }} Uhr</td>
            </tr>
        {% endif %}

        {% if ad.time_di_start and ad.time_di_end %}
            <tr>
                <td>Di :</td>
                <td>{{ ad.time_di_start }}-{{ ad.time_di_end }} Uhr</td>
            </tr>
        {% endif %}

        {% if ad.time_mi_start and ad.time_mi_end %}
            <tr>
                <td>Mi :</td>
                <td>{{ ad.time_mi_start }}-{{ ad.time_mi_end }} Uhr</td>
            </tr>
        {% endif %}

        {% if ad.time_do_start and ad.time_do_end %}
            <tr>
                <td>Do :</td>
                <td>{{ ad.time_do_start }}-{{ ad.time_do_end }} Uhr</td>
            </tr>
        {% endif %}

        {% if ad.time_fr_start and ad.time_fr_end %}
            <tr>
                <td>Fr :</td>
                <td>{{ ad.time_fr_start }}-{{ ad.time_fr_end }} Uhr</td>
            </tr>
        {% endif %}

        {% if ad.time_sa_start and ad.time_sa_end %}
            <tr>
                <td>Sa :</td>
                <td>{{ ad.time_sa_start }}-{{ ad.time_sa_end }} Uhr</td>
            </tr>
        {% endif %}

        {% if ad.time_so_start and ad.time_so_end %}
            <tr>
                <td>So :</td>
                <td>{{ ad.time_so_start }}-{{ ad.time_so_end }} Uhr</td>
            </tr>
        {% endif %}

    </table>
{% endif %}