{% extends "gearo/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
<div class="centered-div">
	{% include 'gearo/user/partials/user_navigation_left.html' with is_invoice_tab=True %}
	<div id="profilecontent" class="mybills">
	<div class="container">
			<div class="col-xs-12 visible-xs" id="billnav-xs">
				<ul class="nav nav-pills ">
					<li {% if profilesite == "mybillsapp" %} class="gearoactive" {% endif %}><a href="{% url 'mybillsapp'%}" >Anmietungen</a></li>
					<li {% if profilesite == "mybillsles" %} class="gearoactive" {% endif %}><a href="{% url 'mybillsles'%}" >Vermietungen </a></li>
				</ul>
			</div>
			{% for bill in invoices %}
				<div class="row item">
					<div class="col-xs-3 col-md-3 billsites text-left">
						{{bill.created_at|date:"d.m.Y"}}
					</div>
					<div class="col-xs-6 col-md-6 text-center billad">
						{{ bill.transaction.ad.title }}
					</div>
					<div class="col-xs-3 col-md-3 billsites text-right">
						<a href="{% url 'renderpdf' bill.id %}"><span class="hidden-xs">Rechnung</span> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
					</div>
				</div>
			{% empty %}
				<div class="row" >
				<div id="emptyresult" style="margin: 70px 0 0 120px;">
				<img src="{% static "gearo/images/result_logo.png" %}">
				<p>Es sind noch keine Rechnungen vorhanden</p>
				</div>
			</div>

			{% endfor %}
			<div class="row">
			<div class="col-md-6 text-center" id="billpagination">
						{{ bill.transaction.ad.title }}
					</div>	
			</div>	
		</div>
		<script>
		$(function() {
			var items = $(".mybills > .container > .row.item");
			var perPage = 10;

		    $('#billpagination').twbsPagination({
		        totalPages: Math.ceil(items.length/perPage),
		        visiblePages: 5,
		        first: "<<",
		        last: ">>",
		        prev: "<",
		        next: ">",
		        onPageClick: function(event, page) { // this is where the magic happens
					
		        	// someone changed page, lets hide/show trs appropriately
		            var showFrom = perPage * (page - 1);
		            var showTo = showFrom + perPage;
		            
		         // first hide everything, then show for the new page
		            items.hide().slice(showFrom, showTo).show();
		        }
		    });
		});
		</script>
	</div>
	<div class="clear"></div>
</div>
{% endblock %}