{% extends "gearo/bills/invoice_base.html" %}


{% block price_table %}
    {% if lessor.is_business_with_vat and trans.is_first and tenant.country_code == "DE" %}
        <tr>
            <td>
                {% if trans.calculated_duration == 1 %}
                    {{ trans.calculated_duration }} Tag
                {% else %}
                    {{ trans.calculated_duration }} Tage
                {% endif %}
            </td>
            <td>{{ trans.ad.title }}</td>
            <td>{{ trans.articlecost|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td class="bottomline">Versicherungsgebühr</td>
            <td class="bottomline">{{ trans.insurance_commission|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Netto Rechnungsbetrag</td>
            <td>{{ trans.netto_total_special|floatformat:2 }} €</td>
        </tr>
        <tr>
            <td></td>
            <td class="bottomline">19% gesetzliche Mwst.</td>
            <td class="bottomline">{{ trans.vat_special|floatformat:2 }} €</td>
        </tr>
        {% if trans.discount_value %}
            <tr><td></td>
                <td class="bottomline"> {{ trans.discount_value }} % Rabatt</td>
                <td class="bottomline">- {{ trans.discount|floatformat:2 }} €</td>
            </tr>
        {% endif %}
        <tr><td></td>
            <td>Zwischensumme</td>
            <td>{{ trans.subgoal_incl_discount|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Versicherung</td>
            <td>{{ trans.insurance_sum|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Brutto Rechnungsbetrag</td>
            <td>{{ trans.total_incl_discount|floatformat:2 }} €</td>
        </tr>
    {% elif lessor.is_business_with_vat and tenant.country_code == "DE" %}
        <tr>
            <td>
                {% if trans.calculated_duration == 1 %}
                    {{ trans.calculated_duration }} Tag
                {% else %}
                    {{ trans.calculated_duration }} Tage
                {% endif %}
            </td>
            <td>{{ trans.ad.title }}</td>
            <td>{{ trans.articlecost|floatformat:2 }} €</td>
        </tr>
        {% if trans.discount_value %}
            <tr><td></td>
                <td class="bottomline">{{ trans.discount_value }} % Rabatt</td>
                <td class="bottomline">- {{ trans.discount|floatformat:2 }} €</td>
            </tr>
        {% endif %}
        <tr><td></td>
            <td class="bottomline">Versicherung</td>
            <td class="bottomline">{{ trans.insurance_profit|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Netto Rechnungsbetrag</td>
            <td>{{ trans.netto_total|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>19% gesetzliche Mwst.</td>
            <td>{{ trans.vat|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Brutto Rechnungsbetrag</td>
            <td>{{ trans.total_incl_discount|floatformat:2 }} €</td>
        </tr>
    {% else %}
        <tr>
            <td>
                {% if trans.calculated_duration == 1 %}
                    {{ trans.calculated_duration }} Tag
                {% else %}
                    {{ trans.calculated_duration }} Tage
                {% endif %}
            </td>
            <td>{{ trans.ad.title }}</td>
            <td>{{ trans.articlecost_sum|floatformat:2 }} €</td>
        </tr>
        {% if trans.discount_value %}
            <tr><td></td>
                <td class="bottomline">{{ trans.discount_value }} % Rabatt</td>
                <td class="bottomline">- {{ trans.discount|floatformat:2 }} €</td>
            </tr>
        {% endif %}
        <tr><td></td>
            <td>Versicherung</td>
            <td>{{ trans.insurance_debt_sum|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Rechnungsbetrag</td>
            <td>{{ trans.total_incl_discount|floatformat:2 }} €</td>
        </tr>
    {% endif %}
{% endblock price_table%}


{% block footer_text %}
    {% if lessor.is_business_with_vat and tenant.country_code == "AT" %}
        Steuerschuldnerschaft des Leistungsempfängers. Die Lieferung ist eine steuerbefreite Lieferung.
    {% elif lessor.is_private and tenant.country_code == "AT" %}
        Die Lieferung ist eine steuerbefreite Lieferung.
    {% elif lessor.is_business_without_vat %}
        Kein Ausweis von Umsatzsteuer, da Kleinunternehmer gemäß § 19 UStG.
    {% endif %}
{% endblock footer_text %}
