{% extends "gearo/bills/invoice_base.html" %}


{% block price_table %}
    {% if lessor.is_business_with_vat and tenant.country_code == "AT" %}
        <tr>
            <td>
                {% if trans.calculated_duration == 1 %}
                    {{ trans.calculated_duration }} Tag
                {% else %}
                    {{ trans.calculated_duration }} Tage
                {% endif %}
            </td>
            <td>{{ trans.ad.title }}</td>
            <td>{{ trans.articlecost|floatformat:2 }} €</td>
        </tr>
        {% if trans.discount_value %}
            <tr><td></td>
                <td class="bottomline">{{ trans.discount_value }} % Rabatt</td>
                <td class="bottomline">- {{ trans.discount|floatformat:2 }} €</td>
            </tr>
        {% endif %}
        <tr><td></td>
            <td class="bottomline">Versicherung</td>
            <td class="bottomline">{{ trans.insurance_profit|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Netto Rechnungsbetrag</td>
            <td>{{ trans.netto_total|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>20% Umsatzsteuer</td>
            <td>{{ trans.vat|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Brutto Rechnungsbetrag</td>
            <td>{{ trans.total_incl_discount|floatformat:2 }} €</td>
        </tr>
    {% else %}
        <tr>
            <td>
                {% if trans.calculated_duration == 1 %}
                    {{ trans.calculated_duration }} Tag
                {% else %}
                    {{ trans.calculated_duration }} Tage
                {% endif %}
            </td>
            <td>{{ trans.ad.title }}</td>
            <td>{{ trans.articlecost_sum|floatformat:2 }} €</td>
        </tr>
        {% if trans.discount_value %}
            <tr><td></td>
                <td class="bottomline">{{ trans.discount_value }} % Rabatt</td>
                <td class="bottomline">- {{ trans.discount|floatformat:2 }} €</td>
            </tr>
        {% endif %}
        <tr><td></td>
            <td>Versicherung</td>
            <td>{{ trans.insurance_debt_sum|floatformat:2 }} €</td>
        </tr>
        <tr><td></td>
            <td>Rechnungsbetrag</td>
            <td>{{ trans.total_incl_discount|floatformat:2 }} €</td>
        </tr>
    {% endif %}
{% endblock price_table%}


{% block footer_text %}
    {% if lessor.is_private %}
        {% if tenant.country_code == "AT" %}
            Steuerschuldnerschaft des Leistungsempfängers.
        {% else %}
            Die Lieferung ist eine steuerbefreite Lieferung.
        {% endif %}
    {% elif lessor.is_business_without_vat %}
        Steuerbefreit – Kleinunternehmer gemäß §6(1)27 UStG.
    {% elif lessor.is_business_with_vat and tenant.is_business_with_vat and tenant.country_code == "DE" %}
        Steuerschuldnerschaft des Leistungsempfängers. Die Lieferung ist eine steuerbefreite Lieferung.
    {% endif %}
{% endblock footer_text %}

