<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <style>
            table{
                width: 100%;
            }
            #table001 td{
                width:50%
            }
            #table001 td:nth-child(2){
                text-align: right;
            }
            #table002 td:nth-child(1){
                width: 13%;
                padding-right: 10px;
                text-align: right;
                vertical-align: top;
            }
            #table003{
                padding-bottom: 2%;
            }
            #table003 th{
                text-align: left;
            }
            #table003 td{
                padding: 4px 0;
            }
            #table003 th:nth-child(1){
                width: 10%;
            }
            #table003 tr:first-child th{
                border-bottom: 1px solid black;
            }
            #table003 tr:last-child td{
                border-top: 1px solid black;
            }
            .bottomline{
                border-bottom: 1px solid #979899;
            }
       </style>
   </head>
   <body id="main_invoice" lang="en-GB">
       <div>
           <h1>Rechnung über Deine Anmietung bei gearo</h1>
       </div>
       <div>
           <table id="table001">
               <colgroup>
                   <col />
                   <col />
               </colgroup>
               <tbody>
                   {% if trans.applicant.gearouser.onoffswitch_bill and trans.applicant.gearouser.business_name_bill %}
                        <tr><td>{{ trans.applicant.gearouser.business_name_bill }}</td></tr>
                   {% elif not trans.applicant.gearouser.onoffswitch_bill and trans.applicant.profile.business_name %}</td></tr>
                        <tr><td>{{ trans.applicant.profile.business_name }}
                   {% endif %}
                   <tr>
                       <td>
                           {% if trans.applicant.gearouser.onoffswitch_bill %}
                                {{ trans.applicant.gearouser.first_name_bill }} {{ trans.applicant.gearouser.last_name_bill }}
                           {% else %}
                                {{ trans.applicant.first_name }} {{ trans.applicant.last_name }}
                           {% endif %}
                       </td>
                       <td>
                           {{ bill.created_at|date:"d.m.Y"}}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           {% if trans.applicant.gearouser.onoffswitch_bill %}
                                {{ trans.applicant.gearouser.street_bill }}
                           {% else %}
                                {{ trans.applicant.gearouser.street }}
                           {% endif %}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           {% if trans.applicant.gearouser.onoffswitch_bill %}
                                {{ trans.applicant.gearouser.zip_bill}} {{ trans.applicant.gearouser.place_bill }}
                           {% else %}
                                {{ trans.applicant.gearouser.zip }} {{ trans.applicant.gearouser.place }}
                           {% endif %}
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
       <div>
           <h2><span>Rechnung Nr.: </span><span>{{ bill.lessor_billnumber }}</span></h2>
           <h3><span>Buchung Nr.: {{ trans.id }}</span></h3>
       </div>
       <div>
           <table id="table002">
               <colgroup>
                   <col />
                   <col />
                   <col />
               </colgroup>
               <tbody>
                   <tr>
                       <td>
                           Vermieter:
                       </td>
                       <td>
                           {% if trans.lessor.gearouser.onoffswitch_bill and trans.lessor.gearouser.business_name_bill %}
                                {{ trans.lessor.gearouser.business_name_bill }}<br />
                           {% elif not trans.lessor.gearouser.onoffswitch_bill and trans.lessor.profile.business_name %}
                                {{ trans.lessor.profile.business_name }}<br />
                           {% endif %}

                           {% if trans.lessor.gearouser.onoffswitch_bill %}
                                {{ trans.lessor.gearouser.first_name_bill }} {{ trans.lessor.gearouser.last_name_bill }}
                           {% else %}
                                {{ trans.lessor.first_name }} {{ trans.lessor.last_name }}
                           {% endif %}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           Adresse:
                       </td>
                       <td>
                           {% if trans.lessor.gearouser.onoffswitch_bill %}
                                {{ trans.lessor.gearouser.street_bill }} <br /> {{ trans.lessor.gearouser.zip_bill }} {{ trans.lessor.gearouser.place_bill }}
                           {% else %}
                                {{ trans.lessor.gearouser.street }} <br />{{ trans.lessor.gearouser.zip }} {{ trans.lessor.gearouser.place }}
                           {% endif %}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           {% if trans.lessor.gearouser.tax_number or trans.lessor.gearouser.tax_ident_number %}Steuernummer:{% endif %}
                       </td>
                       <td>
                           {% if trans.lessor.gearouser.tax_number %}
                                {{ trans.lessor.gearouser.tax_number }}
                           {% endif %}
                           {% if trans.lessor.gearouser.tax_ident_number %}
                                {{ trans.lessor.gearouser.tax_ident_number }}
                           {% endif %}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           Abholung:
                       </td>
                       <td>
                           {{ trans.rent_start|date:"l, d.m.Y" }}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           Rückgabe:
                       </td>
                       <td>
                           {{ trans.rent_end|date:"l, d.m.Y" }}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           Mietzeitraum:
                       </td>
                       <td>
                           {{ trans.calculated_duration }}
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
       <div>
           <h2>Zahlungsdetails</h2>
       </div>
       <div>
           <table id="table003">
               <colgroup>
                   <col />
                   <col />
                   <col />
               </colgroup>
               <tbody>
                   <tr>
                       <th>
                           Mietdauer
                       </th>
                       <th>
                           Artikel
                       </th>
                       <th>
                           Preis
                       </th>
                   </tr>
                   {% if trans.lessor.gearouser.trader and trans.lessor.gearouser.calc_mwst and trans.is_first %}
                       <tr>
                           <td>
                               {{ trans.calculated_duration }} Tage
                           </td>
                           <td>
                               {{ trans.ad.title }}
                           </td>
                           <td>
                               {{ trans.articlecost }} €
                           </td>
                       </tr>
                       <tr>
                           <td></td>
                           <td class="bottomline">
                               Versicherungsgebühr
                           </td>
                           <td  class="bottomline">
                               {{ trans.insurance_commission }} €
                           </td>
                       </tr>
                       <tr>
                           <td></td>
                           <td>
                               Netto Rechnungsbetrag
                           </td>
                           <td>
                               {{ trans.netto_total_special }} €
                           </td>
                       </tr>
                       <tr>
                           <td></td>
                           <td class="bottomline">
                               19% gesetzliche Mwst.
                           </td>
                           <td class="bottomline">
                               {{ trans.vat_special }} €
                           </td>
                       </tr>
                       {% if trans.discount_value %}
                            <tr>
                               <td></td>
                               <td class="bottomline">
                                   {{ trans.discount_value }} % Rabatt
                               </td>
                               <td  class="bottomline">
                                   - {{ trans.discount }} €
                               </td>
                           </tr>
                       {% endif %}
                       <tr>
                           <td></td>
                           <td>
                               Zwischensumme
                           </td>
                           <td>
                               {{ trans.subgoal_incl_discount }} €
                           </td>
                       </tr>
                       <tr>
                           <td></td>
                           <td>
                               Versicherung
                           </td>
                           <td>
                               {{ trans.insurance_sum }} €
                           </td>
                       </tr>
                       <tr>
                           <td></td>
                           <td>
                               Brutto Rechnungsbetrag
                           </td>
                           <td>
                               {{ trans.total_incl_discount }} €
                           </td>
                       </tr>
                   {% elif trans.lessor.gearouser.trader and trans.lessor.gearouser.calc_mwst %}
                       <tr>
                         <td>
                           {{ trans.calculated_duration }} Tage
                         </td>
                         <td>
                           {{ trans.ad.title }}
                         </td>
                         <td>
                           {{ trans.articlecost }} €
                         </td>
                       </tr>
                       {% if trans.discount_value %}
                            <tr>
                               <td></td>
                               <td class="bottomline">
                                   {{ trans.discount_value }} % Rabatt
                               </td>
                               <td class="bottomline">
                                   - {{ trans.discount }} €
                               </td>
                           </tr>
                       {% endif %}
                       <tr>
                         <td></td>
                         <td class="bottomline">
                           Versicherung
                         </td>
                         <td class="bottomline">
                           {{ trans.insurance_profit }} €
                         </td>
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                           Netto Rechnungsbetrag
                         </td>
                         <td>
                           {{ trans.netto_total }} €
                         </td>
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                           19% gesetzliche Mwst.
                         </td>
                         <td>
                           {{ trans.vat }} €
                         </td>
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                           Brutto Rechnungsbetrag
                         </td>
                         <td>
                           {{ trans.total_incl_discount }} €
                         </td>
                       </tr>
                   {% else %}
                       <tr>
                         <td>
                             {{ trans.calculated_duration }} Tage
                         </td>
                         <td>
                             {{ trans.ad.title }}
                         </td>

                         <td>
                           {{ trans.articlecost_sum }} €
                         </td>
                       </tr>
                       {% if trans.discount_value %}
                            <tr>
                               <td></td>
                               <td class="bottomline">
                                   {{ trans.discount_value }} % Rabatt
                               </td>
                               <td  class="bottomline">
                                   - {{ trans.discount }} €
                               </td>
                           </tr>
                       {% endif %}
                       <tr>
                         <td></td>
                         <td>
                           Versicherung
                         </td>
                         <td>
                           {{ trans.insurance_debt_sum }} €
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                           Rechnungsbetrag
                         </td>
                         <td>
                           {{ trans.total_incl_discount }} €
                         </td>
                       </tr>
                   {% endif %}
               </tbody>
           </table>
       </div>
       <div>
           {% if trans.lessor.gearouser.trader and not trans.lessor.gearouser.calc_mwst %} Kein Ausweis von Umsatzsteuer, da Kleinunternehmer gemäß § 19 UStG. {% endif %}
       </div>
       <div>
           Vielen Dank, dass Du über gearo gemietet hast.
       </div>
   </body>
</html>