{% load i18n %}

{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link href="{{ BASE_URL }}{% static 'gearo/css/style_invoice.css' %}" rel="stylesheet">
</head>
<body id="main_invoice" lang="en-GB">
    <div>
        <h1>Rechnung über Deine Anmietung bei gearo</h1>
    </div>
    <div>
        <table id="table001">
            <colgroup><col/><col/></colgroup>
            <tbody>
                {% if tenant.has_business_address %}
                    <tr><td>{{ tenant.business_name_bill }}</td></tr>
                {% elif tenant_profile.business_name %}
                    <tr><td>{{ tenant_profile.business_name }}</td></tr>
                {% endif %}

                {% if tenant.has_business_address %}
                    <tr>
                        <td>{{ tenant.first_name_bill }} {{ tenant.last_name_bill }}</td>
                        <td>{{ bill.created_at|date:"d.m.Y"}}</td>
                    </tr>
                    <tr><td>{{ tenant.street_bill }}</td></tr>
                    <tr><td>{{ tenant.zip_bill }} {{tenant.place_bill }}</td></tr>
                    <tr><td>{{ tenant.country_bill.name }}</td></tr>
                {% else %}
                    <tr>
                        <td>{{ tenant_user.first_name }} {{ tenant_user.last_name }}</td>
                        <td>{{ bill.created_at|date:"d.m.Y"}}</td>
                    </tr>
                    <tr><td>{{ tenant.street }}</td></tr>
                    <tr><td>{{ tenant.zip }} {{tenant.place }}</td></tr>
                    <tr><td>{{ tenant.country.name }}</td></tr>
                {% endif %}
                {% if tenant.is_business %}
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                        <td>
                            {% if tenant.country_code == "AT" %}
                                UID-Nummer: {{ tenant.tax_ident_number }}
                            {% else %}
                                {% if tenant.tax_number %}
                                    Steuernummer: {{ tenant.tax_number }}
                                {% else %}
                                    Ust-IdNr.: {{ tenant.tax_ident_number }}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2 class="invoice-number"><span>Rechnung Nr.: {{ bill.lessor_billnumber }}</span></h2>
        <h3 class="booking-number"><span>Buchung Nr.: {{ trans.id }}</span></h3>
    </div>
    <div>
        <table id="table002">
            <colgroup><col/><col/><col/></colgroup>
            <tbody>
                <tr>
                    <td>Vermieter:</td>
                    <td>
                        {% if lessor.has_business_address %}
                            {{ lessor.business_name_bill }} <br/>
                            {{ lessor.first_name_bill }} {{ lessor.last_name_bill }}
                        {% else %}
                            {% if lessor_profile.business_name %}
                                {{ lessor_profile.business_name }} <br/>
                            {% endif %}
                            {{ lessor_user.first_name }} {{ lessor_user.last_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Adresse:</td>
                    <td>
                        {% if lessor.has_business_address %}
                            {{ lessor.street_bill }} <br/>
                            {{ lessor.zip_bill }} {{ lessor.place_bill }} <br/>
                            {{ lessor.country_bill.name }}
                        {% else %}
                            {{ lessor.street }} <br/>
                            {{ lessor.zip }} {{ lessor.place }} <br/>
                            {{ lessor.country.name }}
                        {% endif %}
                    </td>
                </tr>
                {% if lessor.is_business %}
                    <tr>
                        {% if lessor.country_code == "AT" %}
                            <td>UID-Nummer:</td>
                            <td>{{ lessor.tax_ident_number }}</td>
                        {% else %}
                            {% if lessor.tax_number %}
                                <td>Steuernummer:</td>
                                <td>{{ lessor.tax_number }}</td>
                            {% else %}
                                <td>Ust-IdNr.:</td>
                                <td>{{ lessor.tax_ident_number }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endif %}
                <tr>
                    <td>Abholung:</td>
                    <td>
                        {% language 'de' %}
                            {{ trans.rent_start|date:"l, d.m.Y" }}
                        {% endlanguage %}
                    </td>
                </tr>
                <tr>
                    <td>Rückgabe:</td>
                    <td>
                        {% language 'de' %}
                            {{ trans.rent_end|date:"l, d.m.Y" }}
                        {% endlanguage %}
                    </td>
                </tr>
                <tr>
                    <td>Mietzeitraum:</td>
                    <td>
                        {% if trans.calculated_duration == 1 %}
                            {{ trans.calculated_duration }} Tag
                        {% else %}
                            {{ trans.calculated_duration }} Tage
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Zahlungsdetails</h2>
    </div>
    <div>
        <table id="table003" cellspacing="0">
            <colgroup><col/><col/><col/></colgroup>
            <tbody>
                <tr>
                    <th>Mietdauer&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Artikel</th>
                    <th>Preis</th>
                </tr>
                {% block price_table %}{% endblock %}
            </tbody>
        </table>
    </div>
    <div>
        <h4>{% block footer_text %}{% endblock %}</h4>
    </div>
    <div>
        <h4>Vielen Dank, dass Du über gearo gemietet hast.</h4>
    </div>
</body>
</html>
