[program:celery_flower]
environment=DJANGO_SETTINGS_MODULE="{{ app_settings }}"
user = {{ owner }}
command={{ virtualenv_dir }}/bin/celery flower -A gearo --loglevel=INFO --url_prefix=flower
directory={{ app_dir }}
autostart=true
autorestart=true
stderr_logfile = /var/log/supervisor/flower_err.log
stdout_logfile = /var/log/supervisor/flower_out.log
