[program:celerybeat]
environment=DJANGO_SETTINGS_MODULE="{{ app_settings }}"
user = {{ owner }}
command={{ virtualenv_dir }}/bin/celery beat -A gearo --loglevel=INFO
directory={{ app_dir }}
stderr_logfile = /var/log/supervisor/celerybeat_err.log
stdout_logfile = /var/log/supervisor/celerybeat_out.log
numprocs=1
startsecs=10
autostart=true
autorestart=true

; if rabbitmq is supervised, set its priority higher
; so it starts first
priority=999