[program:celery]
user = {{ owner }}
environment=DJANGO_SETTINGS_MODULE="{{ app_settings }}"
command={{ virtualenv_dir }}/bin/celery worker -A gearo --loglevel=INFO
directory={{ app_dir }}
numprocs=1
autostart=true
autorestart=true
stderr_logfile = /var/log/supervisor/celery_err.log
stdout_logfile = /var/log/supervisor/celery_out.log
startsecs=10

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 600

; When resorting to send SIGKILL to the program to terminate it
; send SIGKILL to its whole process group instead,
; taking care of its children as well.
killasgroup=true

; Set Celery priority higher than default (999)
; so, if rabbitmq is supervised, it will start first.
priority=1000