[program:channels_worker]
environment=DJANGO_SETTINGS_MODULE="{{ app_settings }}"
directory={{ app_dir }}
command={{ virtualenv_dir }}/bin/python manage.py runworker
autostart=true
autorestart=true
stderr_logfile = /var/log/supervisor/channels_worker_err.log
stdout_logfile = /var/log/supervisor/channels_worker_out.log
stopsignal=KILL
killasgroup=true