[program:daphne]
environment=DJANGO_SETTINGS_MODULE="{{ app_settings }}"
directory={{ app_dir }}
command={{ virtualenv_dir }}/bin/daphne sitenv.asgi:channel_layer
autostart=true
autorestart=true
stderr_logfile = /var/log/supervisor/daphne_err.log
stdout_logfile = /var/log/supervisor/daphne_out.log
stopsignal=KILL
killasgroup=true