map $http_connection $upgrade_requested {
    default upgrade;
    ''      close;
}

server {
    listen 80 default_server;
    return 301 https://$host$request_uri;
}

{% if server_name == 'gearo.de' %}
server {
    server_name www.{{ server_name }};
    return 301 https://{{ server_name }}$request_uri;
}
{% endif %}

server {
    listen 443 ssl;
    server_name {{ server_name }};

    ssl_certificate /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;

    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_min_length 256;
    gzip_types text/plain text/css application/json application/x-javascript text/xml text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;

    access_log /var/log/nginx/gearo_access.log;
    error_log /var/log/nginx/gearo_error.log;
    error_page 500 502 503 504 /500.html;

    client_max_body_size 20M;

    location /500.html {
	    root {{ data_dir }}/static;
    }

    location /static/ {
        root {{ data_dir }};
    }

    location /media/ {
        root {{ data_dir }};
    }

    location /mieten {
        return 301 /miete;
    }

    location / {
        {% if is_basic_auth_enabled %}
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd;
        {% endif %}
        uwsgi_pass unix:{{ app_dir }}/sitenv/wsgi.sock;
        include uwsgi_params;
    }

    location /flower/ {
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd;
        rewrite ^/flower/(.*)$ /$1 break;
        proxy_pass http://localhost:5555;
        proxy_set_header Host $host;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /ws/ {
        proxy_pass http://127.0.0.1:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }
}