[uwsgi]
chdir={{ app_dir }}
module=sitenv.wsgi:application
master=True
pidfile=/tmp/gearo.pid
socket = {{ app_dir }}/sitenv/wsgi.sock
chmod-socket = 664
uid = {{ owner }}
gid = {{ group }}
vacuum=True
max-requests=5000
home={{ virtualenv_dir }}