[program:uwsgi]
user = {{ owner }}
command={{ virtualenv_dir }}/bin/uwsgi --ini={{ project_dir }}/uwsgi.ini
autostart=true
autorestart=true
stderr_logfile = /var/log/supervisor/uwsgi_err.log
stdout_logfile = /var/log/supervisor/uwsgi_out.log
stopsignal=QUIT
