{% extends "gearo/base.html" %}
{% load compress staticfiles socialaccount %}

{% block title %}Miete und vermiete Film- und Fotoequipment - gearo{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var sendVerificationUrl = '{% url 'send_phone_verification' %}';
        var checkVerificationUrl = '{% url 'check_phone_verification' %}';
    </script>
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/account_edit.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        {% include 'gearo/user/partials/user_navigation_left.html' %}
        <div id="profilecontent">
            <form action="{% url 'address_info_edit' %}" method="post" id="account_edit_form">
                {% csrf_token %}

                <div class="input-group">
                    <h5>Adresse</h5>
                    <div class="sub-headline">Deine Adresse wird nicht öffentlich angezeigt</div>
                    {{ form.business_name.errors }}
                    {{ form.business_name }}

                    {{ form.street.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.street only %}

                    {{ form.zip.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.zip only %}

                    {{ form.place.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.place only %}

                    {{ form.country.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.country only %}
                </div>

                <div class="input-group">
                    <div class="onoffh"><h5>Rechnungsadresse</h5></div>
                    <div class="onoffposition bill">
                        <div class="onoffswitch">
                            {{ form.onoffswitch_bill }}
                            <label class="onoffswitch-label" for="billonoffswitch"></label>
                        </div>
                    </div>
                    <div {% if not form.onoffswitch_bill.value %}style="display:none"{% endif %}>
                        {{ form.first_name_bill.errors}}
                        {{ form.first_name_bill}}
                        {{ form.last_name_bill.errors}}
                        {{ form.last_name_bill}}
                        {{ form.business_name_bill.errors}}
                        {{ form.business_name_bill}}
                        {{ form.street_bill.errors }}
                        {{ form.street_bill }}
                        {{ form.zip_bill.errors }}
                        {{ form.zip_bill }}
                        {{ form.place_bill.errors }}
                        {{ form.place_bill }}
                        {{ form.country_bill.errors }}
                        {{ form.country_bill }}
                    </div>
                </div>

                <div class="input-group">
                    <div class="onoffh"><h5>Bist du Gewerbetreibender<br />oder Freiberufler</h5></div>
                    <div class="onoffposition trader">
                        <div class="onoffswitch">
                            {{ form.onoffswitch_trader }}
                            <label class="onoffswitch-label" for="traderonoffswitch"></label>
                        </div>
                    </div>
                    <div {% if not form.onoffswitch_trader.value %}style="display:none" {% endif %}>
                        <div class="hide-for-at">
                            {{ form.tax_number.errors }}
                            {{ form.tax_number }}
                            <p>oder</p>
                        </div>
                        {{ form.tax_ident_number.errors }}
                        {{ form.tax_ident_number }}
                        <div><h5>Art des Unternehmens</h5></div>
                        {{ form.business_type.errors }}
                        {% include 'gearo/user/partials/marked_field.html' with field=form.business_type only %}
                    </div>
                </div>

                <div class="input-group">
                    <div class="onoffh">
                        <h5>Berechnest du Umsatzsteuer?</h5>
                    </div>
                    <div class="onoffposition calctax">
                        <div class="onoffswitch">
                            {{ form.calc_mwst }}
                            <label class="onoffswitch-label" for="calctaxonoffswitch"></label>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <button id="save_button" type="submit" class="btn btn-default">Einstellungen speichern</button>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
