{% extends "gearo/base.html" %}
{% load staticfiles compress %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/payments.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        {% include 'gearo/user/partials/user_navigation_left.html' %}
        <div id="profilecontent">
            <form action="{% url 'bank_info_edit' %}" method="post" enctype="multipart/form-data" id="payment_edit">
                {% csrf_token %}

                <div class="input-group">
                    <h5>Bankinformationen</h5>
                    <div>
                        {{ form.non_field_errors }}

                        {{ form.first_name.errors }}
                        {% include 'gearo/user/partials/marked_field.html' with field=form.first_name only %}

                        {{ form.last_name.errors }}
                        {% include 'gearo/user/partials/marked_field.html' with field=form.last_name only %}

                        {{ form.iban.errors }}
                        {% include 'gearo/user/partials/marked_field.html' with field=form.iban only %}

                        {{ form.bic.errors }}
                        {% include 'gearo/user/partials/marked_field.html' with field=form.bic only %}
                    </div>
                </div>
                <div class="input-group margin-top-10px">
                    <button id="save_button" type="submit" class="btn btn-default">Einstellungen speichern</button>
                </div>
                <script></script>
            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}