{% extends "gearo/base.html" %}
{% load staticfiles compress %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 

{% block scripts %}
	<script type="text/javascript">
		var chatRoom = '{{ trans.chat.slug }}';
		var chatRoomToken = '{{ chatroom_member.token }}';
		var isBillingInfoCompleted = {% if request.user.billing_info.is_completed %}true{% else %}false{% endif %};
		var isLessor = {% if request.user == trans.lessor %}true{% else %}false{% endif %};
	</script>
	{{ block.super }}
	<script src="{% static 'gearo/js/mustache.min.js' %}"></script>
	<script src="{% static 'gearo/js/device.min.js' %}"></script>
	{% compress js %}
		<script src="{% static 'gearo/js/chat.js' %}"></script>
	{% endcompress %}
{% endblock %}

{% block content %}
<div class="centered-div">
		<div class="page-header">
	<h1>
		Nachrichtenverlauf mit 
		{% if trans.lessor == user %}
			<a href="{% url 'publicprofil' trans.applicant.username %}">{{trans.applicant.first_name }}</a>
		{% else %}
			<a href="{{ trans.ad.get_owner_link }}">{{ trans.lessor.first_name }}</a>
		{% endif %}</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 {% if trans.lessor == user and trans.status != 'canceled' %}col-md-offset-2{% else %}col-centered{% endif %}" id="transaction_details">
				<div class="panel panel-gearo">
					<div class="panel-heading">
						<a href="{{ trans.ad.get_absolute_url }}" target="_blank">{{ trans.ad.title }}</a>
					</div>
				</div>
				<div class="transaction_schedule clearfix">
					<div class="transaction_pickup">
						<b>Abholung</b><br>
						{{ trans.rent_start|date:"d.m.Y" }}<br>
						{% if trans.pickup_after_3pm %}vor 15 Uhr{% endif %}
					</div>
					<div class="chat_arrow">
						<img src="{% static 'images/chat_arrow.png' %}">
					</div>
					<div class="transaction_handover">
						<b>Rückgabe</b><br>
						{{ trans.rent_end|date:"d.m.Y" }}<br>
						{% if trans.return_before_12pm %}nach 12 Uhr{% endif %}
					</div>
				</div>
				{% if user == trans.applicant %}
					{% include 'gearo/user/partials/chat_transaction_contacts.html' with contact=trans.lessor %}
				{% else %}
					{% include 'gearo/user/partials/chat_transaction_contacts.html' with contact=trans.applicant %}
				{% endif %}
			</div>
			{% if trans.lessor == user and trans.status != 'canceled' %}
				<div class="col-md-3" id="transaction_actions">
					<div class="btn-href btn-handingover-protocol disabled {% if trans.handing_over_protocol %}status-done{% else %}status-active{% endif %}"  {% if not trans.handing_over_protocol %}data-href="{% url 'handingover' trans.id %}"{% endif %}s>
						Übergabeprotokoll
					</div>
					<div class="btn-href btn-return-protocol {% if trans.handing_over_protocol and trans.return_protocol %}status-done{% elif trans.handing_over_protocol %}status-active{% endif %}" {% if trans.handing_over_protocol and not trans.return_protocol %}data-href="{% url 'returnproto' trans.id %}"{% endif %}>
						Rückgabeprotokoll
					</div>
					{% if not trans.bill_created %}
						<div class="btn-href btn-generate-invoice {% if trans.ended and trans.handing_over_protocol and trans.return_protocol %}status-active{% endif %}" {% if trans.ended and trans.handing_over_protocol and trans.return_protocol and user.billing_info.is_completed and user.gearouser.is_completed %}data-href="{% url 'geninvoice' trans.id %}"{% endif %} id="geninvoice">
							Rechnung abschicken
						</div>
					{% elif trans.bill_created %}
						<div class="btn-href btn-download-invoice {% if trans.handing_over_protocol and trans.return_protocol %}status-active{% endif %}" {% if trans.handing_over_protocol and trans.return_protocol and user.billing_info.is_completed and user.gearouser.is_completed %}data-href="{% url 'renderpdf' trans.bill_number %}"{% endif %} id="renderpdf">
							Rechnung herunterladen
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
		{% if trans.chat.active %}
			{% if trans.is_cancellable %}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center " >
						<a href="#" class="greyinfo" data-toggle="modal" data-target="#stornoModal"><i class="fa fa-times"></i> Buchung stonieren</a>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-lg-4 col-lg-offset-2 col-md-6 col-md-offset-3 col-xs-12" id="messagewrapper">
					<div id="messages">
						{% for message in chat_messages %}
							<div class="message {% if message.sender == user %} type1 {% else %} type2 {% endif %}">
								<img src="{{ message.sender.profile.avatar_thumbnail_url }}" class="uavatar-large">
								<span class="online-status chatroom-member-{{ message.chatroom_member.token }}"></span>
								<div class="content">
									{{ message.message }}
								</div>
								<div class="greyinfo timestamp">
									geschrieben am {{ message.sended_at|date:"d.m.Y " }} um {{ message.sended_at|date:"G:i"}} Uhr
								</div>
							</div>
						{% empty %}
							<div id="hint" class="greyinfo">
								Vereinbare Details wie Treffpunkt und Uhrzeit im Chat.
							</div>
						{% endfor %}
					</div>
					<div id="newmessage">
						<form id="message">
							<textarea name="message" class="nomce" placeholder="Schreiben" data-parsley-required></textarea>
							<button id="btn_send_message" class="btn btn-black" type="button">Nachricht senden</button>
						</form>
					</div>
				</div>
			</div>
		{% else %}
			<div class="center-text greyinfo">
				 Diese Buchung wurde storniert. <a href="{% url 'search_results' %}">Suche nach weiterem Equipment in deiner Nähe .
				 </a>
			</div>
		{% endif %}
		{% if trans.is_cancellable %}
			<!-- Modal -->
			<div id="stornoModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content text-center">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					 <h4>Buchung stornieren</h4>
				  </div>
				  <div class="modal-body">
					  <i class="fa fa-times"></i>
					  <p>Möchtest du wirklich deine Buchung stornieren? bei einem <span class="red">Stornierungsvorgang werden Stornierungsgebühren</span> fällig, da wir den Prozess manuell zurückbuchen und ggf. Ersatz suchen müssen. Die genauen Gebühren kannst du <a href="{% url 'index' %}stornoinformationen">hier nachlesen</a>.</p>
					  <button class="btn btn-default" id="reject">Abbrechen</button>
					  <button class="btn btn-default btn-href btn-cancel-transaction" data-href="{% url 'cancel' trans.id %}">Buchung kostenpflichtig stornieren.</button>
				  </div>
				</div>

			  </div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}