{% extends "gearo/base.html" %}
{% load compress staticfiles socialaccount %}

{% block title %}Miete und vermiete Film- und Fotoequipment - gearo{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var sendVerificationUrl = '{% url 'send_phone_verification' %}';
        var checkVerificationUrl = '{% url 'check_phone_verification' %}';
    </script>
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/account_edit.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        {% include 'gearo/user/partials/user_navigation_left.html' %}
        <div id="profilecontent">
            <form action="{% url 'contact_info_edit' %}" method="post" id="account_edit_form">
                {% csrf_token %}

                <div class="input-group">
                    <h5>Telefon</h5>
                    {{ form.phone_mobile.errors }}
                    <div class="field-wrapper margin-top-10px">
                        {{ form.phone_mobile }}
                        <span class="field-span phone-field-span">
                            {% if form.phone_mobile.value %}
                                <i class="fa fa-check field-icon-check"></i>
                            {% else %}
                                <i class="fa fa-exclamation field-icon-exclamation"></i>
                            {% endif %}
                        </span>
                    </div>

                    {% if form.phone_mobile|length > 0 %}
                        {% if gearouser.phone_verified_status == "none" %}
                            <div class="field-wrapper margin-top-10px">
                                <button id="verifysms" class="btn btn-black">
                                    Verifiziere via SMS
                                </button>
                                <span class="field-span phone-field-span">
                                    <i class="fa fa-exclamation field-icon-exclamation"></i>
                                </span>
                            </div>
                        {% elif gearouser.phone_verified_status == "success" %}
                            <div class="field-wrapper margin-top-10px">
                                <button class="btn btn-default" style="width: 100%;">
                                    verifiziert
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                </button>
                                <span class="field-span phone-field-span">
                                    <i class="fa fa-check field-icon-check"></i>
                                </span>
                            </div>
                        {% elif gearouser.phone_verified_status == "waiting" or gearouser.phone_verified_status == "re_sent" %}
                            <div>
                                <div id="verifyerror"><ul></ul></div>
                                <input type="text" name="discountinput" id="verify" class="form-control" placeholder="Verifizierungscode">
                                <div id="discountenter">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                </div>
                                <div class="clear"></div>
                                <div class="field-wrapper margin-top-10px">
                                    <button id="applycode" class="btn btn-default">
                                        verifizieren
                                    </button>
                                    <span class="field-span phone-field-span">
                                        <i class="fa fa-exclamation field-icon-exclamation"></i>
                                    </span>
                                </div>
                                {% if gearouser.phone_verified_status == "waiting" %}
                                    <div style="margin-top: 10px;">
                                        <button id="resend" class="btn btn-default">
                                            verifizierungscode erneut senden
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif%}

                    {{ form.phone.errors }}
                    {{ form.phone }}
                </div>

                <div class="input-group">
                    <button type="submit" class="btn btn-default">Einstellungen speichern</button>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script src="{% static 'gearo/js/TelInputWidget/intlTelInput.min.js' %}"></script>
    <script src="{% static 'gearo/js/TelInputWidget/intlTelInput_config.js' %}"></script>
{% endblock bottom_scripts %}
