{% extends "gearo/base.html" %}
{% load compress staticfiles socialaccount %}

{% block title %}Miete und vermiete Film- und Fotoequipment - gearo{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/account_edit.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        {% include 'gearo/user/partials/user_navigation_left.html' %}
        <div id="profilecontent">
            <form action="{% url 'change_email' %}" method="post" id="account_edit_form">
                {% csrf_token %}

                <div class="input-group input-group-unstyled">
                    <h5>E-Mail Addresse</h5>
                    <div class="error-container">{{form.email.errors }}</div>
                    {% include 'gearo/user/partials/marked_field.html' with field=form.email only %}
                </div>

                <div class="input-group">
                    <button type="submit" class="btn btn-default">E-Mail-Addresse ändern</button>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
