{% extends "gearo/base.html" %}
{% load staticfiles compress %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/payments.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        {% include 'gearo/user/partials/user_navigation_left.html' %}
        <div id="profilecontent">
            <form action="{% url 'identification_info_edit' %}" method="post" enctype="multipart/form-data" id="payment_edit">
                {% csrf_token %}

                <div class="input-group">
                    {{ form.non_field_errors }}

                    {{ form.country_of_residence.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.country_of_residence only %}

                    {{ form.nationality.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.nationality only %}

                    {{ form.id_document_number.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.id_document_number only %}

                    {% include 'gearo/user/partials/document_id_proof.html' %}

                    {% if is_payment_limit_reached %}
                        {% if business_type == 'soletraider' or business_type == 'business' %}
                            {% include 'gearo/user/partials/document_registration_proof.html' %}
                        {% endif %}
                        {% if business_type == 'business' %}
                            {% include 'gearo/user/partials/document_articles_of_association.html' %}
                            {% include 'gearo/user/partials/document_shareholder_declaration.html' %}
                        {% endif %}
                    {% endif %}

                </div>
                <div class="input-group margin-top-10px">
                    <button id="save_button" type="submit" class="btn btn-default">speichern</button>
                </div>
                <script></script>
            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}