{% extends "gearo/twocolumns.html" %}
{% load staticfiles thumbnail compress %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var responseLimit = "{{ inquire.response_limit|date:"c" }}";
        var showInquiryUrl = "{% url 'showinq' inquire.id %}";
        var rejectLessorUrl = "{% url 'rejectlessor' inquire.id %}";
    </script>
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/manage_inquiries.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block alert %}
    <div class="centered-div">
        <div class="alert alert-info" role="alert" style="text-align:center;">
            Du hast noch <b id="clock"></b>
            Zeit um deine Anfrage anzunehmen und <b>{{ inquire.payout|floatformat:"2" }} Euro</b> zu verdienen
        </div>
    </div>
{% endblock %}

{% block pageheader %}
    Buchungsanfrage von <a href="#" target="_blank">{{ inquire.applicant.first_name }} {{ inquire.applicant.last_name|first }}.</a>
{% endblock %}

{% block leftcolumn %}
    <div class="panel panel-gearo panel-border">
        <div class="panel-heading">
            <a href="{% url 'publicprofil' inquire.applicant.username %}" target="_blank">
                <span>{{ inquire.applicant.first_name }} {{ inquire.applicant.last_name}}</span>
            </a>
        </div>
        <div class="panel-body">
            <a href="{% url 'publicprofil' inquire.applicant.username %}" target="_blank">
                <img id="profileimg" src="{{ inquire.applicant.profile.avatar_thumbnail_url }}">
            </a>
        </div>
    </div>
{% endblock %}

{% block rightcolumn %}
    <div id="booking" class="panel panel-gearo panel-border">
        <div class="panel-heading">
            <a href="{% url 'addetail' inquire.ad.slug %}" target="_blank"><span>{{ inquire.ad.title }} </span></a>
        </div>
        <div id="inquireb" class="panel-body">
            <a href="{% url 'addetail' inquire.ad.slug %}" target="_blank">
                {% if inquire.ad.attachments.count > 0 %}
                    {% with attachment=inquire.ad.attachments.all.0 %}
                        <img src="{{ attachment.image|thumbnail_url:'ad_l' }}" id="imginq">
                    {% endwith %}
                {% else %}
                    <img src="{{ ATTACHMENT_PLACEHOLDER }}" id="imginq"/>
                {% endif %}
            </a>
            <div class="rent-dates">
                <div id="rent-dates-from">
                    <h4><i class="fa fa-calendar" aria-hidden="true"></i> Abholung</h4>
                    <div class="date">{{ inquire.rent_start|date:"d.m.Y" }}</div>
                    {% if inquire.pickup_after_3pm %}<b>vor </b>13 Uhr{% endif %}
                </div>
                <div id="rent-dates-to">
                    <h4><i class="fa fa-calendar" aria-hidden="true"></i> Rückgabe</h4>
                    <div class="date">{{ inquire.rent_end|date:"d.m.Y" }}</div>
                    {% if inquire.return_before_12pm %}<b>nach </b>13 Uhr{% endif %}
                </div>
            </div>

            <h6 style="margin-top: 25px;">Deine Auszahlung</h6>
            <table id="payout">
                <tr>
                    <td>{{ inquire.payoutdaily|floatformat:"2" }} €</td>
                    <td>x</td>
                    <td>{{ inquire.calculated_duration }}</td>
                    <td>=</td>
                    <td>{{ inquire.payout|floatformat:"2" }} €</td>
                </tr>
            </table>
            <div>
                <button class="btn btn-default" id="reject">Ablehnen</button>
                <a href="{% url 'acceptlessor' inquire.id %}">
                    <button class="btn btn-default" id="accept">Annehmen</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
