{% extends "gearo/base.html" %}
{% load compress staticfiles socialaccount %}

{% block title %}Miete und vermiete Film- und Fotoequipment - gearo{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/account_edit.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        {% include 'gearo/user/partials/user_navigation_left.html' %}
        <div id="profilecontent">
            <form action="{% url 'change_password' %}" method="post" id="account_edit_form">
                {% csrf_token %}

                <div class="input-group">
                    <h5>Passwort ändern</h5>
                    {{ form.old_password.errors }}
                    {{ form.old_password }}
                    {{ form.new_password.errors }}
                    {{ form.new_password }}
                </div>

                <div class="input-group">
                    <button type="submit" class="btn btn-default">Passwort ändern</button>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}