{% extends "gearo/base.html" %}
{% load compress staticfiles socialaccount %}

{% block title %}Miete und vermiete Film- und Fotoequipment - gearo{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/account_edit.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        {% include 'gearo/user/partials/user_navigation_left.html' %}
        <div id="profilecontent">
            <form action="{% url 'personal_info_edit' %}" method="post" id="account_edit_form">
                {% csrf_token %}
                <div class="input-group">
                    <h5>Name</h5>
                    {{ form.first_name.errors}}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.first_name only %}

                    {{ form.last_name.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.last_name only %}
                    <p>Dein Nachname wird nicht öffentlich gezeigt.</p>
                </div>

                <div class="input-group">
                    <h5>Geburstag</h5>
                    {{ form.birthday.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.birthday only %}
                </div>

                <div class="input-group">
                    <h5>Geschlecht</h5>
                    {{ form.gender.errors }}
                    {% include 'gearo/user/partials/marked_field.html' with field=form.gender only %}
                </div>

                <div class="input-group">
                    <h5>Facebook verifizieren</h5>
                    <div class="sub-headline">Verifiziere deinen Facebook Account.
                        So erhöhst du das Vertrauen bei An- und Vermietungen.
                    </div>
                    {% if request.user.gearouser.facebook_verified %}
                        <div class="verified-label">verifiziert
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                    {% else %}
                        <a href="{% provider_login_url 'facebook' process='connect' %}" id="facebook_auth_button">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            mit Facebook verbinden
                        </a>
                    {% endif %}
                </div>

                <div class="input-group">
                    <button type="submit" class="btn btn-default margin-top-10px">
                        Einstellungen speichern
                    </button>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
