{% extends "gearo/base.html" %}
{% load staticfiles thumbnail compress %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/postbox.js' %}"></script>
    {% endcompress %}
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>Posteingang</h1>
</div>
<div class="panel panel-postbox">
    <div class="clearfix tabs">
        <ul>
            <li data-tab="outgoing_inquiries">
                Anmietungen
                <i class="fa fa-comment {% if new_outgoing_inquiries == 0 %}no-notifications{% endif %}"></i>
                {% if new_outgoing_inquiries > 0 %}
                    <sup>{{ new_outgoing_inquiries }}</sup>
                {% endif %}
            </li>
            <li class="active" data-tab="incoming_inquiries">
                Vermietungen
                <i class="fa fa-comment {% if new_incoming_inquiries == 0 %}no-notifications{% endif %}"></i>
                {% if new_incoming_inquiries > 0 %}
                    <sup>{{ new_incoming_inquiries }}</sup>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="outgoing_inquiries" class="tab">
            {% for inquire in outgoing_inquiries %}
                <div class="mail-postbox {% if not inquire.viewed_by_applicant %}new-mail{% endif %}">
                    {% include 'gearo/user/partials/postbox_transactions.html' with inquire=inquire %}
                </div>
            {% empty %}
                <div style="margin-top: 10px">
                    <p>Es sind noch keine Nachrichten vorhanden.</p>
                </div>
            {% endfor %}
        </div>
        <div id="incoming_inquiries" class="tab">
            {% for inquire in incoming_inquiries %}
                <div class="mail-postbox {% if not inquire.viewed_by_lessor %}new-mail{% endif %}">
                    {% include 'gearo/user/partials/postbox_transactions.html' with inquire=inquire is_incoming=True %}
                </div>
            {% empty %}
                <div style="margin-top: 10px">
                    <p>Es sind noch keine Nachrichten vorhanden.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
