{% extends "gearo/base.html" %}
{% load staticfiles compress %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block scripts %}
	<script type="text/javascript">
		var uploadAvatarUrl = '{% url 'uploadavatar'%}';
		var cropAvatarUrl = '{% url 'cropavatar' %}';
	</script>
	{{ block.super }}
	{% compress js %}
		<script src="{% static 'gearo/js/profile_edit.js' %}"></script>
	{% endcompress %}
{% endblock %}

{% block content %}
	<div class="centered-div">
	{% include 'gearo/user/partials/user_navigation_left.html' %}
	<div id="profilecontent">
	<form action="{% url 'profile_edit'%}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="input-group">
			<h5>Profilfoto</h5>
            <div class="field-wrapper">
                <img src="{{ request.user.profile.avatar_thumbnail_url }}" id="avatarprof" height="215" width="215">
                <span class="avatar-span">
                    {% if request.user.profile.avatar %}
                        <i class="fa fa-check avatar-icon-check"></i>
                    {% else %}
                        <i class="fa fa-exclamation avatar-icon-exclamation"></i>
                    {% endif %}
                </span>
            </div>
			<div>
                <div class="avatarUpload btn btn-black">
                    <span>Datei Auswählen</span>
                    <input type="file" class="upload" name="avatar" accept="image/*" >
                </div>
			</div>
		</div>

		<div class="input-group">
			<h5>Beschreibung</h5>
			{{ form.self_description.errors }}
			{% include 'gearo/user/partials/marked_field.html' with field=form.self_description only %}
		</div>
		<div class="input-group" id="trigger_social">
			<h5>Web und Social</h5>
			<div class="icondiv"><span class="fa fa-desktop"></span></div><div class="nervdiv">{{ form.homepage.errors }}{{ form.homepage }}</div><div class="clear"></div>
			<div class="icondiv"><span class="fa fa-vimeo-square"></span></div><div class="nervdiv">{{ form.vimeo.errors }}{{ form.vimeo }}</div><div class="clear"></div>
			<div class="icondiv"><span class="fa fa-youtube-play"></span></div><div class="nervdiv">{{ form.youtube.errors }}{{ form.youtube }}</div><div class="clear"></div>
			<div class="icondiv"><span class="fa fa-instagram"></span></div><div class="nervdiv">{{ form.instagram.errors }}{{ form.instagram }}</div><div class="clear"></div>
			<div class="icondiv"><span class="fa fa-facebook-square"></span></div><div class="nervdiv">{{ form.facebook.errors }}{{ form.facebook }}</div><div class="clear"></div>
			<div class="icondiv"><span class="fa fa-twitter-square"></span></div><div class="nervdiv">{{ form.twitter.errors }}{{ form.twitter }}</div><div class="clear"></div>
			<div class="icondiv"><span class="fa fa-linkedin-square"></span></div><div class="nervdiv">{{ form.linkedin.errors }}{{ form.linkedin }}</div><div class="clear"></div>
			<div class="icondiv"><span class="fa fa-flickr"></span></div><div class="nervdiv">{{ form.flickr.errors }}{{ form.flickr }}</div><div class="clear"></div>
		</div>
		<div class="input-group">
		<button type="submit" class="btn btn-default">Einstellungen speichern</button>
		</div>
	</form>
	</div>
	<div class="clear"></div>

	</div>
{% endblock %}