{% extends "gearo/base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{{ userprofil.first_name }}"/>
    <meta property="og:description" content="{{ userprofil.first_name }} ist Mitglied bei gearo – Deutschlands erstem Sharingportal für Film- und Fotoequipment."/>
    <meta property="og:url" content="https://{{ request.get_host }}"/>
    <meta property="og:image" content="{{ userprofil.profile.avatar_thumbnail_url }}"/>
    <meta property="og:image:width" content="215"/>
    <meta property="og:image:height" content="215"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var ads = {{ all_ads|safe }};
        var image = '{% static "gearo/images/marker.png" %}';
        var imagePath = '{% static 'gearo/images/markers' %}/m';
    </script>
    {{ block.super }}
    <script src="{% static 'gearo/js/markerclusterer.js' %}"></script>
    <script src="{% static 'gearo/js/oms.min.js' %}"></script>
    <script src="{% static 'gearo/js/mustache.min.js' %}"></script>
    <script src="{% static 'gearo/js/reverse.js' %}"></script>
    <script src="{% static 'gearo/js/map.js' %}"></script>
    <script src="{% static 'gearo/js/profile.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="centered-div">
        {% include 'gearo/search/searchbar.html' %}
        <div class="container" id="publicprofile">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    {% include 'gearo/user/partials/user_info.html' with user=userprofil %}
                    {% include 'gearo/user/partials/user_contacts_verified.html' %}
                    {% include 'gearo/user/partials/user_reviews.html' with user=userprofil lastreview=True %}
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    {% for result in results %}
                        <div class="col-xs-12 col-sm-4  col-md-4 col-lg-4">
                            <a href="{% url 'addetail' result.id %}" class="noUnderline">
                                <div class="panel panel-gearo">
                                    <div class="panel-heading">
                                        <span>{{ result.title }}</span>
                                    </div>
                                    <div class="panel-body">
                                        <img src="{{ result.thumbnail_url }}" alt="alt text" style="text-decoration: none;" class="img-responsive">
                                        <span class="price">
                                            {{ result.priceday|floatformat:"0" }}&euro;
                                            <small>{% if result.include_mwst %}inkl. MwSt{% else %}Mwst. frei.{% endif %}</small>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% empty %}
                        <div id="emptyresult">
                            <img src="{% static 'gearo/images/result_logo.png' %}">
                            {% if request.user == userprofil %}
                                <p>Du hast noch kein Angebot eingestellt.</p>
                                <a href="{% url 'advertise' %}">Stelle jetzt ein Angebot ein.</a>
                            {% else %}
                                <p>{{ userprofil.first_name }} hat noch keine Angebote eingestellt.</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div id="resultmap" class="col-xs-12 col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}