{% extends "gearo/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
	<div class="centered-div">
		<div id="resetform">
		<h1>Passwort zurücksetzen</h1>
			<p>Lege hier bitte dein neues Passwort fest.</p>
			<form method="post" action="{% url 'resetpasswordconfirm' token %}">
				{% csrf_token %}
				{{ form.password.errors }}
				<div class="input-group">
				{{ form.password }}
				</div>
				{{ form.password_repeat.errors }}
				<div class="input-group">
				{{ form.password_repeat }}
				</div>
				<div class="input-group">
					<button type="submit" class="btn btn-default">Passwort speichern</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}