{% extends "gearo/errorbase.html" %} {% load staticfiles %}

{% block headerdiv %}
    {% with white=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}Not Found - gearo {% endblock %}

{% block content %}
    <h1>Deine Anfrage führt leider ins Blaue! </h1>
    <p>Suche stattdessen <a style="color: #FFF; text-decoration: underline;" href="{% url 'search_results' %}">hier nach Equipment</a> in deiner Nähe.</p>
{% endblock %}
