<div class="transaction-contacts clearfix">
    <div class="contact-userpic">
        <img src="{{ contact.profile.avatar_thumbnail_url }}">
    </div>
    <div class="contact-details">
        {% if contact.profile.business_name  %}
            {{ contact.profile.business_name }}<br/>
        {% endif %}
        {{ contact.first_name }} {{ contact.last_name }}<br/>
        {{ contact.gearouser.street }} <br/>
        {{ contact.gearouser.zip}} {{ contact.gearouser.place }} <br/>
        {{ contact.gearouser.country.name }}
    </div>
</div>