{% extends "gearo/base.html" %} {% load staticfiles %} 
{% block title %} E-Mail bestätigen - gearo{% endblock %} 
{% block content %}
<div class="centered-div center-text" id="page">
	<h1>Du bist drin!</h1>
	<img src="{% static 'gearo/images/gearo_Logo_Bildmarke_3000px.png' %}" height="25" width="25">
	<p>Du wirst jetzt weitergeleitet und kannst direkt loslegen!</p>
	<p>Solltest du nicht weitergeleitet werden <a href="{% url 'search_results' %}">klicke hier</a></p>
	<script type="text/javascript">
		$(function(){
			window.setTimeout(function(){document.location.href = "{% url 'search_results' %}"}, 10000)
		});
	</script>
</div>
{% endblock %}