{% extends "gearo/root.html" %}
{% load compress staticfiles thumbnail %}
{% block structure %}
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html lang="de"class="ie iem7"><![endif]-->
<!--[if lt IE 7 ]><html lang="de" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" lang="en-US" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en-US" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en-US" class="ie ie9"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->

<html lang="de">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="l0ho-ScbXt7VWDxTpwAUHaUdFXBZtmebXAVXREz76-c"/>
    <meta name="description" content="Miete & vermiete Film- und Fotoequipment! Günstig Kameras leihen & Objektive mieten – Kamerasharing ist der neue Kameraverleih​ – Einfach & voll versichert!">
    {% block og_tags %}
        <meta property="og:title" content="Film und Fotoequipment Sharing – gearo.de"/>
        <meta property="og:description" content="Miete Film- und Fotoequipment von Personen in deiner Umgebung, oder vermiete dein eigenes Gear voll versichert an andere Kreative."/>
        <meta property="og:url" content="https://{{ request.get_host }}"/>
        <meta property="og:image" content="https://{{ request.get_host }}/static/gearo/images/startpage/title.jpg"/>
        <meta property="og:image:width" content="2000"/>
        <meta property="og:image:height" content="1125"/>
    {% endblock %}

    <title>Miete und vermiete Film- und Fotoequipment - gearo</title>

    {% block styles %}
        <link href="{% static 'gearo/images/favicon.ico' %}" rel="Shortcut Icon"/>
        <link href="https://cdn.jsdelivr.net/sweetalert2/4.2.6/sweetalert2.min.css" rel="stylesheet">
        {% compress css %}
            <link href="{% static 'gearo/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/style.css' %}" rel="stylesheet">
            <link href="{% static 'gearo/css/font-awesome.min.css' %}" rel="stylesheet">
        {% endcompress %}
    {% endblock %}

    {% block scripts %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIMfxTcsiB_IrD4QYB3g5nnO1ndYjYsc8&libraries=places&language=de"></script>
        <script type="text/javascript" src="//use.typekit.net/kxp0wlf.js"></script>
        <script src="https://cdn.jsdelivr.net/sweetalert2/4.2.6/sweetalert2.min.js"></script>
        <script src="{% static 'gearo/js/jquery.min.js' %}"></script>
        <script src="{% static 'gearo/js/bootstrap.min.js' %} "></script>
        <script src="{% static 'gearo/js/parsley.min.js' %}"></script>
        <script src="{% static 'gearo/js/jquery.autocomplete.min.js' %}"></script>
        {% compress js %}
            <script src="{% static 'gearo/js/robust-websocket.js' %}"></script>
            <script src="{% static 'gearo/js/landing.js' %}"></script>
            <script src="{% static 'gearo/js/video_lightbox.js' %}"></script>
            <script src="{% static 'gearo/js/main.js' %}"></script>
        {% endcompress %}
        <script type="text/javascript">
            var isUserAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
            var isProfileCompleted = {% if request.user.gearouser.is_completed and request.user.billing_info.is_completed %}true{% else %}false{% endif %};
            var isTermsAccepted = {% if request.user.gearouser.is_terms_accepted %}true{% else %}false{% endif %};
            var acceptTermsUrl = '{% url 'accept_terms' %}';
            var accountEditUrl = '{% url 'profile_edit' %}';
            var paymentEditUrl = '{% url 'bank_info_edit' %}';
            var loginUrl = '{% url 'login' %}';
            var passwordResetUrl = '{% url 'resetpassword' %}';
            var mailcheckUrl = '{% url 'mailcheck' %}';
            var registerUrl = '{% url 'register' %}';
            var notificationRoom = '{{ request.user.gearouser.notification_token }}';
            var allowedCountries = {{ allowed_countries }};
        </script>
    {% endblock %}

    <script data-mce-type="text/javascript">
        var gaProperty = 'UA-81638537-1';
        var disableStr = 'ga-disable-' + gaProperty;
        if (document.cookie.indexOf(disableStr + '=true') > -1) {
            window[disableStr] = true;
        }
        function gaOptout() {
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            window[disableStr] = true;
        }
    </script>
    <script>
		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		 ga('create', 'UA-81638537-1', 'auto', {
		     anonymizeIp: true
		 });
		 ga('send', 'pageview');
    </script>
    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
        0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
        mixpanel.init("7882bb6d20ce5f3f315e0ae6f7fe6086");
    </script><!-- end Mixpanel -->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '543378225840806');
	fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=543378225840806&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
</head>
<body>
    <div id="lightbox" class="lightbox">
        <a href="#" class="close-button"><i class="fa fa-times"></i></a>
        <div id="lightbox_container" class="embed-responsive embed-responsive-4by3">
            <img src="{% static 'gearo/images/loading_indicator.svg' %}">
        </div>
    </div>
    <div id="wrapper">
        <div id="contentwrapper" class="notoppadding">
            <div id="teaser">
                {% block headerdiv %}
                    {{ block.super }}
                {% endblock %}
                <h1>Film- und Fotoequipment Sharing</h1>
                <h2>sicher. einfach. nah.</h2>
                <div class="play-button">
                    <a href="javascript:void(0);" data-videoid="N16l60bhWSs">
                        <img src="{% static 'gearo/images/play_button.png' %}" alt="Videokamera vermieten mieten verleihen ausleihen">
                    </a>
                </div>
                <div id="startpage-search" class="centered-div">
                    <form method="post" action="{% url 'search_redirect' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input id="serachterm" type="text" name="term" class="form-control "
                                   placeholder="z.B Canon 5D MK II" aria-describedby="basic-addon1">

                            <input id="searchplace" type="text" name="place" class="form-control"
                                   placeholder="z.B Köln" aria-describedby="basic-addon1">

                            <input name="pickup" id="pickup" type="hidden">
                            <input name="return" id="return" type="hidden">
                            <input name="lat" id="lat" type="hidden">
                            <input name="lng" id="lng" type="hidden">
                            <input name="category" id="category" type="hidden">
                            <button type="submit" class="btn btn-default">
                                <span class="fa fa-search"></span> Suchen
                            </button>
                        </div>
                    </form>
                </div>
                <div id="howitworks">
                    <div>
                        <a href="#">
                            <img src="{% static 'gearo/images/startpage/howitworks.png'%}" alt="Foto Video Filmequipment sharing">
                        </a>
                    </div>
                </div>
            </div>
            <div class="centered-div">
                <ul id="startpage-categories">
                    <li>
                        <a href="{% url 'search_results' cat_slug='fotokamera' %}" id="photocamera" title="Alle Fotokameras anzeigen">
                            <span class="hidden-xs"> Fotokameras</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'search_results' cat_slug='filmkamera' %}" id="moviecamera" title="Alle Videokameras anzeigen">
                            <span class="hidden-xs"> Filmkameras</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'search_results' cat_slug='objektive' %}" id="objective" title="Alle Objektive anzeigen">
                            <span class="hidden-xs"> Objektive</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'search_results' cat_slug='licht' %}" id="light" title="Alle Lichter anzeigen">
                            <span class="hidden-xs"> Licht</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'search_results' cat_slug='stativezubehoer' %}" id="accessories" title="Alle Stative, Gimbals und Zubehör anzeigen">
                            <span class="hidden-xs"> Stative & Zubehör</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'search_results' cat_slug='audio' %}" id="audio" title="Alle Audiogeräte anzeigen">
                            <span class="hidden-xs"> Audio</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'search_results' cat_slug='drohnepilot' %}" id="drohne" title="Alle Drohnen anzeigen">
                            <span class="hidden-xs"> Drohne & Pilot</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'search_results' cat_slug='studiosraueme' %}" id="studio" title="Alle Studios & Räume anzeigen">
                            <span class="hidden-xs"> Studios & Räume</span>
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div id="hdi-background">
                <div id="hdi">
                    <h2>
                        <img src="{% static 'gearo/images/startpage/lock.png' )%}" alt="Fotoausrüstung Videoausrüstung versichert vermieten">
                        dein Equipment ist sicher
                    </h2>
                    <div>
                        <ul>
                            <li>Dein Gear ist vollständig versichert</li>
                            <li>Individueller und schneller Service</li>
                            <li>Unsere Mitglieder sind verifiziert</li>
                            <li>Du entscheidest, an wen du vermietest</li>
                        </ul>
                        <p>
                            Versicherungsdetails
                            <a href="/die-gearo-versicherung">hier nachlesen</a>
                        </p>
                    </div>
                    <div class="centered-div" id="hdi-width">
                        <div id="hdi-logo" class="pull-right">
                            <img src="{% static 'gearo/images/startpage/HDI.png' )%}" height="30" alt="versichert Kamera vermieten verleihen">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="centered-div" id="offerstartpage">
                <div class="container-fluid">
                    <div class="row">
                        {% for ad in ads %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <a href="{% url 'addetail' ad.slug %}" class="noUnderline" title="{{ ad.title }}">
                                    <div class="panel panel-gearo">
                                        <div class="panel-heading">
                                            <span>{{ ad.title }}</span>
                                        </div>
                                        <div class="panel-body">
                                            <img src="{{ ad.thumbnail_url }}" alt="alt text" style="text-decoration: none;">
                                            <span class="price">
                                                {{ ad.priceday|floatformat:"0"  }} &euro;
                                                <small>{% if ad.include_mwst %}inkl. MwSt{% else %}Mwst. frei.{% endif %}</small>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="box-features">
                <div id="benefits">
                    <div class="container">
                        <div class="row">
                            <div class=" col-xs-12 col-sm-4" style="text-align:center">
                                <h3>verdiene Geld</h3>
                                <p>Erstelle ein Angebot auf gearo</p>
                                <p>und verdiene mit deinem</p>
                                <p>ungenutzten Equipment Geld.</p>
                                <img src="{% static 'gearo/images/startpage/verdiene-geld.png' %}" alt="Geld mit Kamera verdienen Kamera vermieten"/>
                            </div>
                            <div class=" col-xs-12 col-sm-4" style="text-align:center">
                                <h3>suche & buche</h3>
                                <p>Suche dir spontan das</p>
                                <p>Equipment, das du benötigst und</p>
                                <p>miete es direkt vom Besitzer.</p>
                                <img src="{% static 'gearo/images/startpage/suche-buche.png' %}" alt="Kamera Objektiv in der Nähe mieten leihen"/>
                            </div>
                            <div class=" col-xs-12 col-sm-4" style="text-align:center">
                                <h3>Community</h3>
                                <p>Die gearo Nutzer lieben Equipment.</p>
                                <p>Sammelt gute Bewertungen für eine</p>
                                <p>starke Community.</p>
                                <img src="{% static 'gearo/images/startpage/community.png' %}" alt="Foto Video Community Kameraverleih"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row" id="landing_page_features">
                        <h3>Film- und Fotokameras, Objektive, Stative, Drohen und Fotostudios mieten</h3>
                        Ob du ein privates <strong>Event</strong> festhalten, deinen <strong>Urlaub</strong> dokumentieren, einen <strong>Auftrag</strong>
                        zur vollsten Zufriedenheit des Kunden abwickeln, oder einen Job mit ganz besonderen Anforderungen umzusetzen
                        willst. Gerade bei hochwertigen <strong>Spiegelreflex-</strong> und <strong>Videokameras</strong>,
                        <strong>lichtstarken Objektiven</strong> und komplexem Zubehör ist es meistens besser, die
                        <strong>Film- und Fotoausrüstung</strong> zu <strong>mieten</strong>, anstatt sie sich für viel Geld zu kaufen.

                        <h3>Online mieten</h3>
                        Doch der Weg zum kommerziellen <strong>Kameraverleih</strong> ist meistens <strong>zeitintensiv</strong>
                        und genau die Kamera, die du haben willst, ist oft nicht im Sortiment, oder schon <strong>vergriffen</strong>.
                        gearo macht <strong>Schluss mit den Problemen</strong> beim <strong>Mieten</strong> von <strong>Kameras</strong>,
                        <strong>Objektiven</strong>, <strong>Stativen</strong> und dem vielfältigen <strong>Zubehör</strong>.
                        Auf gearo.de können Film- und Fotoebegeisterte, vom Amateur bis zum Profi, genau dann die
                        <strong>passenden Kameras</strong> und <strong>Objektive</strong> in der direkten Umgebung leihen,
                        wenn sie sie auch wirklich benötigen.

                        <h3>Online vermieten</h3>
                        Ständig erweitern <strong>neue Standards</strong> (<strong>4k</strong>, <strong>Drohnen</strong>,
                        <strong>Gimbals</strong>) im Bereich von Video- und Fototechnik die kreativen Möglichkeiten und
                        sorgen für bessere Qualität von Videos, Filmen und Fotografien. Kameramänner, Fotografen, Agenturen und
                        Produktionsfirmen stehen vor der Herausforderung, sich <strong>ständig die neusten Kameras</strong>
                        anzuschaffen und diese auch wieder zu refinanzieren. gearo bietet hier als erstes und einziges Portal
                        in Deutschland Equipmentbesitzern die Möglichkeit, Film- und Fotokameras <strong>voll versichert</strong>
                        an Equipmentnutzer zu vermieten. Kreativschaffenden wird so die Möglichkeit gegeben, die
                        teuren <strong>Anschaffungskosten</strong> für Kameras, Objektive und Zubehör durch Vermietung zu <strong>amortisieren</strong>.

                        <h3>Community unterstützen</h3>
                        Durch die <strong>Treffen</strong> bei der Equipmentüber- und Rückgabe wird das <strong>private
                        und professionelle Netzwerk</strong> ständig erweitert. Das wirklich coole an gearo ist auch der
                        <strong>gegenseitige Support</strong> innerhalb der Film- und Foto-Community. Die einzigartige
                        Möglichkeit der direkten finanziellen Unterstützung macht das <strong>revolutionäre Verleihmodell</strong>
                        so besonders und gearo zu einem <strong>speziellen</strong> und <strong>einzigartigen Ort</strong>.

                        <h3>Riesige Auswahl an Videokameras, Fotokameras, Objektiven u.v.m.</h3>
                        Ob <a href="{% url 'search_results' cat_slug='fotokamera' term='canon' %}">DSLRs von Canon</a> oder
                        <a href="{% url 'search_results' cat_slug='fotokamera' term='nikon' %}">Nikon</a>,
                        <a href="{% url 'search_results' term='sony a7' %}">Foto- und Video-Alleskönner von Sony</a>,
                        <a href="{% url 'search_results' cat_slug='filmkamera' term='red' %}">Filmkameras von RED</a>,
                        <a href="{% url 'search_results' cat_slug='audio' term='rode' %}">Tonequipment von Røde</a>,
                        <a href="{% url 'search_results' cat_slug='licht' term='dedolight' %}">Lichter von Dedolight</a>,
                        <a href="{% url 'search_results' cat_slug='stativezubehoer' term='dji' %}">Gimbals</a> und
                        <a href="{% url 'search_results' cat_slug='drohnepilot' term='dji' %}">Drohnen von DJI</a>, oder ganze
                        <a href="{% url 'search_results' cat_slug='studiosraueme' %}">Studios</a>.
                        Auf gearo findet jeder <strong>genau das passende Equipment</strong>.

                        <h3>So einfach geht Mieten auf gearo</h3>
                        <strong>Suche und buche</strong> ganz einfach das passende Equipment auf gearo.de. Du wählst den
                        Zeitraum aus und <strong>bezahlst online</strong>. Sobald der Vermieter deine Mietanfrage angenommen hat,
                        kannst du alle Details zur <strong>Abholung</strong> klären. Die Ausrüstung holst du dann ganz einfach
                        beim Vermieter ab. Nachdem du deine Produktion beendet hast, gibst du das Equipment einfach wieder zurück.
                    </div>
                </div>

            </div>
        </div>
        {% block footerdiv %}
            {{ block.super }}
        {% endblock %}
    </div>
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
        window.__lc = window.__lc || {};
        window.__lc.license = 8322051;
        (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();
    </script>
    <!-- End of LiveChat code -->
</body>
</html>
{% endblock %}
