{% extends "gearo/base.html" %}
{% load compress staticfiles %}
{% block title %} {{ site.title }} {% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:description" content="{{ site.content|striptags|safe|cut:" &nbsp;" }}" />
    <meta property="og:url" content="https://{{ request.get_host }}"/>
    <meta property="og:image" content="https://{{ request.get_host }}/static/gearo/images/startpage/title.jpg"/>
    <meta property="og:image:width" content="2000"/>
    <meta property="og:image:height" content="1125"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/video_lightbox.js'%}"></script>
    {% endcompress %}
{% endblock %}

{% block body %}
<body>
    <div id="lightbox" class="lightbox">
        <a href="#" class="close-button"><i class="fa fa-times"></i></a>
        <div id="lightbox_container" class="embed-responsive embed-responsive-4by3">
            <img src="{% static 'gearo/images/loading_indicator.svg' %}">
        </div>
    </div>
    <div id="wrapper">
        <div id="contentwrapper" class="notoppadding">
            <div id="teaser" class="lease-price">
                {% with white=True %}
                    {% block headerdiv %}
                        {{ block.super }}
                    {% endblock %}
                {% endwith %}
                <h1>Miete Film- und Fotoequipment auf gearo!</h1>
                <h2>Equipment günstig von Kreativen, Pros und Unternehmen mieten!</h2>
                <div class="play-button">
                    <a href="javascript:void(0);" data-videoid="CJrmDWAes6A">
                        <img src="{% static 'gearo/images/play_button.png' %}">
                    </a>
                </div>
                <button class="btn btn-default btn-lease-header btn-lease" onclick="location.href='{% url 'search_results' %}';">
                    jetzt Equipment günstig mieten
                </button>
            </div>
            <div id="lease-features">
                <div class="container">
                    <div class="row lease-features-header">
                        <div class=" col-xs-12 col-sm-12" style="text-align:center">
                            <h3>Darum bei gearo mieten!</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_1_1.png' %}">
                            </div>
                            Miete Equipment günstiger als im klassischen Verleih.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_1_2.png' %}">
                            </div>
                            Miete Gear direkt bei Personen in deiner Umgebung.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_1_3.png' %}">
                            </div>
                            Gewinne Zeit durch kurze Abholwege.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_1_4.png' %}">
                            </div>
                            Leihe unabhängig von klassischen Öffnungszeiten.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_2_1.png' %}">
                            </div>
                            Suche dir dann das passende Equipment, wen du es benötigst.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_2_2.png' %}">
                            </div>
                            Freie Abhol- und Rückgabetage - zahle nur wenn du produzierst.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_2_3.png' %}">
                            </div>
                            Jede Anmietung is voll versichert.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_2_4.png' %}">
                            </div>
                            Erweitere dein kreatives Netzwerk.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_3_1.png' %}">
                            </div>
                            Probiere das neuste Equipment aus.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_3_2.png' %}">
                            </div>
                            Miete und vermiete auf gearo - werde Teil der gearo Community.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_3_3.png' %}">
                            </div>
                            Senke die Produktionskosten.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_lease_features/icon_3_4.png' %}">
                            </div>
                            Als gearo Nutzer supportest du direkt Filmer und Fotografen.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12" style="text-align: center">
                            <button type="button" class="btn btn-default btn-lease btn-lease-header"
                                    onclick="location.href='{% url 'search_results' %}';">
                                jetzt Equipment günstig mieten
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="lease-testimonials">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12" style="text-align:center">
                            <h3>Werde Teil der gearo Community!</h3>
                        </div>
                    </div>
                    <div class="row row-testimonials">
                        <div class=" col-xs-12 col-sm-12 col-lg-4" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/lease_testimonials/1.png' %}">
                            </div>
                            <div class="title">
                                <h4>Florian Yeh</h4>
                                <span>Fotograf</span>
                            </div>
                            <div class="testimonial">
                                "Über gearo miete ich mir nicht nur Equipment für Aufträge, ich vermiete auch mein
                                eigenes Equipment und unterstütze so Nachwuchsfotografen bei ihren Projekten.
                                Genau das Konzept des gegenseitigen Unterstützens innerhalb der Film- und
                                Foto-Community überzeugt mich bei gearo."
                            </div>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-lg-4" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/lease_testimonials/2.png' %}">
                            </div>
                            <div class="title">
                                <h4>Lars Baldenau</h4>
                                <span>
                                    Kameramann<br>
                                    TRAUMWinkel Produktion
                                </span>
                            </div>
                            <div class="testimonial">
                                "Die langen Wege zum Verleiher waren für mich immer ein notwendiges Übel. Inzwischen
                                miete ich mein Equipment nur noch bei Personen in meiner Umgebung. Die besten Kameras
                                bekomme ich so nicht nur einfacher, sondern auch günstiger."
                            </div>

                        </div>
                        <div class=" col-xs-12 col-sm-12 col-lg-4" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/lease_testimonials/3.png' %}">
                            </div>
                            <div class="title">
                                <h4>Heinrich Beck</h4>
                                <span>
                                    Fotograf aus Leidenschaft<br>
                                    BECK Fotografie
                                </span>
                            </div>
                            <div class="testimonial">
                                "Ich bin Teil der Community, weil ich auf gearo immer genau dann das richtige Equipment
                                für meine Projekte bekomme, wenn ich es wirklich brauche. Die Insidertips, die ich von
                                professionellen Kameramännern bekomme, sind wirklich unbezahlbar. Das gute Gefühl
                                bleibt, denn durch meine Anmietung unterstütze ich direkt Kreative in meiner Umgebung."
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row row-discount">
                        <div class=" col-xs-12 col-sm-8" style="text-align:center">
                            <div class="lease-discount-left-container">
                                <button class="btn btn-default btn-discount btn-lease btn-italic" data-toggle="modal" data-target="#registerModal">
                                    jetzt kostenlos anmelden
                                </button>
                                <div class="lease-discount btn-italic">
                                    10% Gutschein für die erste Anmietung erhalten
                                </div>
                            </div>
                        </div>

                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <div class="lease-discount-right-container">
                                <button class="btn btn-default btn-discount-right" data-toggle="modal" data-target="#registerModal">
                                    anmelden & <br>Gutschein erhalten
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="easy-to-lease">
                <div class="container">
                    <div class="row row-easy-to-lease">
                        <div class=" col-xs-12 col-sm-12" style="text-align:center">
                            <h3>So einfach mietest du auf gearo:</h3>
                        </div>
                    </div>
                    <div class="row row-advantages">
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <h2>1</h2>
                            <h4>suche & buche</h4>
                            <span>einfach das passende Equipment</span>
                        </div>
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <h2>2</h2>
                            <h4>triff dich</h4>
                            <span>und leg mit deiner Produktion los</span>
                        </div>
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <h2>3</h2>
                            <h4>gib das Gear zurück</h4>
                            <span>die Anmietung ist versichert</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="video_preview">
                <div class="container hidden-xs">
                    <div class="row row-demo-video">
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <img src="{% static 'images/gearo_iphone_mockup_miete.png' %}">
                        </div>
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <h2>Mieten - so geht's!</h2>
                            <div class="play-button demo-play-button">
                                <a href="javascript:void(0);" data-videoid="CJrmDWAes6A">
                                    <img src="{% static 'gearo/images/play_button.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container visible-xs full-height">
                    <div class="row row-demo-video">
                        <div class=" col-xs-12 col-sm-4 col-video-demo" style="text-align:center">
                            <h2>Mieten - so geht's!</h2>
                            <div class="play-button demo-play-button">
                                <a href="javascript:void(0);" data-videoid="CJrmDWAes6A">
                                    <img src="{% static 'gearo/images/play_button.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="lease_features_footer">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 col-lg-8" style="text-align:center">
                            <div>
                                <button class="btn btn-default btn-lease btn-italic" data-toggle="modal" data-target="#loginModal">
                                    log' dich jetzt auf gearo ein
                                </button>
                                <button class="btn btn-default btn-lease btn-italic btn-lease-bottom-left" onclick="location.href='{% url 'search_results' %}';">
                                    miete dein Equipment
                                </button>
                            </div>
                        </div>

                        <div class=" col-xs-12 col-sm-12 col-lg-4" style="text-align:center">
                            <button class="btn btn-default btn-discount-right btn-lease-bottom-right" onclick="location.href='{% url 'search_results' %}';">
                                jetzt Equipment günstig mieten
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% block footerdiv %}
            {{ block.super }}
        {% endblock %}
    </div>

    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
        window.__lc = window.__lc || {};
        window.__lc.license = 8322051;
        (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();
    </script>
    <!-- End of LiveChat code -->

</body>
{% endblock %}