{% extends "gearo/base.html" %} {% load staticfiles %} 
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
<div id="login" class="fallback">
	<form>

		<input type="text" class="form-control" placeholder="E-Mail-Adresse">

		<input type="password" class="form-control" placeholder="Passwort">

		<div class="pull-right"><a href="{% url 'register'%}" title="Registrieren">Passwort vergessen?</a></div>
		<div class="clear"></div>
		<button type="submit" class="btn btn-default">Log-in</button>
		<hr>
		Hast du noch keinen Account?
		<a href="{% url 'register'%}" id="registerlink" title="Registrieren">Registrieren</a>

	</form>
</div>

{% endblock %}