{% extends "gearo/base.html" %} {% load staticfiles %} {% block title %}
Registieren - gearo {% endblock %} {% block content %}
<div id="register" class="modal-body fallback">
	<form data-parsley-validate action="{%  url 'register' %}"
		method="post">
		{% csrf_token %}
		<div class="error-container" id="error_firstname">{{form.firstname.errors}}</div>
		<input type="text" name="firstname" class="form-control"
			placeholder="Vorname" data-parsley-required
			data-parsley-errors-container="#error_firstname">

		<div class="error-container" id="error_lastname">{{form.lastname.errors}}</div>
		<input type="text" name="lastname" class="form-control"
			placeholder="Nachname" data-parsley-required
			data-parsley-errors-container="#error_lastname">

		<p>Dein Nachname wird nicht öffentlich angezeigt!</p>
		<div class="error-container" id="error_email">{{form.email.errors}}</div>
		<input type="text" name="email" class="form-control"
			placeholder="E-Mail-Adresse" data-parsley-type="email"
			data-parsley-equalto="#email_repeat" data-parsley-required
			data-parsley-errors-container="#error_email">

		<div class="error-container" id="error_email_repeat">{{form.email_repeat.errors}}</div>
		<input id="email_repeat" type="text" name="email_repeat"
			class="form-control" placeholder="E-Mail-Adresse wiederholen"
			data-parsley-type="email" data-parsley-required
			data-parsley-errors-container="#error_email_repeat">

		<div class="error-container" id="error_password">{{form.password.errors}}</div>
		<input type="password" name="password" class="form-control"
			placeholder="Passwort" data-parsley-required
			data-parsley-equalto="#password_repeat"
			data-parsley-errors-container="#error_password">

		<div class="error-container" id="error_password_repeat">{{form.password_repeat.errors}}</div>
		<input id="password_repeat" type="password" name="password_repeat"
			class="form-control" placeholder="Passwort wiederholen"
			data-parsley-required
			data-parsley-errors-container="#error_password_repeat">

		<div class="error-container" id="error_terms">{{form.terms.errors}}</div>
		<div>
			<input id="id_terms" name="terms" type="checkbox" class="pull-left"
				data-parsley-checkmin="1" required
				data-parsley-errors-container="#error_terms"><span>Indem
				ich bei gearo registriere, erkläre ich mich mit den Nutzungs-
				bedingungen und Datenschutzregeln einverstanden.</span>
		</div>

		<button type="submit" class="btn btn-default">Registrieren</button>

	</form>
</div>
{% endblock %}
