{% extends "gearo/base.html" %}
{% load staticfiles %}
{% block title %} {{ site.title }} {% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:description" content="{{ site.content|striptags|safe|cut:" &nbsp;" }}" />
    <meta property="og:url" content="https://{{ request.get_host }}"/>
    <meta property="og:image" content="https://{{ request.get_host }}/static/gearo/images/startpage/title.jpg"/>
    <meta property="og:image:width" content="2000"/>
    <meta property="og:image:height" content="1125"/>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'gearo/css/bootstrap-slider.min.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'gearo/js/bootstrap-slider.min.js'%}"></script>
    <script src="{% static 'gearo/js/video_lightbox.js'%}"></script>
    <script src="{% static 'gearo/js/rent_features.js'%}"></script>
{% endblock %}

{% block body %}
<body>
    <div id="lightbox" class="lightbox">
        <a href="#" class="close-button"><i class="fa fa-times"></i></a>
        <div id="lightbox_container" class="embed-responsive embed-responsive-4by3">
            <img src="{% static 'gearo/images/loading_indicator.svg' %}">
        </div>
    </div>
    <div id="wrapper">
        <div id="contentwrapper" class="notoppadding rent-features-page">
            <div id="teaser" class="rent-price">
                {% with white=True %}
                    {% block headerdiv %}
                        {{ block.super }}
                    {% endblock %}
                {% endwith %}
                <h1>Vermiete dein Equipment auf gearo!</h1>
                <h2>Verdiene mit deinem Equipment Geld!</h2>
                <div class="play-button">
                    <a href="javascript:void(0);" data-videoid="yUGkf46SOBY">
                        <img src="{% static 'gearo/images/play_button.png' %}">
                    </a>
                </div>
                <button class="btn btn-default btn-rent-header btn-rent" {% if request.user.is_authenticated %}onclick="location.href='{% url 'advertise' %}';" {% else %}data-toggle="modal" data-target="#loginModal" {% endif %}>
                    mein Equipment kostenlos inserieren
                </button>
            </div>
            <div id="hdi-background">
                <div id="hdi">
                    <h2>
                        <img src="{% static 'gearo/images/startpage/lock.png' )%}">dein Equipment ist sicher
                    </h2>
                    <div>
                        <ul>
                            <li>Dein Gear ist vollständig und europaweit versichert</li>
                            <li>Individueller und schneller Serivce</li>
                            <li>Unsere Mitglieder sind verifiziert</li>
                            <li>Du entscheidest, an wen du vermietest</li>
                        </ul>
                        <p>
                            Versicherungsdetails <a href="/die-gearo-versicherung">hier nachlesen</a>
                        </p>
                    </div>
                    <div class="centered-div" id="hdi-width">
                        <div id="hdi-logo" class="pull-right">
                            <img src="{% static 'gearo/images/startpage/HDI.png' )%}" height="30">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="rent-features">
                <div class="container">
                    <div class="row rent-features-header">
                        <div class=" col-xs-12 col-sm-12" style="text-align:center">
                            <h3>gearo für Pros, Verleiher und Unternehmen</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_rent_features/icon_1_1.png' %}">
                            </div>
                            Erstelle deine Rechnungen mit einem Klick.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_rent_features/icon_1_2.png' %}">
                            </div>
                            Erhalte Mietzahlungen direkt nach Rückgabe des Equipments.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_rent_features/icon_1_3.png' %}">
                            </div>
                            Nutze das Volle wirtschaftliche Potential deines Equipments.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_rent_features/icon_1_4.png' %}">
                            </div>
                            Erhöhe deine Reichweite und verbessere deine Zielgruppenansprache.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_rent_features/icon_2_1.png' %}">
                            </div>
                            Maximiere die Auslastung deines Equipments.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_rent_features/icon_2_2.png' %}">
                            </div>
                            Vergrössere deinen Kundenstamm.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_rent_features/icon_2_3.png' %}">
                            </div>
                            Protokolliere Übergabe und Rückgabe einfach und schnell digital.
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align:center">
                            <div class="image-box">
                                <img src="{% static 'images/icons_rent_features/icon_2_4.png' %}">
                            </div>
                            Erhalte Mietenfragen direkt per Mail und SMS.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12" style="text-align: center">
                            <button type="button" class="btn btn-default btn-rent btn-rent-header" {% if request.user.is_authenticated %}onclick="location.href='{% url 'advertise' %}';" {% else %}data-toggle="modal" data-target="#loginModal" {% endif %}>
                                mein Equipment kostenlos inserieren
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rent-testimonials">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12" style="text-align:center">
                            <h3>Werde Teil der gearo Community!</h3>
                        </div>
                    </div>
                    <div class="row row-testimonials">
                        <div class=" col-xs-12 col-sm-12 col-lg-4" style="text-align:center">
                            <div class="image-box">
                                <a href="https://gearo.de/profil/BenjaminK/">
                                    <img src="{% static 'images/rent_testimonials/1.png' %}">
                                </a>
                            </div>
                            <div class="title">
                                <h4>Benjamin Kurtz</h4>
                                <span>
                                    Fotograf & Filmer<br>
                                    KURTZFILM.STUDIOS
                                </span>
                            </div>
                            <div class="testimonial">
                                "Über gearo vermiete ich mein Equipment und mein Studio.
                                So erhöhe ich die Auslastung meines Studios und generiere Umsätze mit meinem
                                Equipment, wenn ich es mal nicht benötige"
                            </div>
                            <div class="rent-stats">
                                <span>11</span> Inserate online<br>
                                teilt Equipment im Wert von<br>
                                <span>9.700 €</span>
                            </div>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-lg-4" style="text-align:center">
                            <div class="image-box">
                                <a href="https://gearo.de/profil/StefanB/">
                                    <img src="{% static 'images/rent_testimonials/2.png' %}">
                                </a>
                            </div>
                            <div class="title">
                                <h4>Stefan Bremer</h4>
                                <span>
                                    DP & Editor<br>
                                    <a href="http://stefan-bremer.com">stefan-bremer.com</a>
                                </span>
                            </div>
                            <div class="testimonial">
                                "Ich bin auf ein neues Kamerasystem umgestigen. Mit gearo hole ich mir mein
                                Investment auch dann zurück, wenn ich nicht am Set bin."
                            </div>
                            <br>
                            <div class="rent-stats">
                                <span>18</span> Inserate online<br>
                                teilt Equipment im Wert von<br>
                                <span>13.215 €</span>
                            </div>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-lg-4" style="text-align:center">
                            <div class="image-box">
                                <a href="https://gearo.de/profil/EmilieD1/">
                                    <img src="{% static 'images/rent_testimonials/3.png' %}">
                                </a>
                            </div>
                            <div class="title">
                                <h4>Emilie Donès</h4>
                                <span>
                                    Production Assistant bei<br>
                                    OVALmedia
                                </span>
                            </div>
                            <div class="testimonial">
                                "gearo ist für mich eine super Möglichkeit die Auslastung unseres Studio-Equipments
                                zu maximieren, auch wenn die Auftragslage mal etwas schwächer ist."
                            </div>
                            <br>
                            <div class="rent-stats">
                                <span>47</span> Inserate online<br>
                                teilt Equipment im Wert von<br>
                                <span>211.010 €</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row row-rent-income">
                        <div class=" col-xs-12 col-sm-12" style="text-align:center">
                            <h3>Wie viel kann ich verdienen?</h3>
                            <h5>Equipmentwert</h5>
                            <input id="rent_equipment_value_slider" data-slider-id='rent_equipment_value' type="text"
                                   data-slider-min="500" data-slider-max="100000" data-slider-step="500"
                                   data-slider-value="20000" data-slider-tooltip="hide"/>
                            <span id="rent_equipment_value_current">20000 €</span>

                            <h5>Miettage im Monat</h5>
                            <input id="rent_duration_slider" data-slider-id='rent_duration' type="text" data-slider-min="1"
                                   data-slider-max="15" data-slider-step="1" data-slider-value="8"
                                   data-slider-tooltip="hide"/>
                            <span id="rent_duration_current">8 Tage</span>

                            <div id="rent_calculation">
                                <h4>Möglicher Verdienst</h4>
                                <span id="rent_yearly_income">32640 €</span>
                                <h4>im Jahr</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="easy-to-rent">
                <div class="container">
                    <div class="row row-easy-to-rent">
                        <div class=" col-xs-12 col-sm-12" style="text-align:center">
                            <h3>So einfach vermietest du auf gearo:</h3>
                        </div>
                    </div>
                    <div class="row row-advantages">
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <h2>1</h2>
                            <h4>erstelle dein Inserat</h4>
                        </div>
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <h2>2</h2>
                            <h4>vermiete dein Equipment</h4>
                        </div>
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <h2>3</h2>
                            <h4>Übergabe und Rückgabe</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div id="video_preview">
                <div class="container hidden-xs">
                    <div class="row row-demo-video">
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <img src="{% static 'images/gearo_iphone_mockup_miete.png' %}">
                        </div>
                        <div class=" col-xs-12 col-sm-4" style="text-align:center">
                            <h2>inserieren - so geht's!</h2>
                            <div class="play-button demo-play-button">
                                <a href="javascript:void(0);" data-videoid="ehqIKN_eBs8">
                                    <img src="{% static 'gearo/images/play_button.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container visible-xs full-height">
                    <div class="row row-demo-video">
                        <div class=" col-xs-12 col-sm-4 col-video-demo" style="text-align:center">
                            <h2>inserieren - so geht's!</h2>
                            <div class="play-button demo-play-button">
                                <a href="javascript:void(0);" data-videoid="ehqIKN_eBs8">
                                    <img src="{% static 'gearo/images/play_button.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rent_features_footer">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 col-lg-8" style="text-align:center">
                            <div>
                                <button class="btn btn-default btn-rent btn-italic" {% if request.user.is_authenticated %}onclick="location.href='{% url 'advertise' %}';" {% else %}data-toggle="modal" data-target="#loginModal" {% endif %}>
                                    inseriere jetzt kostenlos auf gearo.de
                                </button>
                                <button class="btn btn-default btn-rent btn-italic btn-rent-bottom-left" {% if request.user.is_authenticated %}onclick="location.href='{% url 'advertise' %}';" {% else %}data-toggle="modal" data-target="#loginModal" {% endif %}>
                                    verdiene mit deinem Equipment Geld
                                </button>
                            </div>
                        </div>

                        <div class=" col-xs-12 col-sm-12 col-lg-4" style="text-align:center">
                            <button class="btn btn-default btn-discount-right btn-rent-bottom-right" {% if request.user.is_authenticated %}onclick="location.href='{% url 'advertise' %}';" {% else %}data-toggle="modal" data-target="#loginModal" {% endif %}>
                                meine Equipment kostenlos inserieren
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block footerdiv %}
            {{ block.super }}
        {% endblock %}
    </div>

    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
        window.__lc = window.__lc || {};
        window.__lc.license = 8322051;
        (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();
    </script>
    <!-- End of LiveChat code -->

</body>
{% endblock %}