{% extends "gearo/base.html" %} {% load staticfiles %} 
{% block title %} {{ site.title }} {% endblock %} 

{% block og_tags %}
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:description" content="{{ site.content|striptags|safe|cut:"&nbsp;" }}" />
	<meta property="og:url" content="https://{{ request.get_host }}" />
	<meta property="og:image" content="https://{{ request.get_host }}/static/gearo/images/startpage/title.jpg" />
	<meta property="og:image:width" content="2000" />
	<meta property="og:image:height" content="1125" />
{% endblock %}

{% block content %}
<div class="centered-div" id="page">
	<div class="page-header">
	  <h1>{{ site.title }}</h1>
	</div>
	<div class="page-content">
		{{ site.content|safe|escape  }}
	</div>
</div>
{% endblock %}