{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'advertisementsexport' %}" target="_blank">exportieren</a>
    </li>
    {{ block.super }}
{% endblock %}