{% extends "gearo/base.html" %}
{% load compress staticfiles %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var dailyBilledCategories = '{{ daily_billed_categories|safe }}';
        var tagsAutocompleteUrl = '{% url 'tags_autocomplete' %}';
        var chooseImgUrl = '{% static 'gearo/images/insert/chooseimg.png' %}';
        var markerImage = '{% static "gearo/images/marker.png" %}';
        var stepOneImg = "{% static 'gearo/images/insert/progress-1.png' %}";
        var stepTwoImg = "{% static 'gearo/images/insert/progress-2.png' %}";
        var stepThreeImg = "{% static 'gearo/images/insert/progress-3.png' %}";
        var categoriesTerms = {{ categories_terms|safe }};
    </script>
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/reverse.js' %}"></script>
        <script src="{% static 'gearo/js/validators.js' %}"></script>
        <script src="{% static 'gearo/js/image_uploader.js' %}"></script>
        <script src="{% static 'gearo/js/ad_edit.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div">
        <div class="page-header">
            <h1>Vermiete dein Equipment</h1>
            <h5>Mache dein ungenutztes Gear zu Geld</h5>
        </div>
        <form id="advertise-form" class="advertise-form advertise-{% if ad %}edit{% else %}add{% endif %}" method="post" data-parsley-validate="">
            {% csrf_token %}
            <div class="form-section current">
                <label for="category">Equipmentart</label>
                <div id="error_category"></div>
                {{ form.category }}
                <label for="title">Titel deines Angebots</label>
                <div id="error_title"></div>
                {{ form.title }}
                <p>Beschreibe dein Angebot kurz und präzise (max. 60 Zeichen)</p>

                {{ form.tags }}
                <label for="tags">Tags</label>
                <div id="error_tags"></div>
                <ul id="tags"></ul>

                <div id="advertise-prices">
                    <div id="error_priceday" style="float: none;"></div>
                    <h6 id="advertise_prices_label" style="display: inline;">
                        Mietpreise in Euro
                    </h6>
                    <a href="https://blog.gearo.de/preisrechner/" class="blog-link" target="_blank">
                        jetzt richtigen Mietpreis bestimmen!
                    </a>
                    <div>
                        <label for="priceday">Tag</label>
                        {{ form.priceday }}
                    </div>
                    <div class="middlediv">
                        <label for="pricethree">3 Tage</label>
                        {{ form.pricethree }}
                    </div>

                    <div>
                        <label for="priceweek">Woche (7 Tage)</label>
                        {{ form.priceweek }}
                    </div>
                </div>

                <div id="articleofvalue_specified_container">
                    <label for="articleofvalue">Aktueller Wert des Equipment</label>
                    <div id="error_articleofvalue"></div>
                    {{ form.articleofvalue }}
                    <p>
                        Bitte trage hier den aktuellen Wert eines neuen Modells deines Gerätes ein.
                        Preise hierzu lassen sich beispielsweise auf amazon.de finden.
                        Wichtig: Der Wert, den du hier einträgst, gilt als versicherter Equipmentwert.
                        Achte bei Equipmentsets darauf, alle Teile mitzuberechnen.
                        <a href="https://gearo.de/die-gearo-versicherung/" target="_blank"> Mehr Informationen zur Versicherung</a>
                    </p>
                </div>
                <div id="articleofvalue_not_specified_container"><p></p>
                </div>
            </div>

            <div class="form-section {% if not add %}current {% endif%}">
                <div class="input-group">
                    <label for="description">Detailierte Beschreibung</label>
                    {{ form.description.errors }}
                    {{ form.description }}
                </div>

                <h6>Verschaffe deinem Angebot ein Gesicht</h6>
                <div id="chooseimages_errors"></div>
                <div class="input-group" id="chooseimages">
                    {% if add %}
                        <div>
                            <div class="preview">
                                <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                <img height=74 width=130 src="{% static 'gearo/images/insert/chooseimg.png' %}" class="preview-thumbnail">
                                <a href="javascript:void(0)" class="link_ad_remove hide">
                                    <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div id="middleimg">
                            <div class="preview">
                                <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                <img height=74 width=130 src="{% static 'gearo/images/insert/chooseimg.png' %}" class="preview-thumbnail">
                                <a href="javascript:void(0)" class="link_ad_remove hide">
                                    <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="preview">
                                <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                <img height=74 width=130 src="{% static 'gearo/images/insert/chooseimg.png' %}" class="preview-thumbnail">
                                <a href="javascript:void(0)" class="link_ad_remove hide">
                                    <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hide" style="margin-top: 10px">
                            <div class="preview">
                                <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                <img height=74 width=130 src="{% static 'gearo/images/insert/chooseimg.png' %}" class="preview-thumbnail">
                                <a href="javascript:void(0)" class="link_ad_remove hide">
                                    <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div id="middleimg" class="hide" style="margin-top: 10px">
                            <div class="preview">
                                <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                <img height=74 width=130 src="{% static 'gearo/images/insert/chooseimg.png' %}" class="preview-thumbnail">
                                <a href="javascript:void(0)" class="link_ad_remove hide">
                                    <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hide" style="margin-top: 10px">
                            <div class="preview">
                                <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                <img height=74 width=130 src="{% static 'gearo/images/insert/chooseimg.png' %}" class="preview-thumbnail">
                                <a href="javascript:void(0)" class="link_ad_remove hide">
                                    <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <p>
                        Zur besten Darstellung deines Equipments lade die Fotos im
                        16:9-Format als JPG oder PNG mit maximal 3,0 MB Dateigröße
                        hoch.
                    </p>
                {% else %}
                    {% if ad.attachments.count > 0 %}
                        {% for image in ad.attachments.all %}
                            <div>
                                <div class="preview" data-attachmentid="{{ image.id }}">
                                    <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                    {% if image.image %}
                                        <img height=74 width=130 src="{{ image.image.url }}" class="preview-thumbnail">
                                    {% else %}
                                        <img height=74 width=130 src="{{ image.original_image.url }}" class="preview-thumbnail">
                                    {% endif %}
                                    <a href="javascript:void(0)" class="link_ad_remove">
                                        <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        {% for idx in ad.available_attachments_range %}
                            <div>
                                <div class="preview">
                                    <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                    <img height=74 width=130 src="{% static 'gearo/images/insert/chooseimg.png' %}" class="preview-thumbnail">
                                    <a href="javascript:void(0)" class="link_ad_remove hide">
                                        <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for idx in ad.available_attachments_range %}
                            <div>
                                <div class="preview">
                                    <input type="file" class="attachment_upload" name="attachmentupload" accept="image/*">
                                    <img height=74 width=130 src="{% static 'gearo/images/insert/chooseimg.png' %}" class="preview-thumbnail">
                                    <a href="javascript:void(0)" class="link_ad_remove hide">
                                        <i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {{ form.attachments }}
            </div>

            <div class="form-section {% if not add %}current {% endif%}">
                <label for="pickup_location">
                    Wo kann das Equipment abgeholt werden?
                </label>
                <div id="error_placesearch"></div>
                {{ form.pickup_location }}

                {{ form.lat }}
                {{ form.lng }}

                <div id="map"></div>
                <label for="notAvailable">
                    Trage ein, ob und wann dein Gear nicht verfügbar ist
                </label>
                <span id="notAvailableSchedule"></span>
                <div id="schedule_formset" class="hide">
                    {{ schedule_formset.management_form }}
                    {% for form in schedule_formset %}
                        {{ form.id }}
                        {{ form.start }}
                        {{ form.end }}
                        {{ form.DELETE }}
                    {% endfor %}
                </div>

                <div id="pickup_times_container">
                    <label for="times">Abholzeiten</label>
                    <table id="times">
                        <tr>
                            <td>Mo</td>
                            <td>{{ form.time_mo_start }}</td>
                            <td>-</td>
                            <td>{{ form.time_mo_end }}</td>
                        </tr>
                        <tr>
                            <td>Di</td>
                            <td>{{ form.time_di_start }}</td>
                            <td>-</td>
                            <td>{{ form.time_di_end }}</td>
                        </tr>
                        <tr>
                            <td>Mi</td>
                            <td>{{ form.time_mi_start }}</td>
                            <td>-</td>
                            <td>{{ form.time_mi_end }}</td>
                        </tr>
                        <tr>
                            <td>Do</td>
                            <td>{{ form.time_do_start }}</td>
                            <td>-</td>
                            <td>{{ form.time_do_end }}</td>
                        </tr>
                        <tr>
                            <td>Fr</td>
                            <td>{{ form.time_fr_start }}</td>
                            <td>-</td>
                            <td>{{ form.time_fr_end }}</td>
                        </tr>
                        <tr>
                            <td>Sa</td>
                            <td>{{ form.time_sa_start }}</td>
                            <td>-</td>
                            <td>{{ form.time_sa_end }}</td>
                        </tr>
                        <tr>
                            <td>So</td>
                            <td>{{ form.time_so_start }}</td>
                            <td>-</td>
                            <td>{{ form.time_so_end }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-navigation">
                {% if add %}
                    <button type="button" class="previous btn btn-advertise ">zurück</button>
                    <button type="button" class="next btn btn-advertise ">weiter</button>
                {% endif %}
                <button type="submit" class="btn btn-advertise ">
                    {% if add %} jetzt einstellen {% else %} speichern {% endif %}
                </button>
                <span class="clearfix"> </span>
            </div>
            {% if add %}
                <div class="form-navigation">
                    <img src="{% static 'gearo/images/insert/progress-1.png' %}" alt="Fortschritt">
                </div>
            {% endif %}
        </form>
    </div>
    {% if add %}
        <div id="box-features" class="row" style="text-align: center">
            <div>
                <h3>dein Equipment ist sicher</h3>
                <p>Wir wissen, wie sehr dir dein Equipment am Herzen liegt.</p>
                <p>Deswegen gehören eine Versicherung für die gesamte Mietzeit</p>
                <p>und Nutzerverfizierungen selbstverständlich zum Service dazu.</p>
                <p>Nur du entscheidest an wen du vermietest.</p>
                <img src="{% static 'gearo/images/startpage/1_schloss.png' %}"/>
            </div>
        </div>
    {% endif %}
{% endblock %}
