{% extends "gearo/twocolumns.html" %}
{% load compress staticfiles thumbnail %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var minDate = "{% now 'd.m.Y' %}";
        var updateResponseLimitUrl = "{% url 'responselimit' trans.ad.id trans.id %}";
        var addVoucherUrl = "{% url 'addvoucher' trans.ad.id trans.id %}";
        var createCardPaymentUrl = "{% url 'create_card_payment' trans.ad.id trans.id %}";
        var checkCardPreAuthorizationStatusUrl = "{% url 'card_preauthorization_status' trans.ad.id trans.id %}";
        var defaultResponseLimit = "{{ trans.response_limit|date:'d.m.Y H:i' }}";
        var createSofortPaymentUrl = "{% url 'create_web_payin_payment' trans.ad.id trans.id 'mangopay_sofort' %}";
    </script>
    {{ block.super }}
    <script type="text/javascript" src="{% static 'gearo/js/mangopay/mangopay-kit.min.js' %}"></script>
    {% compress js %}
        <script src="{% static 'gearo/js/booking.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block fb_pixel %}
    {{ block.super }}
    {% if bookingsuccess %}
        <script>fbq('track', 'Booking');</script>
    {% endif %}
{% endblock %}

{% block alert %}
    {% if bookingsuccess %}
        <div class="centered-div">
            <div class="alert alert-info" role="alert">
                {% if trans.status == "rejected" or trans.status == "canceled" or trans.is_response_limit_exceeded %}
                    {% if trans.status == "rejected" %}
                        {% if trans.applicant == user %}
                            Leider hat der Vermieter deine Anfrage abgelehnt.
                        {% else %}
                            Du hast diese Anfrage abgelehnt.
                        {% endif %}
                    {% elif trans.status == "canceled" %}
                        Diese Buchung wurde storniert.
                    {% elif trans.is_response_limit_exceeded %}
                        Leider ist der Antwortzeitraum überschritten und das Angebot wurde abgelehnt
                    {% endif %}
                {% else %}
                    Super! Deine Anfrage wurde verschickt.
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock%}

{% block pageheader %}
    {% if bookingsuccess %}
        Buchungsanfrage an <a href="{{ ad.get_owner_link }}">{{ad.owner.first_name }}</a>
    {% else %}
        Reservierungsübersicht
    {% endif %}
{% endblock%}

{% block leftcolumn %}
    <div class="panel panel-gearo panel-border">
        <div class="panel-heading">
            <a href="{% url 'publicprofil' ad.owner.username %}" target="_blank">
                <span>{{ ad.owner.first_name }} {{ ad.owner.last_name|first}}. </span>
            </a>
        </div>
        <div class="panel-body">
            <a href="{% url 'publicprofil' ad.owner.username %}" target="_blank">
                <img id="profileimg" src="{{ ad.owner.profile.avatar_thumbnail_url }}">
            </a>
        </div>
    </div>
    {% if ad.has_schedule %}
        <div class="panel panel-gearo panel-border nomargin">
            <div class="panel-heading">
                <span>
                    {% if not ad.category.is_billed_daily %}Abholung & Rückgabe{% else %}Öffnungszeiten{% endif %}
                </span>
            </div>
            <div class="panel-body small-table">
                {% include 'gearo/advertisements/partials/rent_schedule.html' %}
            </div>
        </div>
        <div class="nopadding greyinfo italic margin-top-10px">Dieze Zeiten sind eine ungefähre Angaben.</div>
    {% endif %}
{% endblock %}

{% block rightcolumn %}
    <div class="panel panel-gearo panel-border" id="booking">
        <div class="panel-heading">
            <a href="{% url 'addetail' ad.slug %}" target="_blank"><span>{{ ad.title }}</span></a>
        </div>
        <div class="panel-body" id="inquireb">
            <a href="{% url 'addetail' ad.slug %}" target="_blank">
                {% if ad.attachments.count > 0 %}
                    <img src="{{ ad.attachments.all.0.image|thumbnail_url:'ad_l' }}" id="imginq">
                {% else %}
                    <img src="{{ ATTACHMENT_PLACEHOLDER }}" id="imginq"/>
                {% endif %}
            </a>

            <div class="rent-dates">
                <div class="rent-dates-arrow-background">
                    <div id="rent-dates-from">
                        <h4>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            {% if not ad.category.is_billed_daily %}Abholung{% else %}Buchung von{% endif %}
                        </h4>
                        <div class="date">{{ trans.rent_start|date:"d.m.Y" }}</div>
                        {% if trans.pickup_after_3pm %}<b>vor</b> 13 Uhr{% endif %}
                    </div>
                    <div id="rent-dates-to">
                        <h4>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            {% if not ad.category.is_billed_daily %}Rückgabe{% else %}Buchung bis{% endif %}
                        </h4>
                        <div class="date">{{ trans.rent_end|date:"d.m.Y" }}</div>
                        {% if trans.return_before_12pm %}<b>nach</b> 13 Uhr{% endif %}
                    </div>
                </div>
            </div>

            {% if submit %}
                <h6 class="uppercase-header">1. Zusagezeitraum wählen</h6>
                <div class="response-date-time">
                    <input type="text" class="form-control" id="dateresponse" value="{{ trans.response_limit|date:'d.m.Y' }}">
                    <input type="text" class="form-control" id="timeresponse">
                    <div id="timeresponse_error"></div>
                    <p class="nopadding text-center">
                        Bestimme, bis wann der Vermieter Zeit hat, deine Anfrage anzunehmen.
                    </p>
                </div>

                <h6 class="uppercase-header">2. Bezahlung</h6>

                <div class="payment-box pay-with-card">
                    <div><img src="{% static 'images/payments/cards.png' %}"></div>
                    <div class="center-block">Kreditkarte</div>
                    <span class="recommended-text">*empfohlen</span>
                </div>

                <div id="card_form">
                    <div id="card_form_errors"></div>
                    <input type="text" class="form-control card-number only-digits" placeholder="Kreditkartennummer">
                    <div class="form-control expiration-date-input">
                        <input type="text" class="card-month only-digits" placeholder="MM" maxlength="2" />
                        <span>/</span>
                        <input type="text" class="card-year only-digits" placeholder="JJ" maxlength="2" />
                    </div>
                    <input type="text" class="form-control card-cvc only-digits" placeholder="CVC" maxlength="3" />
                </div>

                <div class="payment-box pay-with-sofort">
                    <div><img src="{% static 'images/payments/sofort.png' %}"></div>
                    <div class="center-block">Sofortüberweisung</div>
                </div>

                <div>
                    <p class="nopadding text-center">
                        Mit dem Abschließen der Buchung stimmst du unseren <a href="https://gearo.de/agb/" target="_blank">AGB</a> zu.
                    </p>
                    <button id="payment_button" class="btn btn-default center-block">JETZT MIETEN</button>
                </div>

                <div class="payment-info">
                    <p class="nopadding">
                        <span id="payment_explanation">
                            Der Rechnungsbetrag wird erst von deinem Konto abgebucht, wenn der Vermieter deine Anfrage bestätigt hat.
                        </span><br>
                        Sollte deine Anfrage abgelehnt werden, entstehen keine Kosten für dich.
                    </p>
                </div>

                <h6 class="uppercase-header">Preisübersicht</h6>
                <table id="pricing">
                {% if trans.daily_rent_price and trans.long_term_benefit %}
                    <tr>
                        <td>{{ trans.calculated_duration }} Tag{{ trans.calculated_duration|pluralize:"e" }} Miete</td>
                        <td class="text-right">
                            {{ trans.daily_rent_price|floatformat:2 }} €
                        </td>
                    </tr>
                    <tr class="long_term_benefit">
                        <td>Langzeitrabatt</td>
                        <td id="long_term_benefit_value" class="text-right">
                            - {{ trans.long_term_benefit|floatformat:2 }} €
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Mietpreis</td>
                        <td class="text-right" id="rentdetail">
                            {{ trans.articlecost_sum|floatformat:2 }} €
                        </td>
                    </tr>
                {% endif %}
                {% if trans.voucher %}
                    <tr class="red-color italic">
                        <td>{{ trans.discount_value }} % Rabatt</td>
                        <td class="text-right">- {{ trans.discount }} €</td>
                    </tr>
                {% else %}
                    <tr class="red-color italic">
                        <td id="discount_value"></td>
                        <td class="text-right" id="discount"></td>
                    </tr>
                {% endif %}
                {% if not ad.category.is_billed_daily %}
                    <tr>
                        <td>Versicherung</td>
                        <td id="insurancedetail" class="text-right">{{ trans.insurance_debt_sum|floatformat:2 }} €</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Gesamt</td>
                    <td id="totaldetail" class="text-right">{{ trans.total_incl_discount|floatformat:2 }} €</td>
                </tr>
            </table>

                <div id="discount-code">
                    <input type="text" name="discountinput" class="form-control" placeholder="Rabattcode">
                    <div id="discountenter"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
                    <div class="clear"></div>
                </div>

                <div id="powered-by-mangopay">
                    <div><img src="{% static 'images/payments/powered-by-mangopay.png' %}"></div>
                </div>
            {% elif bookingsuccess %}
                <div class="text-center greyinfo">
                    {% if trans.status == "rejected" or trans.status == "canceled" or trans.is_response_limit_exceeded %}
                        Anfrage abgelehnt.
                    {% else %}
                        Anfrage verschickt.<br/>
                        Warte auf Bestätigung des Vermieters.
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}