{% extends "gearo/base.html" %}
{% load compress staticfiles thumbnail %}

{% block title %}Miete jetzt in {{ ad.pickup_city }} – {{ ad.title }} direkt bei dir in der Nähe!{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{{ ad.title }}"/>
    <meta property="og:description" content="{{ ad.owner.first_name }} vermietet sein Equipment auf gearo – Deutschlands erstem Sharingportal für Film- und Fotoequipment."/>
    <meta property="og:url" content="https://{{ request.get_host }}"/>
    <meta property="og:image" content="{{ ad.thumbnail_url }}"/>
{% endblock %}

{% block meta_tags %}
    <meta name="keywords" content="{{ ad.tags.names|join:', ' }}, Mieten, Rent, Leihen, Ausleihen, Anmieten, Vermieter, Verleiher, Vermieten, Verleihen, borgen, leasen, {{ ad.title }}, {{ ad.pickup_location }}">
    <meta name="description" content="Leihe dir jetzt in deiner Nähe {{ ad.title }} in {{ ad.pickup_city }}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var calcRentUrl = '{% url 'calc' ad.id %}';
        var adId = '{{ ad.id }}';
        var startDatePopoverContent = '{% if not ad.category.is_billed_daily %}Du musst ein Abholdatum eintragen{% else %}Du musst eintragen, ab wann du mieten möchtest{% endif %}';
        var endDatePopoverContent = '{% if not ad.category.is_billed_daily %}Du musst ein Rückgabedatum eingtragen{% else %}Du musst eintragen, bis wann du mieten möchtest{% endif %}';
        var notAvailable = {{ ad.all_not_available_dates|safe }};
        var adRemoveUrl = '{% url 'adremove' %}';
        var searchResultsUrl = '{% url "search_results" %}';
        var askQuestionUrl = '{% url 'asked' ad.id %}';
        var adOwner = '{{ ad.owner.first_name }}';
        var LatLng = {lat: {{ ad.lat}}, lng: {{ ad.lng}}};
        var imageUrl = '{% static "gearo/images/marker.png" %}';
    </script>
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'gearo/js/ad_detail.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="centered-div" itemscope itemtype="http://schema.org/Product">
        <div class="row" id="smiliarAds">{% include 'gearo/search/searchbar.html' %}</div>

        <div id="gearorightcolumn" class="pull-right addetailcolum">
            <div class="panel panel-gearo">
                <h1 class="panel-heading">
                    <span itemprop="name">{{ ad.title }}</span>
                </h1>
                <div class="panel-body">
                    <ul class="slider">
                        {% for attachment in ad.attachments.all %}
                            {% with thumbnail_url=attachment.image|thumbnail_url:"ad_l" %}
                                {% if thumbnail_url %}
                                    <li>
                                        <img src="{{ thumbnail_url }}" itemprop="image" alt="{{ ad.category }} mieten vermieten">
                                        <div class="bx-caption">
                                            <span>{{ ad.priceday|floatformat:'0' }} &euro; <small>{% if ad.include_mwst %}inkl. MwSt{% else %}Mwst. frei.{% endif %}</small></span>
                                        </div>
                                    </li>
                                {% else %}
                                    <li>
                                        <img src="{% static 'gearo/images/startpage/example/canon.jpg' %}" itemprop="image">
                                        <div class="bx-caption">
                                            <span>{{ ad.priceday|floatformat:'0' }} &euro; <small>{% if ad.include_mwst %}inkl. MwSt{% else %}Mwst. frei.{% endif %}</small></span>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        {% empty %}
                            <li>
                                <img src="{{ ATTACHMENT_PLACEHOLDER }}" itemprop="image">
                                <div class="bx-caption">
                                    <span>{{ ad.priceday|floatformat:'0' }} &euro; <small>{% if ad.include_mwst %}inkl. MwSt{% else %}Mwst. frei.{% endif %}</small></span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if ad.amazon_ref_link %}
                        <a class="btn btn-default btn-amazon-ref hidden-md hidden-lg" href="{{ ad.amazon_ref_link }}" target="_blank">
                            Produktdetails & Rezensionen
                        </a>
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="pull-right" id="rentprice">
                    {% if ad.three_days_benefit and ad.weekly_benefit and ad.three_days_benefit > 0 and ad.weekly_benefit > 0 %}
                        <div class="panel panel-gearo panel-border panel-rent-benefit clearfix">
                            <h3>Länger mieten & sparen!</h3>
                            <div class="subpanel-rent-benefit">
                                <span>ab 3 Tage</span>
                                <h2>{{ ad.three_days_benefit|floatformat:0 }}<sup>%</sup></h2>
                                Rabatt
                            </div>
                            <div class="subpanel-rent-benefit">
                                <span>ab 7 Tage</span>
                                <h2>{{ ad.weekly_benefit|floatformat:0 }}<sup>%</sup></h2>
                                Rabatt
                            </div>
                        </div>
                    {% endif %}

                    <div class="panel panel-gearo panel-border">
                        <div class="panel-heading">
                            <span>{% if ad.category.is_billed_daily %}Preise{% else %}Mietpreise{% endif %}</span>
                        </div>
                        <div class="panel-body" style="padding: 15px 0px 0px;">
                            <form method="post" action="{% url 'inquiread' ad.id %}">
                                {% csrf_token %}
                                <div id="observe">
                                    <div id="observe-header">
                                        {% if not ad.category.is_billed_daily %}
                                            Abhol- und Rückgabetage sind frei – bei Abholung nach 13 Uhr und Rückgabe vor 13 Uhr.
                                        {% endif %}
                                        <a href="/preisinformationen">Preisinformationen</a>
                                    </div>
                                    <div id="startdate">
                                        {{ form.startdate }}
                                    </div>
                                    <div id="enddate">
                                        {{ form.enddate }}
                                    </div>
                                    {% if not ad.category.is_billed_daily %}
                                        <div id="transfer_options">
                                            <div class="transfer_icon">
                                                <img src="{% static 'images/pricebox_sun.png' %}" id="pricebox_sun">
                                            </div>
                                            <label for="id_pickup_after_3pm">
                                                    <span>
                                                        frühe Abholung<br>
                                                        <b>(vor 13:00 Uhr)</b>
                                                    </span>
                                                {{ form.pickup_after_3pm }}
                                            </label>
                                            <br clear="both">
                                            <div class="transfer_icon">
                                                <img src="{% static 'images/pricebox_moon.png' %}" id="pricebox_moon">
                                            </div>
                                            <label for="id_return_before_12pm">
                                                    <span>
                                                        späte Rückgabe<br>
                                                        <b>(nach 13:00 Uhr)</b>
                                                    </span>
                                                {{ form.return_before_12pm }}
                                            </label>
                                        </div>
                                    {% endif %}
                                    <table style="width: 100%;">
                                        <tr>
                                            <td id="rentlabel">Mietpreis</td>
                                            <td style="text-align:right;" id="rentdetail">{{ ad.priceday|floatformat:"2" }} €
                                            </td>
                                        </tr>
                                        <tr class="hide long_term_benefit">
                                            <td>Langzeitrabatt</td>
                                            <td id="long_term_benefit_value" style="text-align:right;"></td>
                                        </tr>
                                        {% if not ad.category.is_billed_daily %}
                                            <tr>
                                                <td>Versicherung</td>
                                                <td id="insurancedetail" style="text-align:right;">{{ ad.get_insurance }} €
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <td>Gesamt</td>
                                            <td id="totaldetail" style="text-align:right;">
                                                <span itemprop="price" content="{{ ad.get_onedayprice }}">{{ ad.get_onedayprice }}</span>
                                                <span itemprop="priceCurrency" content="EUR">&euro;</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="clear"></div>
                                </div>
                                {% if user.is_authenticated %}
                                    {% if user == ad.owner %}
                                        <a href="{% url 'adedit' ad.id %}">
                                            <button class="btn btn-default">bearbeiten</button>
                                        </a>
                                    {% else %}
                                        <button id="applybooking" class="btn btn-default">jetzt mieten</button>
                                    {% endif %}
                                {% else %}
                                    <a data-toggle="modal" href="#loginModal">
                                        <button id="applybooking" class="btn btn-default">jetzt mieten</button>
                                    </a>
                                {% endif %}
                            </form>
                        </div>
                        {% if ad.owner == request.user %}
                            <a href="javascript:void()" id="advertisement_remove">Angebot löschen</a>
                        {% endif %}
                    </div>
                    {% if ad.category.is_insured %}
                        <div class="panel panel-gearo panel-gearo-safety-stamp">
                            <img src="{% static 'gearo/images/SAFETY_SIEGEL.svg' %}">
                        </div>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                <div id="addescription" class="pull-left col-xs-12">
                    {% if ad.amazon_ref_link %}
                        <a class="btn btn-default btn-amazon-ref visible-md visible-lg" href="{{ ad.amazon_ref_link }}" target="_blank">
                            Produktdetails & Rezensionen
                        </a>
                    {% endif %}
                    <span itemprop="description">{{ ad.description|safe|escape|linebreaksbr }}</span>
                </div>
                <div class="clear"></div>
                {% if quests or open_quests or ad.owner != request.user %}
                    <div class="panel panel-gearo panel-border">
                        <div class="panel-heading"><span>Fragen & Antworten</span></div>
                        <div class="panel-body" id="qna">
                            {% if not user.is_authenticated %}
                                Du musst eingeloggt sein um eine Frage zu stellen.
                            {% elif ad.owner != request.user %}
                                <form class="question-form">
                                    {% csrf_token %}
                                    {{ form_question.question }}
                                    <button id="ad_question_button" class="btn btn-default">senden</button>
                                </form>
                            {% else %}
                                <div id="openquestions">
                                    {% for quest in open_quests %}
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>{{ quest.questioner.first_name }}</td>
                                                    <td>{{ quest.question|linebreaksbr }}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <a data-toggle="modal" href="#replyModal-{{ quest.id }}" title="Frage beantworten">
                                                            antworten
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- reply Modal -->
                                        <div class="modal fade" id="replyModal-{{ quest.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-reply" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Frage beantworten</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="reply">
                                                            <form action="{% url 'reply' quest.ad.id quest.id  %}" method="post">
                                                                {% csrf_token %}
                                                                <div>"{{ quest.question|linebreaksbr }}"</div>
                                                                <div>
                                                                    <textarea name="answer" id="answer-{{ quest.id }}" required
                                                                              class="answerField form-control" rows="5" placeholder=" Antwort schreiben">
                                                                    </textarea>
                                                                    <button id="ad_answer_button" class="btn btn-default">
                                                                        senden
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div id="questions">
                                {% for quest in quests %}
                                    <div class="question {% if forloop.counter > 3 %}hide{% endif %}">
                                        <table>
                                            <tr>
                                                <td>
                                                    <a href="{% url 'publicprofil' quest.questioner.username %}">
                                                        {{quest.questioner.first_name }}
                                                    </a>
                                                </td>
                                                <td>{{ quest.question|linebreaksbr }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ ad.owner.first_name }}</a></td>
                                                <td>{{ quest.answer|linebreaksbr }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endfor %}
                                {% if quests|length > 3 %}
                                    <div>
                                        <a href="javascript:void(null);" class="greyinfo more-qa">
                                            Weitere Fragen und Antworten lesen
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div itemscope itemtype="http://schema.org/Place">
                <meta itemprop="name" content="{{ ad.pickup_location }}">
            </div>
            <div id="admap"></div>
        </div>
        <div id="gearoleftcolumn" class="pull-right nomargin profilecolumn-xs">
            {% include 'gearo/user/partials/user_info.html' with show_profile_link=True user=ad.owner %}
            {% include 'gearo/user/partials/user_contacts_verified.html' with userprofil=ad.owner %}
            {% include 'gearo/user/partials/user_reviews.html' with user=ad.owner lastreview=True %}
            {% if ad.has_schedule %}
                <div class="panel panel-gearo panel-border nomargin">
                    <div class="panel-heading">
                        <span>{% if not ad.category.is_billed_daily %}Abholung & Rückgabe{% else %}Öffnungszeiten{% endif %}</span>
                    </div>
                    <div class="panel-body small-table">
                        {% include 'gearo/advertisements/partials/rent_schedule.html' %}
                    </div>
                </div>
                <div class="nopadding greyinfo italic" style="margin-top: 10px;">
                    Dieze Zeiten sind eine ungefähre Angaben.
                </div>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock%}
