{% extends "gearo/base.html" %}
{% load staticfiles thumbnail compress %}

{% block styles %}
	{{ block.super }}
	<script>
		var isCreated = {% if is_created %}true{% else %}false{% endif %};
		var chooseImgUrl = '{% static 'gearo/images/protocol/imageupload.png' %}';
	</script>
	<link href="{% static 'gearo/css/protocols.css' %}" rel="stylesheet" />
	<link href="{% static 'gearo/css/handing_over_protocol.css' %}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'gearo/js/autosize.min.js' %}"></script>
	{% compress js %}
		<script src="{% static 'gearo/js/reverse.js' %}"></script>
		<script src="{% static 'gearo/js/validators.js' %}"></script>
		<script src="{% static 'gearo/js/image_uploader.js' %}"></script>
		<script src="{% static 'gearo/js/protocols.js' %}"></script>
		<script src="{% static 'gearo/js/handing_over_protocol.js' %}"></script>
	{% endcompress %}
{% endblock %}

{% block headerdiv %}
	{% with white=True %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block content %}
	<div id="protocolcontent">
		<div id="progressbar">
			<div class="progress-indicator"></div>
		</div>
		<form action="{% url 'handingover' trans.id %}" method="post" data-parsley-validate="" id="handing_over_protocol_form">
			<div class="protocol-step1 protocol-steps current">
				<h2>Übergabeprotokoll</h2>
				<div class="panel panel-gearo">
					<div class="panel-heading">
						<span>{{ trans.ad.title}}</span>
					</div>
					<div class="panel-body">
						{% if trans.ad.attachments.count > 0 %}
							<img src="{{ trans.ad.attachments.all.0.image|thumbnail_url:"ad_l" }}">
						{% else %}
							<img src="{{ ATTACHMENT_PLACEHOLDER }}" />
						{% endif %}
					</div>
				</div>
				{% csrf_token %}
				<h4>Seriennummer</h4>
				<i>Gib hier falls vorhanden die Seriennummer des Gerätes ein. Trenne mehrere Nummern per Komma.</i><br><br>
				{{ form.serial_number.errors }}
				{{ form.serial_number }}
				<div class="btn-panel">
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">Los gehts</button>
				</div>
			</div>

			<div class="protocol-step2 protocol-steps">
				<div class="protocol-contact-container">
					<h4>Vermieter</h4>
					{% include 'gearo/protocol/partials/protocol_contacts.html' with contact=trans.lessor %}
				</div>
				<div class="protocol-contact-container">
					<h4>Mieter</h4>
					{% include 'gearo/protocol/partials/protocol_contacts.html' with contact=trans.applicant %}
				</div>
				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">weiter zur Identitätsprüfung</button>
				</div>
			</div>

			<div class="protocol-step3 protocol-steps">
				<h4>Prüfe den Identifikationsnachweis von {{ trans.applicant.first_name }}</h4>
				<div class="protocol-field-container">
					<label for="id_identity_card">Offizielles Dokument</label>
					{{ form.identity_card.error }}
					{{ form.identity_card }}
				</div>

				<div class="protocol-field-container">
					<label for="id_identity_number">Identifikationsnummer</label>
					{{ form.identity_number.error }}
					{{ form.identity_number }}
				</div>

				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">Equipment prüfen</button>
				</div>
			</div>

			<div class="protocol-step4 protocol-steps">
				<h4>Prüft jetzt genau das Equipment. Ist das Equipment voll funktionsfähig?</h4>
				<div class="btn-panel-functionality-test">
					<a href="#" class="btn-protocol btn-no">Nein</a>
					<a href="#" class="btn-protocol btn-yes">Ja</a>
				</div>
				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
				</div>
			</div>

			<div class="protocol-step5 protocol-steps">
				<h4>Trage Mängel, Besonderheiten und Notizen hier ein.</h4>
				<div class="functionality-test-icon">
					<i class="fa fa-check has-no-defects {% if is_created and protocol.undamaged %}created{% endif %}" aria-hidden="true"></i>
					<i class="fa fa-times has-defects {% if is_created and not protocol.undamaged %}created{% endif %}" aria-hidden="true"></i>
				</div>
				{% if not is_created %}
					{{ form.defects.errors }}
					{{ form.defects }}
				{% elif protocol.defects %}
					<div id="defects">
						{{ protocol.defects|linebreaksbr }}
					</div>
				{% endif %}
				{{ form.undamaged }}
				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">Lieferumfang bestätigen</button>
				</div>
			</div>

			<div class="protocol-step6 protocol-steps">
				<h4>Entspricht der Lieferumfang dem Angebot von {{ trans.lessor.first_name }} auf gearo?</h4>
				<a href="{{ trans.ad.get_absolute_url }}" class="btn-protocol btn-check-complete btn-check-offer" target="_blank">Angebot ansehen</a>

				<h4>Hiermit bestätigt der Vermieter und der Mieter das Equipment in vollem Umfang übergeben bzw. erhalten zu haben.</h4>
				<a href="#" class="btn-protocol btn-check-complete btn-check-equipment">Lieferumfang bestätigen</a>

				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next invisible">Fotografiere das Equipment</button>
				</div>
			</div>

			<div class="protocol-step7 protocol-steps">
				<h4>Bitte mache mindestens 2 Fotos von dem Equipment, sodass man jede Seite gut erkennen kann. Achte auf wichtige Stellen wie z.B. Displays, Linse, etc.</h4>
				<div>
					<div id="attachment_errors"></div>
					{% if not is_created %}
						{{ form.attachments }}
						<div class="preview">
							<input type="file" class="attachment_upload" name="attachmentupload" accept="image/*" >
							<img src="{% static 'gearo/images/protocol/imageupload.png' %}" class="preview-thumbnail">
							<a href="javascript:void(0)" class="link_ad_remove hide"><i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i></a>
						</div>
						<div class="preview">
							<input type="file" class="attachment_upload" name="attachmentupload" accept="image/*" >
							<img src="{% static 'gearo/images/protocol/imageupload.png' %}" class="preview-thumbnail">
							<a href="javascript:void(0)" class="link_ad_remove hide"><i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i></a>
						</div>
						<div class="preview">
							<input type="file" class="attachment_upload" name="attachmentupload" accept="image/*" >
							<img src="{% static 'gearo/images/protocol/imageupload.png' %}" class="preview-thumbnail">
							<a href="javascript:void(0)" class="link_ad_remove hide"><i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i></a>
						</div>
						<div class="preview">
							<input type="file" class="attachment_upload" name="attachmentupload" accept="image/*" >
							<img src="{% static 'gearo/images/protocol/imageupload.png' %}" class="preview-thumbnail">
							<a href="javascript:void(0)" class="link_ad_remove hide"><i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i></a>
						</div>
						<div class="preview">
							<input type="file" class="attachment_upload" name="attachmentupload" accept="image/*" >
							<img src="{% static 'gearo/images/protocol/imageupload.png' %}" class="preview-thumbnail">
							<a href="javascript:void(0)" class="link_ad_remove hide"><i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i></a>
						</div>
						<div class="preview">
							<input type="file" class="attachment_upload" name="attachmentupload" accept="image/*" >
							<img src="{% static 'gearo/images/protocol/imageupload.png' %}" class="preview-thumbnail">
							<a href="javascript:void(0)" class="link_ad_remove hide"><i class="fa fa-times ad-upload-image-remove" aria-hidden="true"></i></a>
						</div>
					{% else %}
						<ul class="slider">
							{% for attachment in protocol.protocol_attachments.all %}
								{% with thumbnail_url=attachment.image|thumbnail_url:"ad_l" %}
									<li><img src="{{ thumbnail_url }}" itemprop="image" /></li>
								{% endwith %}
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">Abholzeiten bestätigen</button>
				</div>
			</div>

			<div class="protocol-step8 protocol-steps">
				<h4>Abholung</h4>
				<div class="protocol-dates clearfix">
					<div class="icon">
						<img src="{% static 'gearo/images/protocol/datepicker_icon.png' %}">
					</div>
					<div class="date">
						{{ trans.rent_start|date:"d.m.y" }}
					</div>
				</div>
				<div class="protocol-dates clearfix">
					<div class="icon">
						<img src="{% static 'gearo/images/protocol/timepicker_icon.png' %}">
					</div>
					<div class="date">
						{{ protocol.pickup_time|date:"H:i" }} Uhr
					</div>
				</div>

				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">Rückgabe vereinbaren</button>
				</div>
			</div>

			<div class="protocol-step9 protocol-steps">
				<h4>Vereinbart einen Zeitpunkt für die Rückgabe</h4>
				<div class="protocol-dates clearfix">
					<div class="icon">
						<img src="{% static 'gearo/images/protocol/datepicker_icon.png' %}">
					</div>
					<div class="date">
						{{ trans.rent_end|date:"d.m.y" }}
					</div>
				</div>
				{{ form.return_time.errors }}
				<div id="return_time_errors"></div>
				<div class="protocol-dates clearfix">
					<div class="icon">
						<img src="{% static 'gearo/images/protocol/timepicker_icon.png' %}">
					</div>
					<div class="date">
						{{ form.return_time }} Uhr
					</div>
				</div>

				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">Bestätigungsklausel lesen</button>
				</div>
			</div>

			<div class="protocol-step10 protocol-steps">
				<h4>Bestätigungsklausel</h4>
				Der Mieter bestätigt, dass er das Equipment von dem Vermieter in dem oben angegeben, beanstandungsfreien
				Zustand erhalten hat. Die Vollständigkeit und Mängelfreiheit wurde überprüft.
				Der Mieter verpflichtet sich, das Gerät ordnungsgemäß zu behandeln.

				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">Unterschreiben</button>
				</div>
			</div>

			<div class="protocol-step11 protocol-steps">
				<h4>Unterschrift {{ trans.lessor.first_name }}</h4>
				Ich bestätige, alle acht Seiten des Übergabeprotokolls gemeinsam mit dem Mieter ausgefüllt zu haben.<br>
				{{ form.lessor_signature.errors }}
				<div class="signature">
					{% if not is_created %}
						<canvas id="lessor_signature" width="100%" height="100%"></canvas>
						{{ form.lessor_signature }}
					{% else %}
						<img src="{{ protocol.lessor_signature }}">
					{% endif %}
				</div>
				<div id="lessor_signature_errors" class="error-container">
					 Der Mieter muss unterschreiben
				</div>
				<br>
				<button class="btn-protocol btn-clear-lessor-signature">Unterschrift erneut eigeben</button>

				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="button" class="btn-protocol btn-protocol-primary btn-protocol-next">Als nächstes der Mieter</button>
				</div>
			</div>

			<div class="protocol-step12 protocol-steps">
				<h4>Unterschrift {{ trans.applicant.first_name }}</h4>
				Ich bestätige, alle acht Seiten des Übergabeprotokolls gemeinsam mit dem Vermieter ausgefüllt zu haben.<br>
				{{ form.applicant_signature.errors }}
				<div class="signature">
					{% if not is_created %}
						<canvas id="applicant_signature"></canvas>
						{{ form.applicant_signature }}
					{% else %}
						<img src="{{ protocol.applicant_signature }}">
					{% endif %}
				</div>
				<div id="applicant_signature_errors" class="error-container">
					Der Vermieter muss unterschreiben
				</div>
				<br>
				<button class="btn-protocol btn-clear-applicant-signature">Unterschrift erneut eigeben</button>

				<div class="btn-panel">
					<a href="javascript:void(null);" class="btn-protocol-back"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
					<button type="submit" class="btn-protocol btn-protocol-primary btn-protocol-next">Vertrag abschicken</button>
				</div>
			</div>
		</form>
	</div>

{% endblock %}

{% block footerdiv %}{% endblock %}

{% block livechat_widget %}{% endblock %}