{% extends "gearo/base.html" %} {% load staticfiles %}
{% block title %} Bewerten - gearo {% endblock %} 
{% block content %}
<div class="container">
	<div class="row">
			<div class="col-md-offset-1" id="userriew">
				<p>
					Vielen Dank, durch dich bleibt unsere Community stark und sicher! Hinterlasse noch einen kurzen Kommentar und schon hast du gearo zu einem besseren Ort gemacht.
				</p>
	{% if alreadyreviewed %}
			<div class="text-center">
				<i class="fa fa-check-circle-o" aria-hidden="true"></i>
				<p>Du hast die Bewertung für diese Anmietung bereits abgegeben. </p>
			</div>			
	{% elif reviewed %}
			<div class="text-center">
				<i class="fa fa-check-circle-o" aria-hidden="true"></i>
				<p>Top! Deine Bewertung wurde eingestellt.</p>
			</div>	
	{% elif tokenfail  %}
			<div class="text-center">
				<i class="fa fa-times-circle-o" aria-hidden="true"></i>
				<p>Die Bewertung wurde bereits abgegeben oder die Bewertungsfrist ist abgelaufen.</p>
			</div>		
	{% else %}
		<div class="container">
			<div class="row">
				<div class="col-md-3 rating">
					{% if rating == "great" %}
						<i class="fa fa-circle-o great" aria-hidden="true"></i>    <span>Super!</span>
					{% elif  rating == "alright" %}
					<i class="fa fa-circle-o alright" aria-hidden="true"></i>    <span>In Ordnung!</span>
					{% elif rating == "nogo" %}
					<i class="fa fa-circle-o nogo" aria-hidden="true"></i>    <span>Geht garnicht!</span>
					{% endif %}
				</div>
				<div class="col-md-6">
					<form method="post">
					{% csrf_token %}
						<textarea name="text" required rows="3" cols="50" placeholder="Wie ist deine Anmietung gelaufen? Würdest du wieder von deinem Vermieter mieten?"></textarea>
						<div class="text-center">
							<button class="btn btn-default"> Bewertung abschicken</button>
						</div>						
					</form>
				</div>
			</div>
		</div>
	{% endif %}
		</div>
	</div>
</div>	
{% endblock %}