{% extends "gearo/base.html" %}
{% load staticfiles %}
{% block title %}Miete und vermiete Film- und Fotoequipment - gearo {% endblock %} 
{% block content %}
<div class="centered-div">
	{% include 'gearo/search/searchbar.html' %}
	<div class="container" id="publicprofile">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3">
				{% include 'gearo/user/partials/user_info.html' with show_profile_link=True user=userprofil %}
				{% include 'gearo/user/partials/user_contacts_verified.html' %}
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9">
				<h4>{{ userprofil.first_name }}'s Bewertungen ({{ userprofil.userreviews.count }})</h4>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
						{% include 'gearo/review/reviewpreview.html' with review=userprofil.userreviews.last lastreview=False %}
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6" id="triggerfilter">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="ratingsel" id="great" data-rating="great">{{ ratings.great}}</div>
							Super!
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="ratingsel" id="alright" data-rating="alright">{{ ratings.alright}}</div>
							In Ordnung!
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5">
							<div class="ratingsel" id="nogo" data-rating="nogo">{{ ratings.nogo }}</div>
							Geht garnicht!
						</div>
												
					</div>
					<script>
						$(function(){
							$(".ratingsel").click(function(){
								//$('[data-rating="'+ $(this).data("rating")+'"]').css("background", "black");
								$('#reviews table[data-rating="'+ $(this).data("rating")+'"]').fadeIn();
								$('#reviews table:not([data-rating="'+ $(this).data("rating")+'"])').fadeOut();
								
							});
						});
					</script>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12" id="reviews">
						<h5>So sind die Anmietungen mit {{ userprofil.first_name }} gelaufen:</h5>
						{% for review in userprofil.userreviews.all %}
							<table {% if forloop.counter >= 20 %} style="display:none" {% endif%} data-rating="{{ review.rating }}">
								<tr>
									<td><a href="{% url 'publicprofil' review.reviewer %}"><img src="{{ review.reviewer.profile.avatar_thumbnail_url }}"	class="uavatar-small"></a></td>
									<td class="rating">{% if review.rating == "great" %}
											<i class="fa fa-circle-o great" aria-hidden="true"></i>    <span>Super!</span>
										{% elif  review.rating == "alright" %}
										<i class="fa fa-circle-o alright" aria-hidden="true"></i>    <span>In Ordnung!</span>
										{% elif review.rating == "nogo" %}
										<i class="fa fa-circle-o nogo" aria-hidden="true"></i>    <span>Geht garnicht!</span>
										{% endif %}
									</td>
									<td>
										{{ review.comment}}
									</td>
								</tr>
								<tr>
									<td><a class="profilelink" href="{% url 'publicprofil' review.reviewer.username %}">{{ review.reviewer.first_name }} {{ review.reviewer.last_name|first }}.</a></td>
									<td></td>
									<td> {{ review.created_at|date:"F o" }}</td>
								</tr>
							</table>
						{% empty %}
							<div id="emptyresult">
								<img src="{% static "gearo/images/result_logo.png" %}">
								{% if request.user == userprofil %}
									<p>Du hast noch keine Bewertung erhalten.</p>
								{% else %}
									<p>{{ userprofil.first_name }} hat noch keine Bewertungen erhalten.</p>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}