{% if review %}
	<div id="starsbar" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="{{ review.user.gearouser.fivepoint_review }}">
		<meta itemprop="reviewCount" content="{{ review.user.userreviews.count }}">
		{% for star in review.user.gearouser.render_review %}
			{% if star == "full" %}
				<i class="fa fa-star" aria-hidden="true"></i>
			{% elif star == "half" %}
				<i class="fa fa-star-half-o" aria-hidden="true"></i>
			{% elif star == "empty" %}
				<i class="fa fa-star-o" aria-hidden="true"></i>
			{% endif %}
		{% endfor %}
	</div>
	{% if lastreview %}
		<div class="margin10">
	{% endif %}
	<div>
		<span class="greyinfo">{{ review.user.gearouser.get_review }}</span>
	</div>
	{% if lastreview %}
		<div class="pull-left">
			<a href="{% url 'publicprofil' review.reviewer.username %}"><img src="{{ review.reviewer.profile.avatar_thumbnail_url }}" class="uavatar-small"></a>
		</div>
		<div class="pull-left reviewpreview">&ldquo;{{ review.comment|truncatechars:120}}&bdquo; </div>
		<div class="clear"></div>
		<a href="{% url 'userdetailreviews' review.user.username %}" class="greyinfo">{{ review.user.first_name }}'s Bewertungen </a>
	</div>
	{% endif %}
{% else %}
	<div id="starsbar-nor">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
	</div>
	{% if lastreview %}
		<div class="margin10">
			<p class="greyinfo">Es liegen noch keine Bewertungen vor.</p>
		</div>
	{% endif %}
{% endif %}



