header{
	height: 150px;
}

html,body{
	height: 100%;
}

#sidebar{
	width: 170px;
	padding: 15px;
	background: #F2F2F2;
	height: 100%
}

.navbar{
	margin-bottom: 0;
}

#content, #sidebar{
	float: left;
}

#content{
	padding: 0 30px;
}

label { display: block }

