.new-user-form {
    margin-bottom: 40px;
}

#chart_total_div,
#chart_div {
    margin-top: 40px;
    /*margin-bottom: 40px;*/
}

#flot-memo {
    text-align: center;
    height: 30px;
    width: 250px;
    margin: 0;
}

.dash-form p {
    display: inline;
}

.dash-form p label {
    display: inline;
}

.dash-form p select {
    margin-right: 20px;
}

.dash-form label {
    margin-top: 20px;
}

.dash-form ul {
    list-style: none;
    padding: 0;
}

.dash-form ul label {
    display: inline;
}

.dash-extra-table {
    margin-top: 40px;
}

.dash-extra-table tr th {
    padding: 10px 20px;
    border: 1px solid black;
}
