.protocol-step1 .btn-protocol-next {
    margin-left: calc(50% - 50px);
}
.protocol-step2 .btn-protocol-next {
    margin-left: calc(50% - 104px);
}
.protocol-step3 .btn-protocol-next {
    margin-left: calc(50% - 75px);
}
.protocol-step5 .btn-protocol-next, .protocol-step6 .btn-protocol-next  {
    margin-left: calc(50% - 95px);
}
.protocol-step6 .btn-protocol-next  {
    margin-left: calc(50% - 95px);
}
.protocol-step8 .btn-protocol-next, .protocol-step7 .btn-protocol-next {
    margin-left: calc(50% - 90px);
}
.protocol-step9 .btn-protocol-next {
    margin-left: calc(50% - 101px);
}
.protocol-step10 .btn-protocol-next {
    margin-left: calc(50% - 67.5px);
}
.protocol-step11 .btn-protocol-next {
    margin-left: calc(50% - 93.5px);
}
.protocol-step12 .btn-protocol-next {
    margin-left: calc(50% - 80px);
}
.step2 {
    background: rgba(52,169,223,1);
    background: -moz-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 25%, rgba(12,174,155,1) 75%, rgba(12,174,155,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,169,223,1)), color-stop(25%, rgba(52,169,223,1)), color-stop(75%, rgba(12,174,155,1)), color-stop(100%, rgba(12,174,155,1)));
    background: -webkit-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 25%, rgba(12,174,155,1) 75%, rgba(12,174,155,1) 100%);
    background: -o-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 25%, rgba(12,174,155,1) 75%, rgba(12,174,155,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 25%, rgba(12,174,155,1) 75%, rgba(12,174,155,1) 100%);
    background: linear-gradient(to bottom, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 25%, rgba(12,174,155,1) 75%, rgba(12,174,155,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a9df', endColorstr='#0cae9b', GradientType=0 );
}
.step3 {
    background: rgba(12,174,155,1);
    background: -moz-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 25%, rgba(52,169,223,1) 75%, rgba(52,169,223,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,174,155,1)), color-stop(25%, rgba(12,174,155,1)), color-stop(75%, rgba(52,169,223,1)), color-stop(100%, rgba(52,169,223,1)));
    background: -webkit-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 25%, rgba(52,169,223,1) 75%, rgba(52,169,223,1) 100%);
    background: -o-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 25%, rgba(52,169,223,1) 75%, rgba(52,169,223,1) 100%);
    background: -ms-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 25%, rgba(52,169,223,1) 75%, rgba(52,169,223,1) 100%);
    background: linear-gradient(to bottom, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 25%, rgba(52,169,223,1) 75%, rgba(52,169,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cae9b', endColorstr='#34a9df', GradientType=0 );
}
.step8 {
    background: rgba(12,174,155,1);
    background: -moz-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 50%, rgba(52,169,223,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,174,155,1)), color-stop(50%, rgba(12,174,155,1)), color-stop(100%, rgba(52,169,223,1)));
    background: -webkit-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 50%, rgba(52,169,223,1) 100%);
    background: -o-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 50%, rgba(52,169,223,1) 100%);
    background: -ms-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 50%, rgba(52,169,223,1) 100%);
    background: linear-gradient(to bottom, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 50%, rgba(52,169,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cae9b', endColorstr='#34a9df', GradientType=0 );
}
.step9 {
    background: rgba(52,169,223,1);
    background: -moz-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 50%, rgba(12,174,155,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,169,223,1)), color-stop(0%, rgba(52,169,223,1)), color-stop(50%, rgba(52,169,223,1)), color-stop(100%, rgba(12,174,155,1)));
    background: -webkit-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 50%, rgba(12,174,155,1) 100%);
    background: -o-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 50%, rgba(12,174,155,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 50%, rgba(12,174,155,1) 100%);
    background: linear-gradient(to bottom, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 50%, rgba(12,174,155,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a9df', endColorstr='#0cae9b', GradientType=0 );
}
.step11 {
    background: rgba(52,169,223,1);
    background: -moz-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 71%, rgba(12,174,155,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,169,223,1)), color-stop(0%, rgba(52,169,223,1)), color-stop(71%, rgba(52,169,223,1)), color-stop(100%, rgba(12,174,155,1)));
    background: -webkit-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 71%, rgba(12,174,155,1) 100%);
    background: -o-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 71%, rgba(12,174,155,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 71%, rgba(12,174,155,1) 100%);
    background: linear-gradient(to bottom, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 0%, rgba(52,169,223,1) 71%, rgba(12,174,155,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a9df', endColorstr='#0cae9b', GradientType=0 );
}
.step12 {
    background: rgba(12,174,155,1);
    background: -moz-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 70%, rgba(52,169,223,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,174,155,1)), color-stop(70%, rgba(12,174,155,1)), color-stop(100%, rgba(52,169,223,1)));
    background: -webkit-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 70%, rgba(52,169,223,1) 100%);
    background: -o-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 70%, rgba(52,169,223,1) 100%);
    background: -ms-linear-gradient(top, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 70%, rgba(52,169,223,1) 100%);
    background: linear-gradient(to bottom, rgba(12,174,155,1) 0%, rgba(12,174,155,1) 70%, rgba(52,169,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cae9b', endColorstr='#34a9df', GradientType=0 );
}
.step2, .step3, .step8, .step9, .step11, .step12 {
    background-attachment: fixed;
}