body {
    background-color: #35a8e0 !important;
    color: #fff;
}
input, textarea, select {
    background-color: #35a8e0 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}
h2, h4 {
    margin-bottom: 15px;
}
h2, h4, label {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
}
h4 {
    line-height: 1.4em;
}
.form-control {
    background: transparent !important;
}
.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
#contentwrapper {
    padding: 0 !important;
}
.centered-div {
    padding-bottom: 5px !important;
}
a.postboxicon {
    display: none !important;
}
.form-control {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar-home {
    margin-bottom: 0 !important;
}
.transaction-contacts {
    margin: 0 auto;
    height: 100px;
}
.protocol-dates div {
    float: left;
}
.transaction-contacts div {
    display: inline-block;
    vertical-align: middle;
}
.contact-userpic img{
    width: 100px;
    border-radius: 50px;
}
.contact-details {
    margin-left: 50px;
    max-width: calc(100% - 155px);
}
.btn-protocol {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    color: #979899;
    min-width: 70px;
    display: inline-block;
    text-align: center;
    border: none;
}
.created.btn-protocol {
    display: none !important;
}
.btn-protocol:hover {
    text-decoration: none;
    color: #979899;
}
.protocol-dates {
    width: 260px;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 20px;
}
.protocol-dates .icon img {
    width: 100%;
    height: 100%;
}
.protocol-dates .date {
    margin-left: 20px;
    font-size: 36px;
}
.timepicker {
    border: 0 !important;
}
.timepicker::-webkit-input-placeholder {
    color: #fff;
    text-align: center;
}
.timepicker::-moz-placeholder {
    color: #fff;
    text-align: center;
}
.timepicker:-ms-input-placeholder {
    color: #fff;
    text-align: center;
}
.timepicker:-moz-placeholder {
    color: #fff;
    text-align: center;
}
.signature {
    width: 100%;
    border: 1px solid #fff;
    cursor: crosshair;
    margin-top: 20px;
}
.panel-body img{
    height: auto !important;
}
.btn-yes, .btn-yes:hover {
    color: #0caf9c;
}
.btn-protocol-primary, .btn-protocol-primary:hover {
    color: #35a8e0;
    border-radius: 4px;
    border: none;
}
#protocolcontent {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 75px;
}
#protocolcontent .protocol-step6.created, #protocolcontent .created .btn-panel, .created .btn-protocol {
    display: none !important;
}
#protocolcontent .protocol-steps.created {
    display: block;
}
.has-no-defects.created, .has-defects.created {
    display: inline !important;
}
#protocolcontent .protocol-steps, #protocolcontent .created .btn-panel-functionality-test, #progressbar.created {
	display: none;
}
#protocolcontent .current {
    display: block !important;
}
#progressbar {
    width: 100%;
    height: 15px;
    border: 1px solid #fff;
    margin-bottom: 30px;
}
.progress-indicator {
    background-color: #fff;
    width: 8.33%;
    height: 14px;
}
.panel {
    margin-bottom: 0 !important;
}
.btn-panel {
    position: absolute;
    max-width: 595px;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.btn-panel {
    line-height: 20px;
    width: calc(100% - 20px);
}
.btn-panel a{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: -10px;
}
.btn-panel-functionality-test {
    width: 100%;
}
.btn-panel-functionality-test a {
    position: absolute;
}
.btn-panel-functionality-test .btn-no {
    left: 70px;
}
.btn-panel-functionality-test .btn-yes {
    right: 70px;
}
.functionality-test-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #fff;
    line-height: 50px;
    border-radius: 25px;
    font-size: 30px;
    margin-left: calc(50% - 25px);
    margin-bottom: 30px;
    margin-top: 30px;
}
.functionality-test-icon .fa {
    display: none;
}
.btn-check-complete, .btn-panel-functionality-test {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-panel-functionality-test {
    display: block;
    position: relative;
    height: 30px;
    max-width: 320px;
    margin: 0 auto;
    margin-top: calc(50% - 100px);
    margin-bottom: 10px;
}
.checked {
    color: #0caf9c !important;
}
.protocol-contact-container {
    margin-bottom: 50px;
}
.protocol-field-container {
    margin-bottom: 20px;
}
#undamaged_message, #dagamaged_message {
    display: none;
}
#undamaged_message.created, #dagamaged_message.created {
    display: block !important;
}
.preview {
    width: 104px;
    height: 74px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid;
    line-height: 74px;
    text-align: center;
}
#lessor_signature_errors, #applicant_signature_errors, #attachments_field {
    display: none;
}
.bx-wrapper {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
}
.bx-wrapper img {
    margin: 0 auto !important;
}
#defects {
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
}
@media (max-width: 991px) {
    .ad-upload-image-remove {
        font-size: 24px !important;
    }
}