@font-face {
    font-family: SPR;
    src: url('../fonts/SPR/Sofia_Pro_Regular.ttf') format('truetype');
}
body {
    font-family: "sofia pro regular", SPR, sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4 {padding: 0.75em 0;}
h4 {font-weight: normal;}
.invoice-number{padding-bottom: 0;}
.booking-number{padding-top: 0;}
table{width: 100%;}
#table001 td{width:50%}
#table001 td:nth-child(2){text-align: right;}
#table002 td:nth-child(1){
    width: 13%;
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
}
#table002 td{padding-bottom: 0.5em;}
#table003{padding-bottom: 2%;}
#table003 th{text-align: left;}
#table003 td{padding: 4px 0;}
#table003 th:nth-child(1){width: 10%;}
#table003 tr:first-child th{border-bottom: 1px solid #909090;}
#table003 tr:last-child td{border-top: 1px solid #909090}
#table003 tr td:last-child {text-align: right;}
#table003 tr th:last-child {text-align: right;}
#table003 {
  border-spacing:0;
  border-collapse: collapse;
}
.bottomline{border-bottom: 1px solid #909090;}