/***
global.css
***/
* {
	margin: 0;
	padding: 0;
}

a:focus {
	outline: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: none;
}

html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

body {
	font-family: "sofia-pro-n4", "sofia-pro", "sofia pro regular", sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #161818;
}

a {
	color: #0eaf9c
}

#contentwrapper {
	padding-bottom: 360px;
	padding-top: 10px;
}

.page-header {
	margin: 0 0px 20px
}

.navbar-brand {
	padding: 0 15px 10px
}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
	font-weight: 500;
	color: #343a3d;
}

.nav-pills li.gearoactive >a,
.nav-pills li.gearoactive span>a{
	color: #0eaf9c !important;
}

.navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline;
}

#insert {
	border: 1px solid #000000;
	border-radius: 3px;
	padding: 4px 15px;
}

.reverse {
	display: block;
	background: #343a3d;
	color: #FFF !important;
}

.reverse:hover {
	background: #0eaf9c !important;
	text-decoration: none !important;
}

.reverse:focus {
	background: #0eaf9c !important;
	text-decoration: none !important;
}

.login-icon {
	margin: 0 2px 0 0;
}

#notification {
	font-size: 25px;
}

.badge {
	background: none;
	color: #bd5b5b;
	font-size: 14px;
	padding: 7px 7px 0 0;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
	margin-top: 0px
}

#profilecontent  .input-group  .form-control {
	width: 100%;
	float: none !important;
	display: block
}

.uavatar-large {
	height: 45px;
	width: 45px;
	border: 2px solid #FFF;
	border-radius: 30px;
}

.uavatar-small {
	height: 40px !important;
	width: 40px !important;
	border: 2px solid #FFF;
	border-radius: 30px;
}

#results .uavatar-small {
	position: absolute;
	bottom: 0px;
	left: 0;
}

.nav>li {
	margin: 0 15px;
}

.nav>li>a {
	padding: 4px 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-right {
	margin: 10px 0 0;
}

.navbar-default {
	background: none;
	padding: 15px 0px 10px;
	border-bottom: 1px solid #282828;
}

.navbar-home {
	border: none;
	margin-bottom: 150px;
	padding: 20px 0 0 0;
}

.navbar-home #insert {
	border-color: #FFF;
}

.navbar-home .navbar-nav>li>a {
	color: #FFF;
}

.navbar-home .navbar-nav>li>a:hover {
	background: none;
}

#teaser {
	background: url("../images/landing_bg.jpg") center no-repeat;
	background-size: cover;
	text-align: center;
}

h1, h2, h3 {
	margin: 0
}

#copy {
	width: 33.33%;
	text-align: center;
	line-height: 25px;
}

#followus{
	margin: 5px 0 5px 15px;
}

footer #links ul li a {
	color: #C3BEBA !important;
}

#footerdiv {
	position: absolute;
	bottom: 0;
	width: 100%;	
}


#footerdiv .col-md-2>div{
	max-width:140px;
}

#footerdiv .col-md-2>div ul li{
	list-style: none;
}

#footerdiv .col-md-2>div ul li a{
	color: #343a3d;
}

.divier{
	height: 20px;
	margin-top:5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #343a3d;
}
footer {
	background: #343a3d;
	height: 70px;
	padding: 10px 10px;
	color: #0EAF9C;
}


footer .handmade{
	padding: 20px 0 0 0;
	width: 33.33%;
	text-align: right;
	height: 60px;
	color: #FFFFFF;
}

footer .social-media {
	width: 33.33%;
	padding: 10px 0 0 0;
	font-size: 30px;
}

footer .social-media ul li {
	float: left;
	list-style: none;
	margin: 0 10px;
}

footer .social-media ul li a:hover {
	color: #0EAF9C;
}

footer .social-media ul li a {
	color: #FFF;
}

.clear {
	clear: both;
}

.centered-div {
	max-width: 970px;
	margin: auto;
	padding: 10px 0
}

.panel {
	border: none !important;
	background: none !important;
	box-shadow: none !important;
}

.panel-gearo .panel-body img {
	height: 190px;
	width: 100%;
}

.panel-gearo .panel-body span.price {
	font-size: 18px;
	position: absolute;
	bottom: 50px;
	right: 0px;
	padding: 6px 10px;
	margin: 0 15px 0 0;
	background: #343a3d;
	opacity: 0.8;
	color: #FFFFFF;
	text-align: center;
    font-weight: bold;
}

.panel-gearo .panel-body .bx-wrapper .bx-caption{
	bottom: 30% !important;
	right: 0px !important;
	left: auto !important;
	font-size: 26px;
	/*fonz-weight: bold;*/
	width: 110px;

}

.panel-gearo .panel-body .bx-wrapper .bx-caption span{
	text-align: center;
	font-weight: bold;
}

.panel-gearo .panel-body .bx-wrapper .bx-caption span small, .price small{
	font-size: 12px;
	font-style: italic;
	display: block;
	font-weight: 100;
}

#offerstartpage .panel-gearo:hover .panel-heading, #offerstartpage .panel-gearo:hover .panel-body span,
	#results .panel-gearo:hover .panel-heading, #results .panel-gearo:hover .panel-body span
	{
	color: #0eaf9c;
}

#results  .panel {
	margin-bottom: 0px !important;
	padding-bottom: 20px;
}

#results .row>div {
	margin-bottom: 10px;
}

.noUnderline:hover {
	text-decoration: none !important;
}

.panel-gearo .panel-body {
	padding: 0;
}

.panel-gearo .panel-heading {
	background: #343a3d;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	padding: 7px 0 7px 10px;
	border: none;
	border-radius: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 1.42857;
}

#resetform h1 {
	font-weight: 100;
	margin: 50px 0 30px 0;
}

#resetform .input-group {
	margin: 10px 0;
}

#resetform .input-group input {
	width: 295px;
}

#resetform .input-group button {
	margin: 10px 0;
}

.errorlist {
	list-style: none;
	color: #be5b5b;
}

/***
 
 startpage.css
 	
 ***/


#teaser h1 {
	/*padding: 135px 0 0 0;*/
	font-size: 24px;
	margin: 0 20px;
    line-height: 33px;
}

#teaser h2 {
	padding: 12px 0 0;
	font-size: 20px;
}

#teaser>h1, #teaser>h2 {
	color: #fff;
}

/*
 	have to edit to use a image sprite
 */
#startpage-categories {
	list-style: none;
	margin: 10px 0;
}

#startpage-categories>li {
	/* height: 57px; */
	width: 12.5%;
	float: left;
	text-align: center;
}

#startpage-categories>li>a {
	display: block;
	height: 57px;
}

#startpage-categories>li>a>span {
	display: inline-block;
	margin: 55px 0 0 0;
	color: #343a3d;
}

#startpage-categories>li>a:hover span, #startpage-categories>li>a.active span {
	color: #0eaf9c;
}

#photocamera {
	background: url('../images/categories/xs/01_DSLr.jpg') center no-repeat;
}

#photocamera:hover, #photocamera.active {
	background: url('../images/categories/xs/01_DSLr_active.jpg') center
		no-repeat;
}

#moviecamera {
	background: url('../images/categories/xs/02_Video.jpg') center no-repeat;
}

#moviecamera:hover, #moviecamera.active {
	background: url('../images/categories/xs/02_Video_active.jpg') center
		no-repeat;
}

#objective {
	background: url('../images/categories/xs/03_Objektive.jpg') center
		no-repeat;
}

#objective:hover, #objective.active {
	background: url('../images/categories/xs/03_Objektive_active.jpg') center
		no-repeat;
}

#light {
	background: url('../images/categories/xs/04_Licht.jpg') center no-repeat;
}

#light:hover, #light.active {
	background: url('../images/categories/xs/04_Licht_active.jpg') center
		no-repeat;
}

#accessories {
	background: url('../images/categories/xs/05_Stative.jpg') center no-repeat;
}

#accessories:hover, #accessories.active {
	background: url('../images/categories/xs/05_Stative_active.jpg') center
		no-repeat;
}

#audio {
	background: url('../images/categories/xs/06_Audio.jpg') center no-repeat;
}

#audio:hover, #audio.active{
	background: url('../images/categories/xs/06_Audio_active.jpg') center
		no-repeat;
}

#drohne {
	background: url('../images/categories/xs/07_Drohne.jpg') center no-repeat;
}

#drohne:hover, #drohne.active {
	background: url('../images/categories/xs/07_Drohne_active.jpg') center
		no-repeat;
}

#studio {
	background: url('../images/categories/xs/08_Studios.jpg') center no-repeat;
}

#studio:hover, #studio.active {
	background: url('../images/categories/xs/08_Studios_active.jpg') center
		no-repeat;
}

#hdi-background,
#lease-testimonials,
#rent-testimonials,
#easy-to-lease,
#lease_features_footer,
#rent_features_footer,
#benefits {
	background: #f9f9f9;
}

#hdi-background {
	margin: 20px 0 0 0;
}

#hdi {
	text-align: center;
	/*max-width: 970px;*/
	padding: 80px 0 30px 0;
	margin: 10px 0 0 0;
	/*color: #16118;*/
}

#hdi-width {
	max-width: 940px !important;
}

#hdi-logo {
	width: 75px;
	margin: 0 30px 0 0 !important;
}

#hdi div {
	max-width: 300px;
	margin: 15px auto;
}

#hdi ul {
	text-align: left;
	list-style-image: url("../images/startpage/stick.png");
}

#hdi ul li {
	line-height: 25px;
	font-size: 16px;
}

#hdi p {
	text-align: left;
}

#hdi h2 {
	color: #0eaf9c;
	font-size: 30px;
	font-weight: 300;
}

#hdi h2>img {
	margin: -7px 7px 0 0;
}

#box-features p {
	margin: 0 0 5px 0;
}

#box-features h3, #lease-features h3, #lease-testimonials h3, #lease-testimonials h4, #easy-to-lease h3, #easy-to-lease h4,
#rent-features h3, #rent-testimonials h3, #rent-testimonials h4, #easy-to-rent h3, #easy-to-rent h4, .row-rent-income h3 {
	color: #0eaf9c;
	margin: 0 0 15px 0;
}

#box-features .centered-div {
	text-align: center;
}

#offerstartpage {
	margin: 70px auto;
}

#startpage-search {
	
}

#startpage-search .input-group {
	margin: 10px auto;
}

#startpage-search .form-control:focus, .btn-group.open .dropdown-toggle {
	border: 1px solid #0eaf9c;
	box-shadow: 0 0 5px #0eaf9c;
}

#startpage-search .form-control {
	height: 40px;
}

#startpage-search button, #page-search button {
	background: #0eaf9c;
	color: #FFFFFF;
	width: 110px;
	height: 40px;
	border-radius: 0;
	border: none;
}

#startpage-search button span {
	margin: 0 10px 0 0;
}

#startpage-search .form-control {
	font-size: 16px;
	color: #999 !important;
	float: left;
}

#startpage-search .searchlong {
	width: 240px;
}

#page-search>form>div.input-group{
	margin-right: auto;
    margin-left: auto;
}


#howitworks {
	font-size: 16px;
	margin: 75px 0 0 0;
	color: #FFFFFF;
}

#howitworks div {
	padding: 25px 0 70px 0
}

#page.centered-div .page-header h1 {
	text-align: left;
	font-size: 30px;
}

/***
 register.css
***/
.modal-body {
	
}

#register, #login, #forgetpassword {
	margin: auto;
	width: 300px;
	padding: 0 15px 10px;
	text-align: center;
	margin: auto;
}

#register form p {
	text-align: left;
}

#register *, #login * , #forgetpassword *{
	margin: 12px 0;
}

#register #id_terms {
	margin-top: 3px !important;
}

#login .pull-right {
	margin: 0;
}
#login span, #register span {
	color: #979899;
}
.form-control {
	border: 1px solid #979899;
	border-radius: 0;
}

.form-control:focus {
	box-shadow: 0 0 5px #0eaf9c;
}

.btn-default{
	color: white;
	background: #0eaf9c;
	border-radius: 0;
	border: none;
	cursor: pointer;
}

.action-new{
	width: auto;
	padding: 5px 20px;
	text-align:center;
}

.btn-default:hover {
	color: #FFF;
	background-color: #0a8072;
	/*border-color: #085f54;*/
}

.btn-default.focus, .btn-default:focus {
	background-color: #0eaf9c !important;
}

#registerlink {
	font-size: 12px;
}

/**
	compromise solution - change later
**/
.fallback {
	/**margin-bottom: 527px !important; **/
	border: 1px solid #000;
}
/***
Form validation
**/
.parsley-error {
	border: 1px solid #be5b5b;
}

.parsley-errors-list {
	list-style: none;
}

.error-container {
	color: #be5b5b;
	text-align: left;
}

/***
Modal Style
***/
.modal-header {
	border-bottom: none;
}

.modal-header {
	padding: 1px 8px;
}

.modal-body {
	padding: 0;
}

.modal-dialog {
	width: 300px;
}

.modal-content {
	border-radius: 0;
}

/***
autocomplete

only remore icon not logo because:
https://developers.google.com/places/web-service/policies#logo_requirements

@more: https://google-developers.appspot.com/maps/documentation/javascript/places-autocomplete#style_autocomplete
**/
.pac-icon {
	display: none !important;
}

/*** 
postbox.css
*****/
.panel-postbox .panel-body {
	padding: 0;
}

.page-header {
	border-bottom: none;
	text-align: center;
}

.page-header h1 {
	font-weight: 100;
	font-size: 26px;
}

.page-header h5 {
	font-weight: 100;
	color: #0eaf9c;
}

#outgoing_inquiries {
	display: none;
}

.panel-postbox {
	width: 1020px;
	margin: 0 auto;
}

.panel-postbox .panel-heading {
	border-radius: 0;
}

.panel-postbox .tabs li {
	width: 50%;
	float: left;
	background-color: #919191;
	color: #fff;
	height: 40px;
	text-align: center;
	line-height: 40px;
	list-style-type: none;
	cursor: pointer;
}
.no-notifications {
	color: #525252;
}
li.active .no-notifications {
	color: #fff;
}
.panel-postbox .tabs li.active {
	background-color: #35a8e0;
}
.panel-postbox .mail-body {
	width: 805px;
	height: 124px;
    line-height: 124px;
	background-color: #f1f1f1;
	cursor: pointer;
}
.panel-postbox .new-mail .mail-body {
	background-color: #c2e5f6;
	color: #000;
	font-weight: bold;
}
.panel-postbox .mail-postbox {
	height: 125px;
	border-bottom: 1px solid #979899;
	border-top: 0;
	position: relative;
}

.panel-postbox .mail-postbox .mail-user {
	width: 200px;
	margin: 30px 0 0 15px;
}

.panel-postbox .mail-postbox .mail-user .meta {
	width: 135px;
	float: right;
}

.panel-postbox .mail-postbox .mail-user .meta p {
	font-size: 12px;
	color: #c3beba;
	margin: 0;
}

.panel-postbox .mail-postbox .mail-user .meta h4 {
	margin: 0;
}

.panel-postbox .mail-postbox .mail-user h4 {
	font-size: 14px;
}

.panel-postbox .mail-postbox .mail-content:before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	max-width: 0.001%;
}

.panel-postbox .mail-postbox .mail-content:first-child {
	display: inline-block;
	vertical-align: middle;
	padding: 0 30px;
	max-width: 99.999%;
}

.panel-postbox .mail-postbox .mail-content {
	width: calc(100% - 150px);
	height: 100%;
}

.panel-postbox .mail-postbox>div {
	float: left;
}

.panel-postbox .mail-postbox .mail-ad-preview {
	width: 150px;
	float: right;
}

.transactionlink:hover .mail-content {
	text-decoration: underline;
}

.panel-postbox .mail-postbox .mail-ad-preview>img {
	height: 65px;
	width: 120px;
	margin: 19px 15px;
}

.panel-postbox .mail-user >p, .panel-postbox .user-info >p{
	position: absolute;
	bottom: 0;
	left: 10px;
	margin: 0 0 2px 0;
	font-size: 12px;
    color: #c3beba;
    font-style: italic
}
.panel-postbox .user-info {
	display: inline;
}
.panel-postbox sup {
	color: #bd5b5b;
	font-weight: bold;
}
.mail-content {
	color: #343a3d;
}

.postboxicon{
	color: #343a3d;
	margin-top: 10px;
	margin-right: 10px;
}
/***
advertise.css
**/
.advertise-form {
	max-width: 460px;
	margin: 0 auto;
}

.form-section {
	display: none;
}

.form-section table#times {
	width: 60%;
	margin-left: 20%
}

.form-section table#times td {
	width: 25%;
	padding: 2px 0;
	text-align: center;
}

.form-section .times {
	width: 55px;
}

#advertise-prices {
	margin: 40px 0 0 0;
}

#advertise-prices div {
	float: left;
}

.middlediv {
	margin: 0 10px;
}

#advertise-prices div  label {
	margin: 0 0 5px 0;
}

#advertise-prices div input {
	max-width: 105px;
}

.form-section .form-control {
	border-radius: 4px;
	height: 30px;
}

.form-section > label, #advertise-prices label, .form-section .input-group>label {
	margin: 40px 0 5px 0;
	font-weight: 200;
}

.form-section p {
	text-align: center;
	margin: 5px 0 0 0;
	font-style: italic;
}

.current {
	display: block;
}

.form-navigation {
	margin: 55px 0 40px 0;
	text-align: center;
}

.parsley-errors-list{
	color:#be5b5b;
}

#advertise-form span.delete{
	color: #bd5b5b;
	font-style: italic;
	display: inline-block;
	margin-left: 8px;
}

#advertise-form div.save:hover, #advertise-form span.delete:hover, #advertise-form div.abort:hover{
	cursor: pointer;
	text-decoration: underline;
}

#advertise-form div.list ul li{
	list-style: none;
	padding: 5px 0;	
}
.datepicker td{
	border: 1px solid #c3beba !important
}

.datepicker table tr td.active.selected{
	background: #36ae9a !important;
    border-radius: 0 !important;
}

.datepicker table tr td.selected{
	background: #979899 !important;
	border-radius: 0 !important;
}

.datepicker .datepicker-switch{
	font-weight: 100 !Important;
}

.datepicker th.clear{
	font-weight: 100 !Important;
}

.datepicker th.next, .datepicker th.prev {
	color: #0eaf9c;
}

.datepicker .table-condensed tr:nth-child(2) th{
	border-bottom: none !important;
}

.datepicker table tr td.range{
	background: #f9f9f9 !important;
}

input.dateicon{
	padding: 6px 12px 6px 30px;
	background: url("../images/gearo_date_picker_icon.jpg") 6px 10px no-repeat;
}
input.datepicker-field.dateicon{
	background-position: 6px 8px;
} 
/***
tagit.css
***/
ul.tagit {
	padding: 1px 5px;
	overflow: auto;
	margin-left: inherit;
	/* usually we don't want the regular ul margins. */
	margin-right: inherit;
}

ul.tagit li {
	display: block;
	float: left;
	margin: 2px 5px 2px 0;
}

ul.tagit li.tagit-choice {
	position: relative;
	line-height: inherit;
}

input.tagit-hidden-field {
	display: none;
}

ul.tagit li.tagit-choice-read-only {
	padding: .2em .5em .2em .5em;
}

ul.tagit li.tagit-choice-editable {
	padding: .2em 18px .2em .5em;
}

ul.tagit li.tagit-new {
	padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
	cursor: pointer;
	text-decoration: none;
}

ul.tagit li.tagit-choice .tagit-close {
	cursor: pointer;
	position: absolute;
	right: .1em;
	top: 50%;
	margin-top: -8px;
	line-height: 17px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
	display: none;
}

ul.tagit li.tagit-choice input {
	display: block;
	float: left;
	margin: 2px 5px 2px 0;
}

ul.tagit input[type="text"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	margin: 0;
	padding: 0;
	width: inherit;
	background-color: inherit;
	outline: none;
}

.ui-widget-content {
	background: none !important;
	border: 1px solid #979899 !important;
}

ul.tagit input[type="text"] {
	border: none !important;
}

.tagit-label {
	color: #343a3d;
}

li.ui-widget-content {
	background: #f2f2f2 !important;
	border: none !importanT;
}

li.ui-corner-all {
	border-radius: 0 !important;
}

.input-group textarea {
	border: 1px solid #979899;
}

.preview {
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.preview input[type=file] {
	position: absolute;
	opacity: 0;
	z-index: 0;
	max-width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

.btn-upload .btn {
	width: 131px;
	height: 74px;
	background: url("../images/insert/chooseimg.png") no-repeat;
	border: 1px solid #2e6da4;
	border: 0;
	border-radius: 0;
}

.btn-upload:hover .btn {
	padding: 27px 42px;
	color: #fff;
	border: 0;
}

.form-section h6 {
	font-weight: 100;
	font-size: 14px;
	margin: 40px 0 5px 0;
}

#chooseimages {
	
}

#chooseimages div {
	float: left;
}

#middleimg {
	margin: 0 10px;
}

.btn-advertise {
	background: #0eaf9c;
	border-radius: 0;
	color: #FFF;
	padding: 5px 50px;
	margin: 0 15px;
}

.previous {
	background: #979899;
}

#map {
	margin: 30px 0 0 0;
	height: 180px;
}

select.form-control {
	padding: 1px 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: white;
	background-image: url("../images/insert/select.png");
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

select.form-control:invalid {
	color: #999999;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

/**
daterangepicker.css
**/
.daterangepicker .input-mini {
	display: none !important;
}

.daterangepicker_input .glyphicon-calendar {
	display: none !important;
}

.table-condensed  td.available , .table-condensed td.disabled{
	border: 1px solid #c3beba !important;
	text-decoration: none !important;
}

.table-condensed tr:nth-child(2) th {
	border-bottom: 1px solid #c3beba !important;
}

.table-condensed .month {
	font-weight: 100 !Important;
}

.table-condensed .fa-chevron-left, .table-condensed .fa-chevron-right {
	color: #0eaf9c !important;
}

.table-condensed .in-range {
	background-color: #b6e4da !important;
}

.table-condensed .start-date, .table-condensed .end-date {
	background-color: #36ae9a !important;
	border-radius: 0 !important;
}

.table-condensed tbody {
	margin: 1px 0 0 0 !important;
}

/***
	faq.css
***/
#faqtenant h4, #faqtenant h5, #faqlessor h4, #faqlessor h5 {
	color: #FFFFFF;
	margin: 30px 0;
	padding: 15px 0;
	font-weight: 100;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
}

#faqtenant h6, #faqlessor h6 {
	padding: 15px 0;
	background: #FFF !important;
	border: 1px solid #000 !important;
	text-align: center;
	font-size: 16px;
	font-weight: 100;
	border-radius: 4px;
	cursor: pointer;
}

#faqtenant h4, #faqtenant h5, #faqtenant div h6 {
	background: black;
	cursor: pointer;
}

#faqtenant div, #faqlessor div {
	margin: 30px 0 30px 110px;
}

#faqtenant div div, #faqlessor div div {
	margin: 30px 0;
}

#faqtenant div div div, #faqlessor div div div {
	padding: 0 0 0 15px;
}

#faqlessor h4, #faqlessor h5 {
	background: #979899;
	cursor: pointer;
}

h5.faq {
	font-size: 16px;
	font-weight: 100;
}

p.faq {
	font-size: 14px;
}
/***
profle.css
**/
#profilenav {
	max-width: 180px;
	float: left;
	margin: 0px 15px 0 0 !important;
	padding: 0px 15px 0px 0px !important;
}

#profilenav .nav li {
	margin: 5px 0;
}

#profilenav .nav li a {
	color: #979899;
}

#profilenav .nav li a:hover {
	background: none;
	color: #0eaf9c;
}

#profilecontent {
	float: left;
	max-width: 700px;
}

#profilecontent .input-group ul li {
	list-style: none;
	display: inline-block;
	width: 100%;
}

#profilecontent .input-group .icondiv .fa {
	margin-top: 7px;
	font-size: 25px;
	color: #969799;
	float: left;
}
#profilecontent #verify{
	width: 175px !important;
	display: inline-block !important;
	margin: 0 !important;
	float:left !important;
}

#profilecontent #discountenter{
	display: inline-block;
	padding-top: 2px;
	float:none;
}

#profilecontent .icondiv {
	width: 40px;
	float: left;
}

#profilecontent .nervdiv {
	width: 280px;
	float: left;
}

#profilecontent .input-group .margindiv {
	margin: 15px 0;
}

#profilecontent .input-group .form-control {
	margin: 10px 0;
}

.avatarUpload {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

.avatarUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

/*****
onoffswitch.cs
*****/
.onoffswitch {
	position: relative;
	width: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 18px;
	padding: 0;
	line-height: 18px;
	border: 2px solid #999999;
	border-radius: 18px;
	background-color: #EEEEEE;
	transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
	content: "";
	display: block;
	width: 18px;
	margin: 0px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	border: 2px solid #999999;
	border-radius: 18px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
	background-color: #0EAF9C;
}

.onoffswitch-checkbox:checked+.onoffswitch-label, .onoffswitch-checkbox:checked+.onoffswitch-label:before
	{
	border-color: #0EAF9C;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
	right: 0px;
}

.onoffposition, .onoffh {
	float: left;
}

.onoffposition.bill {
	margin: 10px 0 0 110px;
}

.onoffposition.trader {
	margin: 10px 0 0 54px;
}

.onoffposition.calctax {
	margin: 10px 0 0 87px;
}

/*****
search.css
****/



#emptyresult img, #emptyresult p {
	margin: 0 0 25px 0;
}

#emptyresult {
	text-align: center;
	width: 260px;
	margin: 150px auto 0;
}

#result_search {
	margin: 20px 0 0;
}

#result-categories {
	margin: 0 0 30px 0;
}

.info_content {
	font-family: "sofia-pro-n4", "sofia-pro", sans-serif;
	width: 270px;
	height: 180px;
}

.info_content .panel {
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	margin-bottom: 0 !important;
}

.info_content .panel-gearo .panel-body img {
	height: 140px;
	width: 100%;
}

.info_content .panel-gearo .panel-body span {
	font-size: 18px;
	position: absolute;
	bottom: 50px;
	right: 0px;
	padding: 6px 10px;
	background: #343a3d;
	margin: 0;
	opacity: 0.8;
	color: #FFFFFF;
}

.gm-style-iw {
	width: auto !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	border-radius: 2px 2px 0 0;
}

/***
detail.css
**/
#gearoleftcolumn {
	width: 215px;
	
}

.panel-border .panel-body {
	border: 1px solid #979899;
}

.panel-border .panel-body p {
	padding: 0 3px;
}

#gearorightcolumn {
	max-width: 100%;
	padding: 0 5px;
}

#gearorightcolumn .bx-wrapper {
	border: none;
	margin: 0px auto 15px;
	box-shadow: 0 0 0 0;
	height: 275px;
}

#imginq {
	height: 195px;
}

#rentprice {
	width: 100%;
}

#rentprice .btn-default {
	width: 100%;
}

#rentprice .panel-body form div {
	padding: 0 10px;
}

#addescription {
	margin-top: 15px ;
	overflow: hidden;
	padding-left: 0;
}

#profileimg {
	height: auto;
}

#admap {
	width: 100%;
	height: 250px;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
	height: 275px !important;
}


#ownerinfo ul {
	list-style: none;
}

#ownerinfo ul li {
	margin: 2px 0 5px 2px;
	float: left;
}

#ownerinfo i {
	font-size: 20px;
	color: #969799;
}

.greyinfo {
	color: #c3beba;
}

.modal-reply {
	width: 450px;
}

.reply {
	padding: 0 15px 15px;
}

.popover {
	padding: 0 !important;
}

.popover>.arrow {
	padding: 0 !important;
}

#startdate, #enddate {
	
}

#starsbar, #starsbar-nor{
	margin-top: 10px;
}

#starsbar-nor .fa{
	margin-left: 10px;
	color: #979899;
	font-size: 30px;
}


#starsbar .fa{
	margin-left: 10px;
	color: #bd5b5b;
	font-size: 30px;
}
.margin10{
	margin:10px
}

.reviewpreview{
	max-width: 140px;
	margin-left: 10px;
}

.verifications{
	width: 100%;
	margin: 10px 0;
}

.verifications tr td{
	padding: 4px 0;
}

.verifications tr td:nth-child(1){
	width: 30%;
	text-align: center;
}

.verifications tr td:nth-child(2){
	width: 70%;
}

.verifications .fa-check{
	font-size: 20px;
	color: #0eaf9c
}

.verifications .greyinfo{
	display: block;
}

/*
	confirm.css
*/
.center-text {
	text-align: center;
}

.center-text h1 {
	margin: 50px 0;
	font-size: 30px;
}

.center-text img {
	margin: 0 0 50px 0;
}

#qna.panel-body {
	padding: 10px;
}

#questions td, #openquestions td {
	vertical-align: top;
}

#questions table tr>td:first-child, #openquestions table tr>td:first-child {
	padding: 0 65px;
}

#questions table, #openquestions table {
	margin: 20px 0;
}

#more {
	text-align:center;
}

#booking {
	width: 340px;
	margin: 0 0 0 35px;
}

.nopadding {
	padding: 0 !important;
	font-size: 12px;
	line-height: 1.2;
}

#discountenter {
	width: 40px;
	height: 30px;
	background-color: #979899;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	padding-top: 2px;
	text-align: center;
	float: left;
	cursor: pointer;
}

input[name="discountinput"] {
	width: 215px ;
	height: 30px;
	border-top-left-radius: 2px !important;
	border-bottom-left-radius: 2px !important;
	float: left;
}


#discountenter i {
	color: white;
	font-size: 28px;
}

#inquireb {
	padding-bottom: 15px !important;
}

#inquireb>img {
	margin-bottom: 15px;
}

#inquireb>table {
	width: 318px;
	margin-bottom: 20px;
}

#inquireb>h6 {
	font-size: 16px;
}

#inquireb>table, #inquireb>h6, #inquireb>div {
	margin-left: 10px;
	margin-right: 10px;
}

#inquireb>table input {
	width: 80px;
	padding: 0 5px;
}

div.dateborder {
	border: 1px solid #979899;
	padding: 0 4px;
	width: 90px;
}

.dateborder.table-left {
	margin-left: 82px;
}

.gearotime {
	width: 120px;
	box-shadow: none !important;
	padding: 0 !important;
	background: #FFFFFF !important;
}

.gearotime .time {
	width: 15px;
}

.gearotime .mins {
	width: 55px;
}

.timepicki-input {
	width: 35px !important;
	border-color: #979899 !important;
	border-radius: 0 !important;
}

.alert-info {
	color: #FFFFFF;
	background: #0eaf9c;
	border: none;
	font-size: 16px;
	text-align: center;
}

.nomargin {
	margin: 0 !important;
}

.notoppadding {
	padding-top: 0 !important;
}

#payout {
	border: 1px solid #979899;
	padding: 4px;
}

#payout td {
	text-align: center;
	padding: 4px 0;
	font-weight: bold;
}

#payout td:nth-child(5) {
	color: #0eaf9c;
}

button#reject {
	background: #979899;
}

button#accept {
	width: 169px;
}
/***
	errorpage.csss
***/
#errorteaser {
	background: url("../images/error/title.jpg") no-repeat scroll center;
	height: 825px;
	color: white;
}

#errorteaser h1 {
	font-size: 30px;
	font-weight: 100;
}

/*** 
 chat.csss
 ***/
#chatinfo {
	border: 1px solid #979899;
	padding-bottom: 3px;
	max-width: 325px;
}

table#address {
	margin-top: 12px;
}

table#address tr {
	vertical-align: top
}

table#address tr td i {
	margin-right: 5px;
}

table#address tr td:nth-child(2) {
	padding-left: 8px;
}

.match {
	border: 1px solid #0eaf9c;
	padding: 0 5px 30px;
	margin: 0 5px;
}

.match button {
	width: 100%
}

.match button {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.btn-black, .action-new {
	color: white;
	background: #343a3d;
	border-radius: 0;
	border: none;
	cursor: pointer;
}
.btn-black:hover {
	color: white !important;
}

.action-new:hover{
	cursor: pointer;
}

#newmessage {
	position: relative;
	height: 140px;
	width: 540px;
	margin: 0 60px;
}

#hint {
	margin: 0 60px;
}

#newmessage .btn-black {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#newmessage textarea {
	height: 100px;
	width: 540px;
	padding: 10px;
	resize: none;
}

.message {
	position: relative;
	padding: 0 45px;
}

#messagewrapper {
	overflow-x: hidden;
}

#messages {
	max-height: 385px;
	overflow-y: scroll;
	margin: 20px 0;
	width: 100%;
}
.message .content {
	width: 100%;
	padding: 40px 50px;
}

.message .timestamp {
	text-align: right;
}

.type1 .content {
	background: #b6e7e1;
}

.type2 .content {
	background: #e0e0e0;
}

.type1 img.uavatar-large {
	position: absolute;

	right: 0px;
	top: 0px;
}

.type2 img.uavatar-large {
	position: absolute;
	left: 0px;
	top: 0px;
}

#rentprice .panel table#times {
	margin: 5px 10px;
}

.small-table table#times td:nth-child(1) {
	padding-left: 10px;
	padding-top: 5px;
}

.small-table table#times td:nth-child(2) {
	text-align: right;
	padding-right: 10px;
}

table#times {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;

}

/****
   protocol.css
   **/
table#protocolheader {
	margin: 0 auto 20px;
}

table#protocolheader td:nth-child(1), table#protocolheader td:nth-child(3)
	{
	width: 215px;
}

table#protocolheader td:nth-child(2) {
	width: 115px;
	text-align: center;
}

#protocolpanel {
	width: 650px;
	margin: 0 auto;
}

#protocolcontent {
	max-width: 595px;
	margin: auto;
	padding: 10px;
}

#protocolcontent h6 {
	text-align: center;
	margin: 20px 0;
}

#protocolcontent table#questions td {
	height: 30px;
}

#protocolcontent table#questions td:nth-child(1) {
	width: 210px;
}

#protocolcontent table#questions td:nth-child(2), #protocolcontent table#questions td:nth-child(3),
	#protocolcontent table#questions td:nth-child(4) {
	width: 50px;
	text-align: center;
}

#protocolcontent #canvaswrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 1190px;
}

@media print {
	#protocolcontent #canvaswrapper {
		background-position: center center !important;
		background-repeat: no-repeat !important;
	}
}

#protocolcontent #canvaswrapper canvas {
	/*height: 100%;
	width: 100%; */
	
}

#protocolcontent .time_over table td {
	padding: 5px 0;
}

#protocolcontent .time_over table td:nth-child(2) {
	text-align: right;
}

#protocolcontent table td h6 {
	margin: 0 0;
}

#protocolcontent .time_over table td:nth-child(2) h6 {
	text-align: right;
}

div#inquireb.time_over {
	max-width: 345px;
	margin: 20px auto 0;
}

.borderdiv {
	border: 1px solid #979899;
	padding: 5px 0;
}

.greenborder {
	border: 1px solid #0eaf9c;
	padding: 5px;
}

.display-inline {
	display: inline;
}

.sig_wrapper, #canvaswrapper {
	position: relative;
}

.sig_wrapper {
	height: 210px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.sig_pic {
	position: absolute;
	top: 0px;
	right: 0px;
}

.vosuc {
	color: #02e039;
}

.voerr {
	color: #e00202;
}

#profilenav .nav .nav li {
	margin-left: 20px;
}

.billad{
	max-width: 380px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.billsites{
	max-width:125px;	
}

.mybills > .container > .row > div{
	padding: 35px 0;	
}

.mybills > .container > .row > div.billad{
	border-bottom: 1px solid #000000;
}

.noborder{
	border: 0 !important;
}

#userriew .fa-check-circle-o{
	font-size: 35px;
	color:#0eaf9c;
}

#userriew .fa-times-circle-o{
	font-size: 35px;
	color: #be5b5b;
}
.rating{
	font-size: 16px;
	padding: 20px 0;
}

.rating i.great{
	color: #0eaf9c;
}

.rating i.alright{
	color: #e7a138;
}

.rating i.nogo{
	color: #be3939;
}

div textarea[name="text"]{
	padding: 4px;
}

#stornoModal .modal-content{
	width: 370px;
	padding: 10px;
}

#stornoModal .modal-content .modal-header{
	color: #be5b5b;
} 

#stornoModal .modal-content i {
	font-size: 20px;
	color: #be5b5b;
}
#stornoModal .modal-content span.red {
	color: #be5b5b;
}

#page-search .form-control {
	height: 40px;
}

#page-search{
	margin-bottom: 20px;
}

.clearbutton{
	position: absolute;
	top: 20px;
	right: 20px;
}

/******
	profile.css
****/
#publicprofile{
	max-width: 970px;
}

.profilelink{
	color: #343a3d
}

#reviews table tr td:nth-child(1){
	padding-right: 10px;	
}

#reviews table tr td:nth-child(2){
	width:30%;
}

#reviews table tr td:nth-child(3){
	width:60%;
}

#reviews table tr:nth-child(2) td:nth-child(3){
	text-align: right;
	color: #c3beba;
}

#reviews .rating .fa{
	margin-right: 7px;
}

.ratingsel{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding: 10px;
	margin: auto;
	cursor: pointer;
}

#great.ratingsel{
	color: #0eaf9c;
	border-color: #0eaf9c;
}

#alright.ratingsel{
	color: #ffa406;
	border-color: #ffa406;
}

#nogo.ratingsel{
	color: #bd5b5b;
	border-color: #bd5b5b;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #0eaf9c;
}
.navbar-default .navbar-toggle{
	border-color: #0eaf9c;
}

.navbar-home .navbar-toggle .icon-bar{
	background-color: #FFF;
}

#startpage-search .input-group{
	padding: 48px 5px 0px;
}

#startpage-search .input-group button{
	float: right;
}

#box-features .col-xs-12 img {
	margin:  5% 0;
}

#resultmap {
		height: 250px;
	}
	
#observe table td, table#pricing td{
	padding: 5px 0;
	
}

#observe table tr:last-child td:nth-child(2), table#pricing tr:last-child td:nth-child(2) {
	border-top: 1px solid #343a3d;
}

#observe table tr:last-child td, table#pricing tr:last-child td{
	color: #0eaf9c;
}
#profilecontent{
	width: 320px;
}

#profilecontent .input-group{
	width: 100%;
}

.onoffswitch{
	position: absolute;
	top: 10px;
	right: 0;
	height: 18px;
}
.sweet-alert .icon.success .line, .sweet-alert .icon.warning .line{
	background-color: #0eaf9c !important;	
}
.sweet-alert .icon.success .placeholder, .sweet-alert .icon.warning .placeholder{
	border: 4px solid #0eaf9c !important;
}

.sweet-alert{
	border-radius: 0px !important;
}

.navbar .popover{
	width: 200%;
}
.panel-heading>a{
	color: #FFFFFF;
}

#box-features.row .col-xs-12 img{
	margin: 5% auto;
	display:block;
}

#id_phone_mobile{
	margin: 0 !important
}



/****
	responsive.css
****/

@media (max-width: 767px) {  
	#page-search{
		padding: 0 10px;
	}	
	#page-search input{
		margin-top: 4px;
		margin-bottom: 4px;
	}
	
	#searchpickup{
		margin-right:2%;
	}
	
	#searchpickup, #searchreturn {
		width: 49% !important;
	}
	
	#page-search button{
		float:right;
		margin-top: 4px;
		width: 110px;
	}
	
	#result_search{
		margin: 5px 0 0 0;
	}
	#rentprice .panel-body form div input {
		margin: 2px 0;
		width: 49%;
		float: left;
	}
	
	#rentprice #id_startdate{
		margin-right: 1%;
	}
	
	#rentprice table{
		max-width: 195px;
		margin: 0 auto;
	}
	
	.profilecolumn-xs{
		margin-top: 20px !important;
		margin-right:20% !important;
	}
	
	#chooseimages{
		margin: 20px 0 0 0;
    	width: 100%;
    }
    
    #chooseimages div{
    	float: none;
    	text-align: center;
    }
    
    #advertise-form .form-section{
    	padding: 0 5px;
    }
    
    #advertise-form{
    	max-width: 365px;
    }
    
     #advertise-form .middlediv{
     	margin: 0 5px
     }
     
     #startpage-search .input-group input{
		margin: 2px 0;
		width: 100%
	}
	
	.btn-advertise{
		padding: 5px 40px;
		margin:0 5px;
	}
	
	#profilecontent{
		margin-left: 4%;
	}
	
	#billnav-xs{
		margin-left:8%;
		
	}
	
	#billnav-xs .nav li a{
		color: #979899
	}
	
	.panel-postbox .mail-postbox .mail-user .meta{
		width:70px;
	}
	
	.panel-postbox .mail-postbox .mail-user{
		width: 125px;
		text-align: center;
	}
	.panel-postbox{
		width: 100%;
	}
	.panel-postbox .mail-body {
		width: calc(100% - 140px);
	}

	.panel-postbox .mail-postbox .mail-content{
		width: 100%;
	}
	
	#booking{
		margin-left: 0;
		margin-right: 10px
	}
	#gearoleftcolumn.pull-right{
		margin-top: 25px;
		margin-right: 20%;
	}
	#publicprofile #triggerfilter{
		padding: 10px 0;
	}
	
	#publicprofile #triggerfilter div{
		text-align:center;
	}
	#newmessage textarea{
		width:320px;
	}
	#newmessage{
		width: 320px;
		margin: 0;
	}
	#messages{
		width: 100%;
	}
	.message {
		padding: 0 45px;
	}
	.message .content{
		width: 100%;
	}
	
	#chatnav .col-xs-11{
		margin: 10px 2%;
	}
	.navbar-home{
		margin-bottom: 35px;
	}

	#startpage-search {
		padding-botttom: 0 !important;
	}
	#howitworks{
		margin: 0;
	}
	#startpage-search button{
		float: right;
	}
	.panel-gearo .panel-body img {
		height: auto !important;
	}
	#landing_page_features {
	    padding-left: 10px;
	    padding-right: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#publicprofile #starsbar .fa, #publicprofile #starsbar-nor .fa{
		margin-left: 4px;
		font-size: 25px;
	}
	
	#publicprofile .panel-gearo .panel-body img{
		height: 100px;
	}
	
	#publicprofile .panel-gearo .panel-body img#profileimg{
		height: 140px;
	}
	
}


@media (min-width: 768px) { 
	#profileimg{
		height: 211px ;
	}
	.middlediv {
		margin: 0 35px;
	}
	
	.middleimg {
		margin: 0 33px;
	}
	#profile {
		margin: -15px 0 0 0;
	}
	#startpage-search .searchshort {
		width: 140px;
	}
	
	#startpage-search .input-group input{
		margin: 0;
	}
	#page-search>form>div.input-group {
	    max-width: 750px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	#serachterm{
		width: 49%;
		margin-right: 1%;
	}
	#searchplace {
		width: 50%;
		margin-bottom: 8px;
	}

	#searchpickup, #searchreturn {
		width: 24%;
		margin-right: 1%;
	}

	#page-search button.btn {
	    margin-left: 1%;
	    margin-right: 1px;
	    float: right;
	}
	
	#photocamera {
		background: url('../images/categories/01_DSLr.jpg') center no-repeat;
	}
	
	#photocamera:hover, #photocamera.active {
		background: url('../images/categories/01_DSLr_active.jpg') center
		no-repeat;
	}
	
	#moviecamera {
		background: url('../images/categories/02_Video.jpg') center no-repeat;
	}
	
	#moviecamera:hover, #moviecamera.active {
		background: url('../images/categories/02_Video_active.jpg') center
		no-repeat;
	}
	
	#objective {
		background: url('../images/categories/03_Objektive.jpg') center
		no-repeat;
	}
	
	#objective:hover, #objective.active {
		background: url('../images/categories/03_Objektive_active.jpg') center
		no-repeat;
	}
	
	#light {
		background: url('../images/categories/04_Licht.jpg') center no-repeat;
	}
	
	#light:hover, #light.active {
		background: url('../images/categories/04_Licht_active.jpg') center
		no-repeat;
	}
	
	#accessories {
		background: url('../images/categories/05_Stative.jpg') center no-repeat;
	}
	
	#accessories:hover, #accessories.active {
		background: url('../images/categories/05_Stative_active.jpg') center
		no-repeat;
	}
	
	#audio {
		background: url('../images/categories/06_Audio.jpg') center no-repeat;
	}
	
	#audio:hover, #audio.active{
		background: url('../images/categories/06_Audio_active.jpg') center
		no-repeat;
	}
	
	#drohne {
		background: url('../images/categories/07_Drohne.jpg') center no-repeat;
	}
	
	#drohne:hover, #drohne.active {
		background: url('../images/categories/07_Drohne_active.jpg') center
		no-repeat;
	}
	
	#studio {
		background: url('../images/categories/08_Studios.jpg') center no-repeat;
	}
	
	#studio:hover, #studio.active {
		background: url('../images/categories/08_Studios_active.jpg') center
		no-repeat;
	}
	#hdi-background {
		margin: 28px 0 0 0;
	}
	
	#results {
		margin-top:50px;
	}
	#resultmap {
		height: 400px;
	}
	
	
	#gearorightcolumn{
		max-width: 535px;
		margin: 0 0 0 15px;
	}
	#gearorightcolumn .bx-wrapper{
		height: 300px;
	}
	
	.bx-wrapper img{
		height: 300px !important;
	}
	
	#admap{
		width: 535px;
		height: 405px;
	}
	
	#addescription{
		margin: 0;
		width: 300px;
	}
	#rentprice {
		width: 215px
	}
	#rentprice .panel-body form div input {
		margin: 2px 0;
	}
	#advertise-prices div input{
		max-width:130px;
	}
	#gearorightcolumn.pull-right{
		margin: 0 80px 0 0px;
	}
	
	.addetailcolum{
		margin-right:0!important;margin-left: 15px !important;
	}

	#box-features.row .col-sm-6{
		max-width: 460px;
	}
	
	.navbar-home{
		margin-bottom: 150px;
	}
	#startpage-search {
		padding-bottom: 35px;
	}
	#startpage-search .input-group {
    	margin: 40px auto;
	}
	#teaser h1 {
		/*padding: 135px 0 0 0;*/
		font-size: 40px;
	}
	#teaser h2 {
		padding: 35px 0 0;
		font-size: 30px;
	}
}

@media (min-width: 992px){
	#messages {
		margin: 20px;
		width: calc(100% + 10px);
	}
	#messagewrapper {
		width: 660px;
	}
	#publicprofile>div.row>div.col-md-3{
		max-width: 235px;
		padding-right: 0;
	}
	
	#publicprofile #resultmap{
		height: 530px;
		width: 95%;
	}
	
	#ownerinfo{
		padding: 0 10px;
	}
	
	#ownerinfo ul li{
		margin: 5px 0 5px 5px;
	}
	
	#contentwrapper {
		padding-bottom: 280px;
		padding-top: 10px;
	}

	#startpage-search button {
		width: 150px;
	}
	#page-search>form>div.input-group {
	    max-width: 940px;
	}

	#serachterm, #searchplace,
	#searchpickup, #searchreturn {
	    margin-right: 0;
	}

	#serachterm, #searchplace {
		width: 230px;
	}

	#searchpickup, #searchreturn {
		width: 115px;
	}

	#page-search button.btn {
	    margin: 0;
	    float: right;
	}

	.panel-gearo .panel-body img {
		height: 115px;
	}
	#hdi-background {
		margin: 20px 0 0 0;
	}
	#results {
		height: 650px;
		width: 475px;
		float: left;
		overflow: hidden; 
		margin: 0 ;
	}
	#results .container{
		height: 650px;
		width: 483px;
		overflow-y: auto;
	}
	#resultmap {
		height: 650px;
		width: 460px;
		float: left;
		margin: 0 0 0 15px;
	}
	
	#gearorightcolumn {
		max-width: 700px;
		margin: 0 0 0 30px;
	}
	
	#gearorightcolumn.pull-right{
		margin: 0 165px 0 0px;
	}

	#gearorightcolumn .bx-wrapper {
		height: 395px;
	}
	
	#admap {
		width: 700px;
		height: 530px;
	}
	
	.bx-wrapper img {
		height: 395px !important;
	}
	#addescription{
		width: 475px;
	}
	/** initial setup **/
	.nano {
		position : relative;
		width    : 100%;
		height   : 100%;
		overflow : hidden;
	}
	.nano > .nano-content {
		position      : absolute;
		overflow      : scroll;
		overflow-x    : hidden;
		top           : 40px;
		right         : 0;
		bottom        : 0;
		left          : 0;
	}
	.nano > .nano-content:focus {
		outline: thin dotted;
	}
	.nano > .nano-content::-webkit-scrollbar {
		display: none;
	}
	.has-scrollbar > .nano-content::-webkit-scrollbar {
		display: block;
	}
	.nano > .nano-pane {
		background : #f9f9f9;
		position   : absolute;
		width      : 10px;
		right      : 0;
		top        : 0;
		bottom     : 0;
		visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
		opacity    : .01;
		-webkit-transition    : .2s;
		-moz-transition       : .2s;
		-o-transition         : .2s;
		transition            : .2s;
		-moz-border-radius    : 5px;
		-webkit-border-radius : 5px;
		border-radius         : 5px;
	}
	.nano > .nano-pane > .nano-slider {
		background: #343a3d;
		position              : relative;
		margin                : 0 1px;
		-moz-border-radius    : 3px;
		-webkit-border-radius : 3px;
		border-radius         : 3px;
	}
	.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
		visibility : visible\9; /* Target only IE7 and IE8 with this hack */
		opacity    : 0.99;
	}
	.nano-content .row {
		padding-bottom: 30px;
	}
	.search-ordering {
	    width: 483px;
	}
}
#advertisement_remove{
	color: #bd5b5b;
	font-style: italic;
	font-size: 14px;
	margin-top: 7px;
	display: block;
	text-align: right;
}
#advertisement_remove:hover {
	color: #bd5b5b;
}
@media (min-width: 321px) {
	#cropper_image {
		width: 400px;
		height: 400px;
	}
	.sorting-dropdown {
        width: 300px;
    }
}
@media (max-width: 321px) {
	#cropper_image {
		width: 280px;
		height: 280px;
	}
	#stornoModal .modal-content{
		width: 300px;
		padding: 10px;
	}
	#stornoModal .btn-cancel-transaction {
		margin-top: 10px;
	}
}
@media (max-width: 450px) {
	.sorting-dropdown {
        width: auto;
    }

}
.cropper_modal {
	height: 610px;
	width: 600px;
}
.cropper_modal p {
	padding: 10px !important;
}
.cropper_modal .sweet-spacer, .cropper_modal .swal2-spacer {
	display: none !important;
}
.ad-upload-image-remove {
	z-index: 10;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #be5b5b;
}
.remove_attachment_modal {
	height: auto !important;
}
.ui-widget-content {
	background-color: #fff !important;
}
.ui-state-focus {
	border: inherit !important;
    color: #000 !important;
    background: #f2f2f2 !important;
}
#observe-header {
	margin-bottom: 10px;
}
.lightbox {
	display: none;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
}
.lightbox img {
    position: absolute;
	top: calc(50% - 32px);
    left: calc(50% - 32px);
	width: 64px;
	height: 64px;
}
.play-button {
	margin-top: 80px;
}
.play-button img {
	width: 80px;
	height: 80px;
}
.close-button {
	color: #fff !important;
	font-size: 20pt;
	position: absolute;
	top: 55px;
	right: 55px;
}
#lightbox_container {
	margin-left: auto;
	margin-right: auto;
}
@media(min-width: 992px) {
	#lightbox_container {
		margin-top: 10vh;
		max-width: 80vw;
	}
	#lightbox_container iframe {
		max-height: 80vh;
	}
}
@media(max-width: 991px) {
	#lightbox_container iframe {
		max-height: 100vh;
	}
	.search-ordering {
	    width: 750px;
	}
}
.distance-dropdown {
	border: 1px solid #979899 !important;
	color: #555 !important;
	padding: 6px 12px 6px 30px;
    background: url(../images/icon_location.png) 6px 10px no-repeat !important;
	background-size: auto 18px !important;
	width: 110px !important;
}
.distance-options {
	width: 110px;
	min-width: 110px;
}
.distance-dropdown span {
	color: #999;
}
.distance-selected span{
	color: #555
}
#articleofvalue_specified_container > label {
	font-weight: 200;
	margin-top: 40px;
}
#articleofvalue_not_specified_container {
	display: none;
}
.lease-price {
	background: url("../images/header_miete.png") center no-repeat !important;
}
.rent-price {
	background: url("../images/header_vermiete.jpg") center no-repeat !important;
}
.lease-price, .rent-price {
	background-size: cover !important;
	text-align: center !important;
	/*height: 80vh !important;*/
}
.lease-price .navbar, .rent-price .navbar {
	margin-bottom: 75px;
}
.lease-price .play-button, .rent-price .play-button {
    margin-top: 100px;
}
.lease-price .play-button img, .rent-price .play-button img, #demo-play-button img {
	width: 120px;
    height: 120px;
}
.lease-price h1, .rent-price h1 {
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 700;
}
.lease-price h2, .rent-price h2 {
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.btn-lease, .btn-lease:hover {
	background-color: #35a8e0;
}
.btn-lease, .btn-lease:hover, .btn-rent, .btn-rent:hover {
	font-weight: 700;
	font-size: 24px;
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	margin-bottom: 100px;
}
.btn-lease-header, .btn-lease-header:hover, .btn-rent-header, .btn-rent-header:hover {
    margin-top: 120px;
}
.btn-lease-header, .btn-lease-footer, .btn-rent-header, .btn-rent-footer {
    height: 60px;
    width: 600px;
}
.btn-lease-footer, .btn-lease-footer:hover {
    background-color: #0eaf9c;
}
#lease-features, #rent-features {
	margin-top: 80px;
    margin-bottom: 80px;
}
#lease-features .row div, #rent-features .row div {
	margin-top: 30px;
	margin-bottom: 30px;
}
#lease-features .btn-lease-header, #rent-features .btn-lease-header {
	margin: 0;
}
#lease-features .image-box, #rent-features .image-box {
    height: 60px;
    margin: 0 auto;
	line-height: 60px;
}
#lease-features .image-box img, #rent-features .image-box img {
	vertical-align: bottom;
}
#lease-testimonials, #rent-testimonials, .row-rent-income {
    padding-top: 80px;
}
.row-rent-income h5{
    margin-top: 30px;
}
.row-testimonials {
    margin-top: 30px;
    padding-bottom: 50px;
}
.row-testimonials .title {
    margin-top: 20px;
    height: 85px;
}
.row-testimonials .testimonial {
    width: 300px;
    margin: 0 auto;
}
.btn-discount {
    float: left;
}
.row-discount {
    margin-top: 50px;
    margin-bottom: 50px;
}
.lease-discount, .rent-discount {
    margin-top: 18px;
    float: left;
    clear: left;
    border: 3px dotted #35a8e0;
    color: #35a8e0;
    font-size: 24px;
    width: 540px;
    font-weight: 700;
    line-height: 40px;
}
.btn-discount-right {
    font-size: 24px;
	font-weight: 700;
}
.lease-discount-left-container, .rent-discount-left-container {
    margin-left: 50px;
}
.lease-discount-right-container, .rent-discount-right-container {
    padding: 14px;
    border: 3px dotted #0eaf9c;
    width: 266px;
    float: right;
    margin-right: 50px;
}
#easy-to-lease, #easy-to-rent {
    padding-top: 60px;
    padding-bottom: 80px;
    color: #0eaf9c;
}
.row-advantages h2{
    font-style: italic;
    color: #3dbfef;
    font-size: 94px;
	font-weight: 700;
}
.row-advantages h4 {
	font-size: 20px;
	font-weight: 700;
}
.row-advantages span {
	font-size: 20px;
	font-family: sofia-pro-condensed, sans-serif;
	font-style: normal;
	font-weight: 300;
}
#video_preview {
    background: url("../images/demo_video_gradient.png") repeat-x;
    height: 393px;
}
.row-demo-video {
    margin-top: 62px;
}
.row-demo-video h2 {
    color: #fff !important;
}
.demo-play-button {
    margin-top: 60px;
}
#lease_features_footer .row, #rent_features_footer .row {
    padding-top: 60px;
    padding-bottom: 60px;
}
#lease_features_footer button, #rent_features_footer button {
    display: block;
}
.btn-italic, .btn-italic:hover {
    font-style: italic;
}
.btn-lease-bottom-left, .btn-rent-bottom-left {
    margin-top: 15px;
}
.btn-lease-bottom-right, .btn-rent-bottom-right {
    margin-top: 61px;
}
#lease-features h3, #lease-testimonials h3, #rent-features h3, #row-easy-to-lease h3, .row-demo-video h2 {
	font-weight: 700;
	font-size: 30px;
	color: #0eaf9c;
}
.row-testimonials .title h4 {
	font-weight: 300;
}
.row-testimonials .title span {
	font-family: sofia-pro-condensed, sans-serif;
	font-style: normal;
	font-weight: 700;
}
.row-testimonials .testimonial {
	font-family: sofia-pro-condensed, sans-serif;
	font-style: italic;
	font-weight: 400;
}
#transfer_options {
	padding: 10px 10px 0 10px !important;
 	font-size: 0.9em;
}
#transfer_options label {
    font-weight: normal;
	width: calc(100% - 45px);
}
.col-video-demo {
	background: url("../images/gearo_iphone_mockup_miete.png") no-repeat;
	height: 100%;
	background-position: center top;
}
@media (max-width: 321px) {
	.lease-price .navbar, .rent-price .navbar {
		margin-bottom: 5px;
	}
    .btn-rent, .btn-rent-header, .btn-rent-bottom-right {
        font-size: 14px !important;
    }
    #rent_calculation {
        width: 100% !important;
    }
}
@media (max-width: 767px) {
    .search-ordering {
	    width: 100%;
	}
	.lease-price .play-button, .rent-price .play-button {
		margin-top: 30px;
	}
	.lease-price .play-button img, .rent-price .play-button img, #demo-play-button img {
		width: 80px;
		height: 80px;
	}
	.btn-lease-header, .btn-lease-footer, .btn-rent-header, .btn-rent-footer {
		width: 90%;
		margin-top: 30px;
	}
	.btn-lease, .btn-lease:hover, .btn-lease-bottom-right, .btn-lease-bottom-right,
    .btn-rent, .btn-rent:hover, .btn-rent-bottom-right, .btn-rent-bottom-right{
		font-size: 18px;
		height: 45px;
		margin-bottom: 50px;
	}
	#lease-features .btn-lease, #rent-features .btn-rent {
		width: 100%;
	}
	.lease-discount-left-container, .rent-discount-left-container {
		margin-left: 0;
	}
	.btn-discount {
		float: none;
	}
	.lease-discount, .rent-discount {
		width: 90%;
	}
	.lease-discount, .lease-discount-right-container, .rent-discount, .rent-discount-right-container {
		float: none;
		margin: 0 auto;
		margin-top: 10px;
	}
	.row-demo-video {
		height: 100%;
	}
	.row-demo-video h2 {
		margin-top: -35px;
	}
	.demo-play-button {
		margin-top: 110px;
	}
	#lease_features_footer button, #rent_features_footer button {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	#lease-features .row div, #rent-features .row div {
		margin-top: 0;
	}
    .btn-rent {
        font-size: 16px;
    }
	.btn-amazon-ref {
		width: 100% !important;
	}
	#transaction_details {
		margin: 0 !important;
	}
	#transaction_actions {
		width: 100% !important;
		height: auto !important;
	}
	.btn-return-protocol, .btn-handingover-protocol {
		width: calc(50% - 2px) !important;
		display: inline-block;
		background-position: 50% 10px !important;
	}
	.btn-download-invoice, .btn-generate-invoice {
		background-position: 50% 10px !important;
		width: 100% !important;
	}

	#result-categories {
	    margin-bottom: 15px;
	}
}
.full-height {
	height: 100%;
}
@media (max-width: 991px) {
	.row-testimonials .col-sm-12 {
		margin-bottom: 20px;
	}
	#landing_page_features {
	    margin-bottom: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.lease-discount, .rent-discount {
		width: 300px;
	}
	#lease_features_footer .col-sm-12 button, #rent_features_footer .col-sm-12 button {
		margin: 0 auto;
		margin-bottom: 20px;
		float: none;
	}
}
.rent-features-page #hdi-background, .rent-features-page #hdi {
	margin: 0;
}
.rent-stats span {
	color: #0eaf9c;
}
.row-rent-income {
	margin: 20px;
}
#rent_equipment_value, #rent_duration {
	width: 100%;
}
#rent_equipment_value .slider-selection, #rent_equipment_value .slider-handle,
#rent_duration .slider-selection, #rent_duration .slider-handle{
	background: #0eaf9c;
}
#rent_equipment_value_current, #rent_duration_current, #rent_yearly_income {
	color: #0eaf9c;
	font-size: 18px;
}
#rent_calculation {
	border: 1px solid #0eaf9c;
	width: 300px;
    margin: 0 auto;
	padding: 10px;
	margin-top: 30px;
}
#rent_yearly_income {
    font-size: 20px;
}
.search-ordering {
	padding: 0 15px 15px 15px;
	margin-left: auto;
	margin-right: auto;
}
.sorting-dropdown {
	border: none;
	background: #f9f9f9;
	padding: 6px 20px 6px 20px;
	background-size: auto 18px !important;
	text-align: left;
}
.sorting-dropdown .caret {
	float: right;
	margin-top: 8px;
}
.sorting-options {
	width: 300px;
	padding: 0;
	margin: 0;
	border: 0;
	background: #f9f9f9;
}
.btn-group.open .sorting-dropdown {
	box-shadow: none !important;
	border: 0 !important;
}
.sorting-options li a:hover {
	background: #0eaf9c !important;
}
.search-ordering .btn-group {
	float: right;
}
#sorting_label {
	line-height: 33px;
	height: 33px;
	display: inline-block;
}
.ui-timepicker-wrapper {
	height: auto !important;
	max-height: 150px;
}
.response-date-time,
.rent-dates {
    display: block;
    margin: 0 0 10px 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}
.rent-dates {
    background-color: #F9F9F9;
}
.rent-dates-arrow-background {
    background: url(../images/arrow.svg) no-repeat center;
    background-size: 80px;
}
#dateresponse {
    display: inline-block;
    height: 35px;
	width: 159px;
	background: url(../images/calendar_icon_padding.png) no-repeat;
	background-position: right center;
}
#timeresponse {
    display: inline-block;
    height: 35px;
	width: 159px;
	margin-left: -4px;
	background: url(../images/timer_icon_padding.png) no-repeat;
	background-position: right center;
	margin-bottom: 5px;
}
.rent-dates h4 {
    font-size: 16px;
}
.rent-dates .date {
    font-size: 15px;
}
#rent-dates-from, #rent-dates-to {
    display: table-cell;
	width: 160px;
	height: 80px;
	padding-left: 30px;
}
#rent-dates-to {
    padding-left: 45px;
}
#inquireb .popover {
	margin-left: 50px !important;
	margin-top: 73px;
}
.payment-box {
    position: relative;
	border: 1px solid #979899;
	padding: 10px 10px 0 10px;
	margin: 10px;
	min-height: 84px;
}
.payment-box div {
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
}
.payment-box img {
	width: 120px !important;
    height: auto !important;
	text-align: center;
}
.payment-text {
	margin: 10px;
	width: 200px !important;
    border: none !important;
}
.payment-info {
	margin-top: 10px;
}
.payment-info span {
	color: #35a8e0;
}
#ad_question_button, #ad_answer_button, .answerField {
	margin-top: 10px !important;
}
#loader {
	text-align: center;
}
#loader img {
	max-width: 48px;
	max-height: 48px;
}
.panel-rent-benefit {
    border: 1px #0eaf9c solid !important;
    border-radius: 0 !important;
    padding: 10px 20px;
    color: #0eaf9c;
	background: #f9f9f9 !important;
}
.panel-rent-benefit h3 {
	font-weight: 500;
	font-size: 15px;
}
.subpanel-rent-benefit {
    color: #bd5b5b;
    float: left;
    width: 50%;
	font-weight: 700;
	font-size: 16px;
}
.subpanel-rent-benefit h2, .subpanel-rent-benefit span {
    color: #3dbfef;
}
.subpanel-rent-benefit span {
    font-style: italic;
	font-weight: 700;
	font-size: 12px;
}
.subpanel-rent-benefit h2 {
    font-size: 50px;
	font-style: italic;
	font-weight: 700;
	margin-top: -10px;
    margin-bottom: -8px;
}
.subpanel-rent-benefit sup {
    font-size: 35px;
    top: -9px;
}
#pricebox_sun {
    width: 33px;
    height: 21px;
}
#pricebox_moon {
    width: 19px;
    height: 20px;
}
.transfer_icon {
    height: 34px;
    line-height: 34px;
    width: 45px;
    float: left;
    text-align: center;
	padding: 0 !important;
}
#transfer_options label span{
    width: 105px;
    display: inline-block;
}
#transfer_options input[type=checkbox] {
    vertical-align: top;
    margin-top: 10px !important;
	float: right;
}
.long_term_benefit {
	color: #bd5b5b;
}
#verifyerror ul, #verifyerror li {
	color: #bd5b5b;
}
#faqtenant div, #faqlessor div {
	display: none;
}
.type1 .online-status {
	right: 17.5px;
    top: 45px;
}
.type2 .online-status {
	left: 17.5px;
    top: 45px;
}
.online {
	background-color: #b6e7e1 !important;
}
.online-status {
	background-color: #e0e0e0;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 5px;
    position: absolute;
}
.btn-amazon-ref {
	background-color: #35a8e0 !important;
	background: url('../images/amazon_icon.png') no-repeat right 10px center;
	padding-right: 30px;
	margin-bottom: 20px;
	width: 230px;
}
.inquire-date-created {
	position: absolute;
    top: 50px;
    right: 20px;
	font-size: 12px;
    color: #c3beba;
    font-style: italic
}
#transaction_details {
	background-color: #f9f9f9;
	margin-right: 2px;
}
#transaction_details .panel-heading {
	text-align: center;
}
#transaction_details h5 {
    background-color: #3c4346;
    color: #fff;
    line-height: 2em;
    text-align: center;
	margin-top: 0;
}
.transaction_schedule {
	width: 350px;
	margin: 0 auto;
}
.transaction_pickup, .transaction_handover {
	padding: 5px 0 0 30px;
	background: url('../images/calendar.png') top left no-repeat;
	background-size: 22.5px 24.5px;
	float: left;
	width: 110px;
}
.chat_arrow {
	float: left;
	width: 110px;
	text-align: center;
	line-height: 65px;
}
.chat_arrow img {
	width: 10px;
	height: 18px;
}
.transaction_pickup, .transaction_handover, .chat_arrow {
	height: 65px;
}
.transaction_address, .transaction_contacts {
	margin: 0 auto;
	padding-left: 30px;
	width: 160px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.transaction_address {
	background: url('../images/location.png') center left no-repeat;
	background-size: 14px 21px;
}
.transaction_contacts {
	background: url('../images/telephone.png') center left no-repeat;
	background-size: 19px 19px;
}
#transaction_details, #transaction_actions {
	padding: 0;
}
#transaction_actions {
	background-color: #d2d2d2;
	width: 250px;
}
#transaction_actions .btn-href {
	width: 100%;
	color: #fff;
	text-align: center;
	height: 100px;
	background-size: 50px 50px;
	background-position: 100px 10px;
	padding-top: 70px;
	padding-bottom: 5px;
	cursor: not-allowed;
}
.btn-return-protocol {
	background: url('../images/rueckgabeprotokoll.png') no-repeat;
}
.btn-handingover-protocol {
	background: url('../images/uebergabeprotokoll.png') no-repeat;
}
.btn-generate-invoice {
	background: url('../images/rechnung_abschicken.png') no-repeat;
}
.btn-download-invoice {
	background: url('../images/rechnung_herunterladen.png') no-repeat;
}
#transaction_actions .status-active {
	background-color: #35a8e0;
	cursor: pointer;
}
#transaction_actions .status-done {
	background: url('../images/check.png') no-repeat;
	background-size: 50px 50px;
	background-position: 100px 10px;
}
.col-centered {
	margin: 0 auto;
	margin-right: auto !important;
	float: none;
}
.panel-gearo-safety-stamp {
	text-align: center;
}
#facebook_auth_button, #facebook_auth_button:hover {
	background-color: #3d599b;
    color: #fff;
    width: 100%;
    display: block;
    height: 44px;
    line-height: 44px;
    border-radius: 3px;
    padding: 0 !important;
	text-decoration: none;
}
#facebook_auth_button .fa {
    font-size: 20px;
    float: left;
    margin-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #fff;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
    margin-top: 6px;
}
#profilecontent .sub-headline {
	color: #c3beba;
}
#profilecontent #facebook_auth_button {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.verified-label {
	margin-top: 10px;
	color: white;
    background: #0eaf9c;
    border-radius: 0;
    border: none;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	width: 100%;
}
#landing_page_features {
    margin-top: 20px;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
}
#landing_page_features h3 {
    color: #0eaf9c;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 18px;
}
#benefits {
    padding-top: 40px;
    padding-bottom: 20px;
}

.blog-link {
    font-style: italic;
    margin-bottom: 5px;
}
.blog-link:hover {
    color: #0eaf9c;
    text-decoration: underline;
}
.bx-wrapper .bx-caption span {
	font-family: "sofia-pro-n4", "sofia-pro", "sofia pro regular", sans-serif;
}
.uppercase-header {
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 300;
}
#discount-code {
    width: 255px;
    margin: auto !important;
}
#payment_button {
    width: 100%;
    height: 42px;
}

.italic {
    font-style: italic;
}

#card_form {
    display: none;
}
#card_form input {
    display: inline-block;
}
.card-number {
    margin-bottom: 10px;
}
.card-cvc {
    width: 80px;
    margin-bottom: 15px;
    margin-left: 6px;
    text-align: center;
}
.active-payment-box {
    border-color: #0eaf9c;
    border-width: 3px;
}

.btn-image-id {
    width: 48%;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.btn-image-id input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#document_downside {
    float: right;
}
.input-group h5 {
    margin-top: 10px;
}
.image-id-headline {
    font-size: 13.5px;
}

.expiration-date-input {
    display: inline-block;
    width: 102px;
    text-align: center;
}
.expiration-date-input input {
    border: none;
    text-align: center;
    width: 30px;
    outline: none;
}

#powered-by-mangopay img {
    height: inherit;
    margin-top: 35px;
}

.bx-wrapper .bx-caption span {
    font-family: "sofia-pro-n4", "sofia-pro", "sofia pro regular", sans-serif;
}

.red-color {color: #bd5b5b;}

.margin-top-10px {margin-top: 10px !important;}
.margin-top-15px {margin-top: 15px;}
.margin-top-25px {margin-top: 25px;}

.full-width {width: 100%;}

.paypal-img-padding {padding: 5px 0 5px 0;}

.field-wrapper {
    display: table;
    width: 100%;
    position: relative;
    margin-top: -10px;
}
.field-span,
.avatar-span,
.buttons-span {
    display: table-cell;
    position: absolute;
}
.field-span {
    right: -30px;
    top: 18px;
}
.phone-field-span {top: 7px;}
.avatar-span {
    right: 75px;
    bottom: -5px;
}
.buttons-span {
    right: -30px;
    top: 7px;
}
.field-icon-check,
.avatar-icon-check {
    font-size: 22px !important;
    color: #0eaf9c !important;
}
.field-icon-exclamation,
.avatar-icon-exclamation{
    font-size: 22px !important;
    color: #bd5b5b !important;
    padding-right: 8px;
}
#id_gender + .field-span {top: 10px;}
#id_gender {margin-top: 10px;}
#id_gender li {
    display: inline !important;
    margin-right: 35px;
}
.green-icon,
.red-icon {
    left: -15px;
    top: 2px;
    font-size: 12px !important;
    position: absolute;
}
.green-icon {color: #0eaf9c;}
.red-icon {color: #bd5b5b;}

.recommended-text {
    position: absolute;
    right: 5px;
    bottom: 0px;
    font-size: 12px;
    color: #35a8e0;
}

.no-underline,
.no-underline:hover {
    text-decoration: none;
}
